t<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout-admin.html}"
>
  <!-- Main Content -->
  <div layout:fragment="content" class="content-wrapper">
    <!-- Order List  -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Branch List Table</h4>
            <!-- <div class="row grid-margin">
              <div class="col-12">
                <div
                  class="alert alert-success"
                  role="alert"
                  th:text="${success}"
                  th:if="${success}"
                >
                  
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr class="bg-primary text-black">
                        
                        <th>Address</th>
                        <th>Ward</th>
                        <th>District</th>
                        <th>Province</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each=" branch : ${branchsList}">
                        <td th:text="${branch.address}"></td>
                        <td
                          th:text="${branch.ward.name}"
                        ></td>
                        <td
                          th:text="${branch.ward.district.name}"
                        ></td>
                        <td th:text="${branch.ward.district.province.name}"></td>
                           
                        <td class="text-left">
                          <button class="btn btn-light">
                            <i class="ti-eye text-info"></i>View
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Order List  -->
  </div>
  <!-- End Main Content -->
</html>
