t<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout-admin.html}"
>
  <!-- Main Content -->
  <div layout:fragment="content" class="content-wrapper">
    <!-- Branch  -->
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Branch List</h3>
            <p class="card-description">View List Branch Here</p>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Has Children</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="categoryLevel0 : ${categoriesLevel0}">
                    <td class="py-1" th:text="${categoryLevel0.id}"></td>
                    <td th:text="${categoryLevel0.name}"></td>
                    <td>
                      <label
                        th:class="${categoryLevel0.parent} ? 'badge badge-success' : 'badge badge-danger'"
                        th:text="${categoryLevel0.parent} ? 'Yes' : 'No'"
                        >Yes</label
                      >
                    </td>
                    <td>
                      <label
                        th:class="${categoryLevel0.status} ? 'badge badge-success' : 'badge badge-danger'"
                        th:text="${categoryLevel0.status} ? 'Active' : 'Not Active'"
                        >Active</label
                      >
                    </td>
                    <td>
                      <button class="btn btn-inverse-info btn-icon btn-sm">
                        <a href="#" alt="edit">
                          <i class="mdi mdi-grease-pencil"></i>
                        </a>
                      </button>
                      <button
                        class="btn btn-inverse-danger btn-icon btn-sm btn-sm"
                      >
                        <a href="#" alt="remove">
                          <i class="mdi mdi-delete-forever"></i>
                        </a>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Branch  -->
  </div>
  <!-- End Main Content -->
</html>
