t<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout-admin.html}"
>
  <!-- Main Content -->
  <div layout:fragment="content" class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add New Promotion Table</h4>
            <p class="card-description">Add new promotion form layout</p>
            <form class="forms-sample">
              <div class="form-group row">
                <label
                  for="exampleInputUsername2"
                  class="col-sm-3 col-form-label"
                  >Promotion (%)</label
                >
                <div class="col-sm-9">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-danger text-white"
                        >%</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Promotion from 10 to 100"
                      aria-label="Username"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label"
                  >Category</label
                >
                <div class="col-sm-9">
                  <select class="js-example-basic-single w-100">
                    <option value="" selected>Select Product To Applied</option>
                    <option value="AL">Alabama</option>
                    <option value="WY">Wyoming</option>
                    <option value="AM">America</option>
                    <option value="CA">Canada</option>
                    <option value="RU">Russia</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label"
                  >Manufacturer</label
                >
                <div class="col-sm-9">
                  <select class="js-example-basic-single w-100">
                    <option value="" selected>Select Place To Applied</option>
                    <option value="AL">Alabama</option>
                    <option value="WY">Wyoming</option>
                    <option value="AM">America</option>
                    <option value="CA">Canada</option>
                    <option value="RU">Russia</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-4">
                  <div class="form-check form-check-success">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="status"
                        value="1"
                      />
                      Active
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check form-check-danger">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="status"
                        value="0"
                      />
                      Not Active
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-12">
                  <div
                    class="input-group input-daterange d-flex align-items-center"
                  >
                    <input
                      type="text"
                      class="form-control"
                      value="2012-04-05"
                    />
                    <div class="input-group-addon mx-4">to</div>
                    <input
                      type="text"
                      class="form-control"
                      value="2012-04-19"
                    />
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-success me-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Content -->
</html>
