<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{dong-ho.html}"
>
  <head> </head>
  <body>
    <!-- Top Banner Đồng Hồ -->
    <div th:fragment="banner-top-dong-ho" class="top-banner">
      <section>
        <div class="slider-bannertop owl-carousel owl-theme">
          <div class="item">
            <a
              aria-label="slide"
              data-cate="7264"
              data-place="1554"
              href="dong-ho-gia-soc.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55180&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                src="../cdn.tgdd.vn/2022/05/banner/800-200-800x200-204.png"
                alt="đồng hồ thời trang"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="7264"
              data-place="1554"
              href="dong-ho-deo-tay-elio.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55195&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-206.png"
                alt="elio"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="7264"
              data-place="1554"
              href="dong-ho-cao-cap.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55775&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-92.png"
                alt="olol"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="7264"
              data-place="1554"
              href="dong-ho-deo-tay.html#c=7264&m=17839,24926,24927&o=8&pi=0"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55202&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-208.png"
                alt="elio"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="7264"
              data-place="1554"
              href="dong-ho-deo-tay-mvw.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55208&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-211.png"
                alt="mvw"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="7264"
              data-place="1554"
              href="dong-ho-deo-tay-titan.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55204&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-209.png"
                alt="titan"
            /></a>
          </div>
        </div>
        <div class="promote-banner">
          <a href="Tr%e1%ba%a3%20g%c3%b3p%200%25.html" class="promote-item">
            <a
              aria-label="slide"
              data-cate="7264"
              data-place="1555"
              href="dong-ho-gia-soc.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55987&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                src="../cdn.tgdd.vn/2022/06/banner/2-390x97.png"
                alt="Smartwatch"
            /></a>
          </a>
          <a href="Tr%e1%ba%a3%20g%c3%b3p%200%25.html" class="promote-item">
            <a
              aria-label="slide"
              data-cate="7264"
              data-place="1555"
              href="tin-tuc9655.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55997&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                src="../cdn.tgdd.vn/2022/06/banner/3-390x97.png"
                alt="Smartwatch"
            /></a>
          </a>
        </div>
      </section>
    </div>
    <!-- End -->
  </body>
</html>
