<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{dong-ho.html}"
>
  <head> </head>
  <body>
    <!-- Dây Đồng Hồ -->
    <div th:fragment="day-dong-ho" class="wlstrap">
      <div class="line-strap clearfix">
        <h4>Dây da đồng hồ</h4>
        <div class="option-wl">
          <span> Bề rộng dây:</span>
          <a href="day-dong-hofc25.html?g=12-mm">12 mm</a>
          <a href="day-dong-ho17c7.html?g=14-mm">14 mm</a>
          <a href="day-dong-ho827d.html?g=16-mm">16 mm</a>
          <a href="day-dong-hoa468.html?g=18-mm">18 mm</a>
          <a href="day-dong-ho15d7.html?g=20-mm">20 mm</a>
          <a href="day-dong-ho6558.html?g=22-mm">22 mm</a>
        </div>

        <a
          href="day-dong-ho.html"
          data-text="Xem tất cả dây dồng hồ"
          class="see-all"
          >Xem thêm tất cả dây đồng hồ</a
        >
      </div>
      <div class="prt-watch">
        <ul class="tab-content">
          <li>
            <a href="day-dong-ho-thoi-trang.html">
              <img
                src="../cdn.tgdd.vn/Category/Quicklink/7978/1/090521-050308.jpg"
                alt="&#x110;&#x1ED3;ng h&#x1ED3; th&#x1EDD;i trang"
              />
              <h3>&#x110;&#x1ED3;ng h&#x1ED3; th&#x1EDD;i trang</h3>
            </a>
          </li>
          <li>
            <a href="day-dong-hoe64e.html?g=day-apple-watch">
              <img
                src="../cdn.tgdd.vn/Category/Quicklink/7978/1/090521-051259.jpg"
                alt="Apple Watch"
              />
              <h3>Apple Watch</h3>
            </a>
          </li>
          <li>
            <a href="day-dong-ho2783.html?g=day-miband">
              <img
                src="../cdn.tgdd.vn/Category/Quicklink/7978/1/090521-050915.jpg"
                alt="Miband"
              />
              <h3>Miband</h3>
            </a>
          </li>
          <li>
            <a href="day-dong-ho5d76.html?g=day-samsung-watch">
              <img
                src="../cdn.tgdd.vn/Category/Quicklink/7978/1/090521-050919.jpg"
                alt="Samsung Watch"
              />
              <h3>Samsung Watch</h3>
            </a>
          </li>
          <li>
            <a href="day-dong-ho1687.html?g=day-huawei-watch">
              <img
                src="../cdn.tgdd.vn/Category/Quicklink/7978/1/090521-050925.jpg"
                alt="Huawei Watch"
              />
              <h3>Huawei Watch</h3>
            </a>
          </li>
          <li>
            <a href="day-dong-ho7ffa.html?g=day-da-tong-hop">
              <img
                src="../cdn.tgdd.vn/Category/Quicklink/7978/1/030521-113903.jpg"
                alt="Da t&#x1ED5;ng h&#x1EE3;p"
              />
              <h3>Da t&#x1ED5;ng h&#x1EE3;p</h3>
            </a>
          </li>
          <li>
            <a href="day-dong-ho695d.html?g=day-silicone">
              <img
                src="../cdn.tgdd.vn/Category/Quicklink/7978/1/280421-091748.jpg"
                alt="Silicone"
              />
              <h3>Silicone</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
