<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{dong-ho.html}"
>
  <head> </head>
  <body>
    <!-- Video và  Tin Tức Về Đồng Hồ -->
    <div th:fragment="video-news-dong-ho" class="application">
      <div class="col1">
        <div class="ttl-main">
          <h4 class="title-layout">VIDEO</h4>
          <a
            href="https://www.youtube.com/playlist?list=UURjKJpxcPbeW3stQBUKLovQ"
            class="readmore-txt blue"
            target="_blank"
            >Xem thêm</a
          >
        </div>
        <div class="col1__ct">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/pQlCOhDxII4?list=UURjKJpxcPbeW3stQBUKLovQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col2">
        <div class="ttl-main">
          <h4 class="title-layout">TIN TỨC</h4>
          <a
            href="tin-tuc/chu-de/the-gioi-dong-ho-156.html"
            class="readmore-txt blue"
            >Xem thêm</a
          >
        </div>
        <div class="col2__ct">
          <div class="col2-simple">
            <a href="tin-tuc6056.html" class="spl-item">
              <div class="spl-item__img">
                <img
                  class="lazyload"
                  data-src="../cdn.tgdd.vn/Files/2022/06/28/1443183/thumbnail_1280x720-200x200.png"
                />
              </div>
              <div class="spl-item__content">
                <p class="spl-item-title spl-item-title__news">
                  Apple c&#xF3; th&#x1EC3; trang b&#x1ECB; t&#xED;nh n&#x103;ng
                  gi&#x1EA3;m ngu&#x1ED3;n &#x111;i&#x1EC7;n, gi&#xFA;p pin
                  Watch Series 8 &#x27;tr&#xE2;u&#x27; h&#x1A1;n
                </p>
                <p class="spl-item-hour">5 gi&#x1EDD; tr&#x1B0;&#x1EDB;c</p>
              </div>
            </a>
            <a href="tin-tucb7fb.html" class="spl-item">
              <div class="spl-item__img">
                <img
                  class="lazyload"
                  data-src="../cdn.tgdd.vn/Files/2022/06/28/1443177/applewatch_1280x720-200x200.jpg"
                />
              </div>
              <div class="spl-item__content">
                <p class="spl-item-title spl-item-title__news">
                  Top 5 m&#x1EAB;u Apple Watch &#x111;ang
                  &#x111;&#x1B0;&#x1EE3;c sale &#x111;&#x1EAD;m t&#x1EA1;i
                  TGD&#x110;, d&#x1B0;&#x1EDB;i 6 tri&#x1EC7;u c&#xF3; lu&#xF4;n
                </p>
                <p class="spl-item-hour">5 gi&#x1EDD; tr&#x1B0;&#x1EDB;c</p>
              </div>
            </a>
            <a href="tin-tuc1acb.html" class="spl-item">
              <div class="spl-item__img">
                <img
                  class="lazyload"
                  data-src="../cdn.tgdd.vn/Files/2022/06/28/1443106/thumbnail_1280x720-200x200.png"
                />
              </div>
              <div class="spl-item__content">
                <p class="spl-item-title spl-item-title__news">
                  M&#xE0;n h&#xEC;nh MIP l&#xE0; g&#xEC;? Th&#x1EBF; m&#x1EA1;nh
                  gi&#xFA;p &#x111;&#x1ED3;ng h&#x1ED3; Garmin d&#x1EAB;n
                  &#x111;&#x1EA7;u th&#x1ECB; tr&#x1B0;&#x1EDD;ng
                  &#x111;&#x1ED3;ng h&#x1ED3; GPS
                </p>
                <p class="spl-item-hour">6 gi&#x1EDD; tr&#x1B0;&#x1EDB;c</p>
              </div>
            </a>
            <a href="tin-tuc626c.html" class="spl-item">
              <div class="spl-item__img">
                <img
                  class="lazyload"
                  data-src="../cdn.tgdd.vn/Files/2022/06/28/1443143/thumb_1280x720-200x200.jpg"
                />
              </div>
              <div class="spl-item__content">
                <p class="spl-item-title spl-item-title__news">
                  Garmin Fenix 6 &#x111;ang gi&#x1EA3;m h&#x1A1;n 7
                  tri&#x1EC7;u, mua ngay c&#xE1;c &#x27;fen&#x27; &#x1A1;i!
                </p>
                <p class="spl-item-hour">7 gi&#x1EDD; tr&#x1B0;&#x1EDB;c</p>
              </div>
            </a>
            <a href="tin-tuca922.html" class="spl-item">
              <div class="spl-item__img">
                <img
                  class="lazyload"
                  data-src="../cdn.tgdd.vn/Files/2022/06/27/1442997/thumbnail1_1280x720-200x200.png"
                />
              </div>
              <div class="spl-item__content">
                <p class="spl-item-title spl-item-title__news">
                  Apple Watch Series 8 kh&#xF4;ng &#x111;&#x1B0;&#x1EE3;c
                  n&#xE2;ng c&#x1EA5;p quan tr&#x1ECD;ng, ng&#x1B0;&#x1EDD;i
                  h&#xE2;m m&#x1ED9; &#x27;s&#x1ED1;c n&#x1EB7;ng&#x27;
                </p>
                <p class="spl-item-hour">16 gi&#x1EDD; tr&#x1B0;&#x1EDB;c</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Video và Tin Tức Về Đồng Hồ -->
  </body>
</html>
