<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin Login</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/admin/feather/feather.css}" />
    <link
      rel="stylesheet"
      th:href="@{/vendors/admin/ti-icons/css/themify-icons.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/vendors/admin/css/vendor.bundle.base.css}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/images/admin/favicon.ico}" />
  </head>

  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            s
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                  <img th:src="@{/images/admin/logo-tgdd.svg}" alt="logo" />
                </div>
                <h3>Hello! let's get started</h3>
                <h6 class="font-weight-light">Login to Admin Home Page.</h6>
                <form method="POST" th:action="@{/login}" class="pt-3">
                  <div class="form-group">
                    <input
                      for="username"
                      type="text"
                      class="form-control form-control-lg"
                      id="username"
                      name="username"
                      placeholder="Username"
                      autofocus
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      for="password"
                      type="password"
                      name="password"
                      class="form-control form-control-lg"
                      id="password"
                      placeholder="Password"
                      required
                    />
                  </div>
                  <div
                    th:if="${param.error}"
                    class="btn btn-inverse-danger btn-fw btn-block"
                  >
                    Invalid username and password.
                  </div>
                  <div
                    th:if="${param.logout}"
                    class="btn btn-inverse-success btn-fw btn-block"
                  >
                    You have been logged out.
                  </div>
                  <div class="mt-3">
                    <button
                      type="submit"
                      class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                    >
                      LOG IN
                    </button>
                  </div>
                  <div class="text-center mt-4 font-weight-light">
                    <a class="text-dark" th:href="@{/}">Back To Home Page</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script th:src="@{/js/admin/off-canvas.js}"></script>
    <script th:src="@{/js/admin/hoverable-collapse.js}"></script>
    <script th:src="@{/js/admin/template.js}"></script>
    <!-- endinject -->
  </body>
</html>
