t<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout-admin.html}"
>
  <!-- Main Content -->
  <div layout:fragment="content" class="content-wrapper">
    <!-- Order List  -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Member List Table</h4>
            <!-- <div class="row grid-margin">
              <div class="col-12">
                <div
                  class="alert alert-success"
                  role="alert"
                  th:text="${success}"
                  th:if="${success}"
                >
                  
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr class="bg-primary text-black">
                        <th>No. #</th>
                        <th>Full Name</th>
                        <th>(+84)Phone Number</th>
                        <th>Gender</th>
                        <th>No. Street/Lane</th>
                        <th>Wards</th>
                        <th>District</th>
                        <th>City</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="member : ${members}">
                        <td th:text="${member.id}"></td>
                        <td th:text="${member.fullname}"></td>
                        <td th:text="${member.phone}"></td>
                        <td th:text="${member.gender} ? 'Male' : 'Female'"></td>
                        <td th:text="${member.gender}"></td>
                        <td th:text="${member.gender}"></td>
                        <td th:text="${member.gender}"></td>
                        <td th:text="${member.gender}"></td>
                        <td class="text-left">
                          <button class="btn btn-light">
                            <i class="ti-eye text-info"></i>View
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Order List  -->
  </div>
  <!-- End Main Content -->
</html>
