<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{laptop-ldp.html}"
>
  <head> </head>
  <body>
    <!-- Top Banner Laptop -->
    <div th:fragment="top-banner-laptop" class="banner">
      <div class="top-banner">
        <section>
          <div class="slider-bannertop owl-carousel owl-theme">
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="lenovo.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55782&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  src="../cdn.tgdd.vn/2022/06/banner/800-200-800x200-93.png"
                  alt="Laptop Lenovo"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="uu-dai-soc.html#laptop"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55691&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-85.png"
                  alt="Laptop chung"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="laptop/apple-macbook-pro-13-inch-m2-2022.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=56006&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/mac-m2-800-200-800x200.png"
                  alt="MacBook"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="laptop-gaming.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55783&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-94.png"
                  alt="Laptop Gaming"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="laptop-acer.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55555&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-52.png"
                  alt="Laptop Acer"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="laptop-hp-compaq.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55320&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-225.png"
                  alt="Laptop HP"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="laptop-asus.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55323&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-226.png"
                  alt="Laptop Asus"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="laptop-msi.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55501&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-32.png"
                  alt="Laptop MSI"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="laptop-apple-macbook.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=54602&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/xk-mac-800-200-800x200.png"
                  alt="MacBook"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="laptop-dell.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55554&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-51.png"
                  alt="Laptop Dell"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="laptop-lg.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55897&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/lg-800-200-800x200.png"
                  alt="Laptop LG"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="windows-ban-quyen.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55329&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-228.png"
                  alt="Windows Bản Quyền"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1554"
                href="laptop.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55899&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-103.png"
                  alt="Windows Bản Quyền"
              /></a>
            </div>
          </div>
          <div class="promote-banner">
            <a href="sticky.html" class="promote-item">
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1555"
                href="intel-gen-12.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=54471&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  src="../cdn.tgdd.vn/2022/05/banner/sticky-intel-390-97-390x97.png"
                  alt="Sticky Evo Gen11"
              /></a>
            </a>
            <a
              href="Gi%e1%ba%a3i%20%c4%91%e1%ba%bfn%2050%25.html"
              class="promote-item"
            >
              <a
                aria-label="slide"
                data-cate="44"
                data-place="1555"
                href="laptop-gia-soc.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55559&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  src="../cdn.tgdd.vn/2022/06/banner/Xa-hang-Laptop-2-390x97-1.png"
                  alt="Xả hàng laptop"
              /></a>
            </a>
          </div>
        </section>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
