<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{laptop-ldp.html}"
>
  <head> </head>
  <body>
    <!-- Banner Bottom Laptop -->
    <div th:fragment="banner-bottom-laptop" class="content2">
      <section>
        <div class="trademark">
          <h4 class="title-layout">CHUYÊN TRANG THƯƠNG HIỆU</h4>
          <div class="trademark-slider owl-carousel" data-size="4">
            <a
              aria-label="slide"
              data-cate="44"
              data-place="1687"
              href="laptop-gaming2218.html?itm_source=laptop&amp;itm_medium=brand_banner&amp;itm_campaign=internal_tracking&amp;itm_content=desktop_1575"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=45527&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="390"
                height="210"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2021/08/banner/Chuyentrangthuonghieu10-576x310.jpg"
                alt="Laptop Gaming" /></a
            ><a
              aria-label="slide"
              data-cate="44"
              data-place="1687"
              href="khuyen-mai-soc/macbook-imac.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=45525&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="390"
                height="210"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2021/08/banner/Chuyentrangthuonghieu9-576x310.jpg"
                alt="macbook" /></a
            ><a
              aria-label="slide"
              data-cate="44"
              data-place="1687"
              href="lenovo2218.html?itm_source=laptop&amp;itm_medium=brand_banner&amp;itm_campaign=internal_tracking&amp;itm_content=desktop_1575"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=45524&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="390"
                height="210"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2021/08/banner/Chuyentrangthuonghieu5-576x310.jpg"
                alt="SIS Lenovo" /></a
            ><a
              aria-label="slide"
              data-cate="44"
              data-place="1687"
              href="hp2218.html?itm_source=laptop&amp;itm_medium=brand_banner&amp;itm_campaign=internal_tracking&amp;itm_content=desktop_1575"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=45526&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="390"
                height="210"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2021/08/banner/Chuyentrangthuonghieu7-576x310.jpg"
                alt="SIS laptop HP"
            /></a>
          </div>
        </div>

        <div class="block-orther-cate">
          <h3>CÁC SẢN PHẨM CÔNG NGHỆ KHÁC</h3>
          <div>
            <a href="man-hinh-may-tinh.html">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/laptop/man-hinh.png"
                class="lazy"
              />
              <span>Màn hình</span>
            </a>
            <a href="may-in.html">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/laptop/may-in.png"
                class="lazy"
              />
              <span>Máy in</span>
            </a>
            <a href="chuot-may-tinh.html">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/laptop/chuot.png"
                class="lazy"
              />
              <span>Chuột</span>
            </a>
            <a href="phan-mem.html">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/laptop/phan-mem.png"
                class="lazy"
              />
              <span>Phần mềm</span>
            </a>
            <a href="usb.html">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/laptop/usb.png"
                class="lazy"
              />
              <span>USB</span>
            </a>
            <a href="ban-phim.html">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/laptop/ban-phim.png"
                class="lazy"
              />
              <span>Bàn phím</span>
            </a>
            <a href="sac-cap.html">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/laptop/sac-cap.png"
                class="lazy"
              />
              <span>Sac, cáp</span>
            </a>
            <a href="o-cung-di-dong.html">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/laptop/o-cung.png"
                class="lazy"
              />
              <span>Ổ cứng</span>
            </a>
            <a href="loa-laptop.html">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/laptop/loa.png"
                class="lazy"
              />
              <span>Loa</span>
            </a>
            <a href="tai-nghe.html">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/laptop/tai-nghe.png"
                class="lazy"
              />
              <span>Tai nghe</span>
            </a>
          </div>
        </div>
      </section>
    </div>
    <!-- End  -->
  </body>
</html>
