<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{laptop-ldp.html}"
>
  <head> </head>
  <body>
    <!-- Deal Sốc -->
    <div th:fragment="deal-soc-laptop" class="deal" id="dealsoc">
      <section>
        <div class="deal-main lunar">
          <h2 class="deal__title">
            <a href="#" style="background: url(); background-size: cover">
              <img
                style="cursor: pointer"
                src="../cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/laptop/bg_tet_desk.png"
                alt="Hotdeal"
                width="1200"
                height="90"
              />
              <span class="txtDs">Deal sốc</span>
              <span class="txtGd">GIẢM TỚI 15.000.000&#x20AB;</span>
            </a>
          </h2>
          <div class="listproduct listproduct-deal owl-carousel">
            <div
              class="item"
              data-productid="263977"
              data-pos="1"
              data-id="263977"
            >
              <a
                href="laptop/acer-travelmate-b3-tmb311-31-p49d-n5030-nxvnfsv0057356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Acer TravelMate B3 TMB311 31 P49D N5030/4GB/256GB/Win11 (NX.VNFSV.005)"
                data-id="263977"
                data-price="5490000.0"
                data-brand="Acer"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/263977/TimerThumb/acer-travelmate-b3-tmb311-31-p49d-n5030-nxvnfsv005-(18).jpg"
                    alt="Acer TravelMate B3 TMB311 31 P49D N5030 (NX.VNFSV.005)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/label-win11.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop Acer TravelMate B3 TMB311 31 P49D N5030/4GB/256GB/Win11 (NX.VNFSV.005)"
                >
                  Acer TravelMate B3 TMB311 31 P49D N5030 (NX.VNFSV.005)
                </h3>
                <div class="item-compare">
                  <span>RAM 4 GB</span>
                  <span>SSD 256 GB</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">10.990.000&#x20AB;</p>
                  <span class="percent">-50%</span>
                </div>
                <strong class="price">5.490.000&#x20AB;</strong>
                <p class="item-gift">Quà <b>100.000₫</b></p>
              </a>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </p>
                <p class="item-rating-total">29</p>
              </div>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>11.6", HD</span></p>
                <p><span>CPU </span><span>Pentium, N5030, 1.1GHz</span></p>
                <p><span>Card </span><span>Intel UHD 605</span></p>
                <p><span>Pin </span><span>3-cell, 48Wh</span></p>
                <p><span>Nhẹ </span><span>1.4 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="274463"
              data-pos="2"
              data-id="274463"
            >
              <a
                href="laptop/lenovo-ideapad-1-11igl05-n5030-81vt006fvn7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Lenovo Ideapad 1 11IGL05 N5030/4GB/256GB/Win11 (81VT006FVN)"
                data-id="274463"
                data-price="6290000.0"
                data-brand="Lenovo"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label"></div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/274463/TimerThumb/lenovo-ideapad-1-11igl05-n5030-81vt006fvn.jpg"
                    alt="Lenovo Ideapad 1 11IGL05 (81VT006FVN)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/Label_01-01.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp5">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="THÁNG LENOVO"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon5-50x50.png"
                  /><span>THÁNG LENOVO</span>
                </p>
                <h3
                  title="Laptop Lenovo Ideapad 1 11IGL05 N5030/4GB/256GB/Win11 (81VT006FVN)"
                >
                  Lenovo Ideapad 1 11IGL05 (81VT006FVN)
                </h3>
                <div class="item-compare">
                  <span>RAM 4 GB</span>
                  <span>SSD 256 GB</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">8.990.000&#x20AB;</p>
                  <span class="percent">-30%</span>
                </div>
                <strong class="price">6.290.000&#x20AB;</strong>
                <p class="item-gift">Quà <b>100.000₫</b></p>
              </a>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">120</p>
              </div>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>11.6", HD</span></p>
                <p><span>CPU </span><span>Pentium, N5030, 1.1GHz</span></p>
                <p><span>Card </span><span>Intel UHD 605</span></p>
                <p><span>Pin </span><span>32Wh</span></p>
                <p><span>Nhẹ </span><span>1.2 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="239552"
              data-pos="3"
              data-id="239552"
            >
              <a
                href="laptop/apple-macbook-air-m1-2020-z124000de7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Apple MacBook Air M1 2020 16GB/256GB/7-core GPU"
                data-id="239552"
                data-price="28990000.0"
                data-brand="MacBook"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label"></div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/239552/TimerThumb/apple-macbook-air-m1-2020-z124000de-(16).jpg"
                    alt="MacBook Air M1 2020 7-core GPU"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop Apple MacBook Air M1 2020 16GB/256GB/7-core GPU"
                >
                  MacBook Air M1 2020 7-core GPU
                </h3>
                <div class="item-compare">
                  <span>RAM 16 GB</span>
                  <span>SSD 256 GB</span>
                </div>
                <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
                <div class="box-p">
                  <p class="price-old black">33.990.000&#x20AB;</p>
                  <span class="percent">-14%</span>
                </div>
                <strong class="price">28.990.000&#x20AB;</strong>
              </a>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">24</p>
              </div>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>13.3", Retina</span></p>
                <p><span>CPU </span><span>Apple M1</span></p>
                <p><span>Card </span><span>7 nhân GPU</span></p>
                <p><span>Pin </span><span>Khoảng 10 tiếng</span></p>
                <p><span>Nhẹ </span><span>1.29 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="231253"
              data-pos="4"
              data-id="231253"
            >
              <a
                href="laptop/apple-macbook-pro-2020-m1-myd82saa7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Apple MacBook Pro M1 2020 8GB/256GB"
                data-id="231253"
                data-price="31290000.0"
                data-brand="MacBook"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label"></div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/231253/TimerThumb/macbook-pro-m1-2020-gray-600x600.jpg"
                    alt="MacBook Pro M1 2020"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3 title="Laptop Apple MacBook Pro M1 2020 8GB/256GB">
                  MacBook Pro M1 2020
                </h3>
                <div class="item-compare">
                  <span>RAM 8 GB</span>
                  <span>SSD 256 GB</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">34.990.000&#x20AB;</p>
                  <span class="percent">-10%</span>
                </div>
                <strong class="price">31.290.000&#x20AB;</strong>
              </a>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </p>
                <p class="item-rating-total">15</p>
              </div>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>13.3", Retina</span></p>
                <p><span>CPU </span><span>Apple M1</span></p>
                <p><span>Card </span><span>8 nhân GPU</span></p>
                <p><span>Pin </span><span>Khoảng 10 tiếng</span></p>
                <p><span>Nhẹ </span><span>1.4 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="263980"
              data-pos="5"
              data-id="263980"
            >
              <a
                href="laptop/acer-nitro-5-gaming-an515-45-r6ev-r5-nhqbmsv0067356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Acer Nitro 5 Gaming AN515 45 R6EV R5 5600H/8GB/512GB/144Hz/4GB GTX1650/Win11 (NH.QBMSV.006)"
                data-id="263980"
                data-price="19190000.0"
                data-brand="Acer"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/263980/TimerThumb/acer-nitro-5-gaming-an515-45-r6ev-r5-nhqbmsv006-(18).jpg"
                    alt="Acer Nitro 5 Gaming AN515 45 R6EV R5 5600H (NH.QBMSV.006)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/label-win11.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop Acer Nitro 5 Gaming AN515 45 R6EV R5 5600H/8GB/512GB/144Hz/4GB GTX1650/Win11 (NH.QBMSV.006)"
                >
                  Acer Nitro 5 Gaming AN515 45 R6EV R5 5600H (NH.QBMSV.006)
                </h3>
                <div class="item-compare">
                  <span>RAM 8 GB</span>
                  <span>SSD 512 GB</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">23.990.000&#x20AB;</p>
                  <span class="percent">-20%</span>
                </div>
                <strong class="price">19.190.000&#x20AB;</strong>
                <p class="item-gift">Quà <b>1.880.000₫</b></p>
              </a>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">30</p>
              </div>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>15.6", Full HD, 144Hz</span></p>
                <p><span>CPU </span><span>Ryzen 5, 5600H, 3.3GHz</span></p>
                <p><span>Card </span><span>GTX 1650 4GB</span></p>
                <p><span>Pin </span><span>4-cell, 57Wh</span></p>
                <p><span>Nhẹ </span><span>2.2 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="271042"
              data-pos="6"
              data-id="271042"
            >
              <a
                href="laptop/acer-aspire-7-gaming-a715-75g-58u4-i5-nhq97sv0047356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Acer Aspire 7 Gaming A715 75G 58U4 i5 10300H/8GB/512GB/4GB GTX1650/Win11 (NH.Q97SV.004)"
                data-id="271042"
                data-price="17590000.0"
                data-brand="Acer"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/271042/acer-aspire-7-gaming-a715-75g-58u4-i5-nhq97sv004-260122-044206-450x300.jpg"
                    alt="Acer Aspire 7 Gaming A715 75G 58U4 i5 10300H (NH.Q97SV.004)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/label-win11.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop Acer Aspire 7 Gaming A715 75G 58U4 i5 10300H/8GB/512GB/4GB GTX1650/Win11 (NH.Q97SV.004)"
                >
                  Acer Aspire 7 Gaming A715 75G 58U4 i5 10300H (NH.Q97SV.004)
                </h3>
                <div class="item-compare">
                  <span>RAM 8 GB</span>
                  <span>SSD 512 GB</span>
                </div>
                <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
                <div class="box-p">
                  <p class="price-old black">21.990.000&#x20AB;</p>
                  <span class="percent">-20%</span>
                </div>
                <strong class="price">17.590.000&#x20AB;</strong>
                <p class="item-gift">Quà <b>2.230.000₫</b></p>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>15.6", Full HD</span></p>
                <p><span>CPU </span><span>i5, 10300H, 2.5GHz</span></p>
                <p><span>Card </span><span>GTX 1650 4GB</span></p>
                <p><span>Pin </span><span>48Wh</span></p>
                <p><span>Nhẹ </span><span>2.15 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="265019"
              data-pos="7"
              data-id="265019"
            >
              <a
                href="laptop/intel-nuc-m15-i5-bbc510eauxbc17356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Intel NUC M15 Kit i5 1135G7/16GB/512GB/Win10 (BBC510EAUXBC1)"
                data-id="265019"
                data-price="24990000.0"
                data-brand="Intel"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label"></div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/265019/TimerThumb/intel-nuc-m15-i5-bbc510eauxbc1-(18).jpg"
                    alt="Intel NUC M15 Kit i5 1135G7 (BBC510EAUXBC1)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/11th-gen-core-i5-processors-badge-rwd.png.rendition.intel.web.550.550.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop Intel NUC M15 Kit i5 1135G7/16GB/512GB/Win10 (BBC510EAUXBC1)"
                >
                  Intel NUC M15 Kit i5 1135G7 (BBC510EAUXBC1)
                </h3>
                <div class="item-compare">
                  <span>RAM 16 GB</span>
                  <span>SSD 512 GB</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">34.990.000&#x20AB;</p>
                  <span class="percent">-28%</span>
                </div>
                <strong class="price">24.990.000&#x20AB;</strong>
                <p class="item-gift">Quà <b>100.000₫</b></p>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>15.6", Full HD</span></p>
                <p><span>CPU </span><span>i5, 1135G7, 2.4GHz</span></p>
                <p><span>Card </span><span>Intel Iris Xe</span></p>
                <p><span>Pin </span><span>73Wh</span></p>
                <p><span>Nhẹ </span><span>1.65 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="263792"
              data-pos="8"
              data-id="263792"
            >
              <a
                href="laptop/msi-modern-15-a5m-r7-237vn7356.html?src=osp"
                data-s="CleanStock"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop MSI Modern 15 A5M R7 5700U/8GB/512GB/T&#xFA;i/Chu&#x1ED9;t/Win11 (237VN)"
                data-id="263792"
                data-price="17190000.0"
                data-brand="MSI"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label"></div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/263792/TimerThumb/msi-modern-15-a5m-r7-237vn-(18).jpg"
                    alt="MSI Modern 15 A5M R7 5700U (237VN)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/label-win11.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop MSI Modern 15 A5M R7 5700U/8GB/512GB/T&#xFA;i/Chu&#x1ED9;t/Win11 (237VN)"
                >
                  MSI Modern 15 A5M R7 5700U (237VN)
                </h3>
                <div class="item-compare">
                  <span>RAM 8 GB</span>
                  <span>SSD 512 GB</span>
                </div>
                <p class="item-txt-online">X&#x1EA3; kho gi&#xE1; s&#x1ED1;c</p>
                <div class="box-p">
                  <p class="price-old black">18.990.000&#x20AB;</p>
                  <span class="percent">-9%</span>
                </div>
                <strong class="price">17.190.000&#x20AB;</strong>
              </a>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </p>
                <p class="item-rating-total">7</p>
              </div>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>15.6", Full HD</span></p>
                <p><span>CPU </span><span>Ryzen 7, 5700U, 1.8GHz</span></p>
                <p><span>Card </span><span>Radeon</span></p>
                <p><span>Pin </span><span>3-cell, 52Wh</span></p>
                <p><span>Nhẹ </span><span>1.6 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="271090"
              data-pos="9"
              data-id="271090"
            >
              <a
                href="laptop/dell-gaming-alienware-m15-r6-i7-702726337356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Dell Gaming Alienware m15 R6 i7 11800H/32GB/1TB SSD/8GB RTX3070/240Hz/OfficeHS/Win11 (70272633)"
                data-id="271090"
                data-price="56140000.0"
                data-brand="Dell"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label"></div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/271090/TimerThumb/dell-gaming-alienware-m15-r6-i7-11800h-32gb-1tb-ssd-8gb-600x600.jpg"
                    alt="Dell Gaming Alienware m15 R6 i7 11800H (70272633)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/label-win11.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop Dell Gaming Alienware m15 R6 i7 11800H/32GB/1TB SSD/8GB RTX3070/240Hz/OfficeHS/Win11 (70272633)"
                >
                  Dell Gaming Alienware m15 R6 i7 11800H (70272633)
                </h3>
                <div class="item-compare">
                  <span>RAM 32 GB</span>
                  <span>SSD 1 TB</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">66.490.000&#x20AB;</p>
                  <span class="percent">-15%</span>
                </div>
                <strong class="price">56.140.000&#x20AB;</strong>
                <p class="item-gift">Quà <b>450.000₫</b></p>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>15.6", 2K, 240Hz</span></p>
                <p><span>CPU </span><span>i7, 11800H, 2.30 GHz</span></p>
                <p><span>Card </span><span>RTX 3070 8GB</span></p>
                <p><span>Pin </span><span>6-cell Li-ion, 86 Wh</span></p>
                <p><span>Nhẹ </span><span>2.69 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="269241"
              data-pos="10"
              data-id="269241"
            >
              <a
                href="laptop/asus-tuf-gaming-fx506lh-i5-hn188w7356.html?src=osp"
                data-s="CleanStock"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Asus TUF Gaming FX506LH i5 10300H/8GB/512GB/4GB GTX1650/144Hz/Win11 (HN188W)"
                data-id="269241"
                data-price="17690000.0"
                data-brand="Asus"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label"></div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/269241/TimerThumb/asus-tuf-gaming-fx506lh-i5-hn188w-(12).jpg"
                    alt="Asus TUF Gaming FX506LH i5 10300H (HN188W)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/label-win11.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop Asus TUF Gaming FX506LH i5 10300H/8GB/512GB/4GB GTX1650/144Hz/Win11 (HN188W)"
                >
                  Asus TUF Gaming FX506LH i5 10300H (HN188W)
                </h3>
                <div class="item-compare">
                  <span>RAM 8 GB</span>
                  <span>SSD 512 GB</span>
                </div>
                <p class="item-txt-online">X&#x1EA3; kho gi&#xE1; s&#x1ED1;c</p>
                <div class="box-p">
                  <p class="price-old black">19.990.000&#x20AB;</p>
                  <span class="percent">-11%</span>
                </div>
                <strong class="price">17.690.000&#x20AB;</strong>
              </a>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">19</p>
              </div>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>15.6", Full HD, 144Hz</span></p>
                <p><span>CPU </span><span>i5, 10300H, 2.5GHz</span></p>
                <p><span>Card </span><span>GTX 1650 4GB</span></p>
                <p><span>Pin </span><span>3-cell, 48Wh</span></p>
                <p><span>Nhẹ </span><span>2.3 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="268678"
              data-pos="11"
              data-id="268678"
            >
              <a
                href="laptop/hp-gaming-victus-16-e0175ax-r5-4r0u8pa-win117356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop HP Gaming VICTUS 16 e0175AX R5 5600H/8GB/512GB/4GB RTX3050/144Hz/Win11 (4R0U8PA)"
                data-id="268678"
                data-price="19490000.0"
                data-brand="HP"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/268678/hp-gaming-victus-16-e0175ax-r5-4r0u8pa-win11-600x600.jpg"
                    alt="HP Gaming VICTUS 16 e0175AX R5 5600H (4R0U8PA)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/label-win11.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop HP Gaming VICTUS 16 e0175AX R5 5600H/8GB/512GB/4GB RTX3050/144Hz/Win11 (4R0U8PA)"
                >
                  HP Gaming VICTUS 16 e0175AX R5 5600H (4R0U8PA)
                </h3>
                <div class="item-compare">
                  <span>RAM 8 GB</span>
                  <span>SSD 512 GB</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">24.490.000&#x20AB;</p>
                  <span class="percent">-20%</span>
                </div>
                <strong class="price">19.490.000&#x20AB;</strong>
                <p class="item-gift">Quà <b>100.000₫</b></p>
              </a>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">7</p>
              </div>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>16.1", Full HD, 144Hz</span></p>
                <p><span>CPU </span><span>Ryzen 5, 5600H, 3.3GHz</span></p>
                <p><span>Card </span><span>RTX 3050 4GB</span></p>
                <p><span>Pin </span><span>4-cell, 70Wh</span></p>
                <p><span>Nhẹ </span><span>2.46 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="265447"
              data-pos="12"
              data-id="265447"
            >
              <a
                href="laptop/lenovo-thinkbook-15-g2-itl-i5-20ve00unvn7356.html?src=osp"
                data-s="CleanStock"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Lenovo ThinkBook 15 G2 ITL i5 1135G7/8GB/512GB/Win11 (20VE00UNVN)"
                data-id="265447"
                data-price="18590000.0"
                data-brand="Lenovo"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label"></div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/265447/TimerThumb/lenovo-thinkbook-15-g2-itl-i5-20ve00unvn-(14).jpg"
                    alt="Lenovo ThinkBook 15 G2 ITL i5 1135G7 (20VE00UNVN)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/label-win11.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp5">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="THÁNG LENOVO"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon5-50x50.png"
                  /><span>THÁNG LENOVO</span>
                </p>
                <h3
                  title="Laptop Lenovo ThinkBook 15 G2 ITL i5 1135G7/8GB/512GB/Win11 (20VE00UNVN)"
                >
                  Lenovo ThinkBook 15 G2 ITL i5 1135G7 (20VE00UNVN)
                </h3>
                <div class="item-compare">
                  <span>RAM 8 GB</span>
                  <span>SSD 512 GB</span>
                </div>
                <p class="item-txt-online">X&#x1EA3; kho gi&#xE1; s&#x1ED1;c</p>
                <div class="box-p">
                  <p class="price-old black">21.390.000&#x20AB;</p>
                  <span class="percent">-13%</span>
                </div>
                <strong class="price">18.590.000&#x20AB;</strong>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>15.6", Full HD</span></p>
                <p><span>CPU </span><span>i5, 1135G7, 2.4GHz</span></p>
                <p><span>Card </span><span>Intel Iris Xe</span></p>
                <p><span>Pin </span><span>3-cell, 45Wh</span></p>
                <p><span>Nhẹ </span><span>1.7 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="260170"
              data-pos="13"
              data-id="260170"
            >
              <a
                href="laptop/dell-gaming-g15-5515-r5-p105f004cgr7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop Dell Gaming G15 5515 R5 5600H/8GB/256GB/4GB RTX3050/120Hz/OfficeHS/Win11 (P105F004CGR)"
                data-id="260170"
                data-price="20990000.0"
                data-brand="Dell"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label"></div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/260170/TimerThumb/dell-gaming-g15-5515-r5-p105f004cgr-(16).jpg"
                    alt="Dell Gaming G15 5515 R5 5600H (P105F004CGR)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/label-win11.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop Dell Gaming G15 5515 R5 5600H/8GB/256GB/4GB RTX3050/120Hz/OfficeHS/Win11 (P105F004CGR)"
                >
                  Dell Gaming G15 5515 R5 5600H (P105F004CGR)
                </h3>
                <div class="item-compare">
                  <span>RAM 8 GB</span>
                  <span>SSD 256 GB</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">25.990.000&#x20AB;</p>
                  <span class="percent">-19%</span>
                </div>
                <strong class="price">20.990.000&#x20AB;</strong>
                <p class="item-gift">Quà <b>100.000₫</b></p>
              </a>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">8</p>
              </div>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>15.6", Full HD, 120Hz</span></p>
                <p><span>CPU </span><span>Ryzen 5, 5600H, 3.3GHz</span></p>
                <p><span>Card </span><span>RTX 3050 4GB</span></p>
                <p><span>Pin </span><span>3-cell, 56Wh</span></p>
                <p><span>Nhẹ </span><span>2.8 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="238132"
              data-pos="14"
              data-id="238132"
            >
              <a
                href="laptop/lg-gram-16-i7-16z90pgah73a57356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop LG Gram 16 2021 i7 1165G7/16GB/256GB/Win10 (16Z90P-G.AH73A5)"
                data-id="238132"
                data-price="33890000.0"
                data-brand="LG"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/238132/TimerThumb/lg-gram-16-i7-16z90pgah73a5-(16).jpg"
                    alt="LG Gram 16 2021 i7 1165G7 (16Z90P-G.AH73A5)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/11th-gen-core-i7-processors-badge-rwd.png.rendition.intel.web.550.550.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop LG Gram 16 2021 i7 1165G7/16GB/256GB/Win10 (16Z90P-G.AH73A5)"
                >
                  LG Gram 16 2021 i7 1165G7 (16Z90P-G.AH73A5)
                </h3>
                <div class="item-compare">
                  <span>RAM 16 GB</span>
                  <span>SSD 256 GB</span>
                </div>
                <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
                <div class="box-p">
                  <p class="price-old black">48.890.000&#x20AB;</p>
                  <span class="percent">-30%</span>
                </div>
                <strong class="price">33.890.000&#x20AB;</strong>
                <p class="item-gift">Quà <b>4.990.000₫</b></p>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>16", 2K</span></p>
                <p><span>CPU </span><span>i7, 1165G7, 2.8GHz</span></p>
                <p><span>Card </span><span>Intel Iris Xe</span></p>
                <p><span>Pin </span><span>2-cell, 80Wh</span></p>
                <p><span>Nhẹ </span><span>1.19 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="250443"
              data-pos="15"
              data-id="250443"
            >
              <a
                href="laptop/gigabyte-gaming-g5-i5-md51s1123sh7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-name="Laptop GIGABYTE Gaming G5 i5 11400H/16GB/512GB/4GB RTX3050Ti/144Hz/Win10 (51S1123SH)"
                data-id="250443"
                data-price="24990000.0"
                data-brand="GIGABYTE"
                data-cate="Laptop"
                data-box="BoxCateFilter"
                class="main-contain"
              >
                <div class="item-label"></div>

                <div class="item-img item-img_44">
                  <img
                    class="lazyload"
                    data-src="https://cdn.tgdd.vn/Products/Images/44/250443/TimerThumb/gigabyte-gaming-g5-i5-md51s1123sh-(12).jpg"
                    alt="GIGABYTE Gaming G5 i5 11400H (51S1123SH)"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/Label_01-01.png"
                    loading="lazy"
                    class="lbliconimg lbliconimg_44 tgdd"
                  />
                </div>
                <p class="result-label temp1">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="Xả kho giảm hết"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                  /><span>Xả kho giảm hết</span>
                </p>
                <h3
                  title="Laptop GIGABYTE Gaming G5 i5 11400H/16GB/512GB/4GB RTX3050Ti/144Hz/Win10 (51S1123SH)"
                >
                  GIGABYTE Gaming G5 i5 11400H (51S1123SH)
                </h3>
                <div class="item-compare">
                  <span>RAM 16 GB</span>
                  <span>SSD 512 GB</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">29.990.000&#x20AB;</p>
                  <span class="percent">-16%</span>
                </div>
                <strong class="price">24.990.000&#x20AB;</strong>
                <p class="item-gift">Quà <b>450.000₫</b></p>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>
              <div class="utility">
                <p><span>M.Hình </span><span>15.6", Full HD, 144Hz</span></p>
                <p><span>CPU </span><span>i5, 11400H, 2.7GHz</span></p>
                <p><span>Card </span><span>RTX 3050Ti 4GB</span></p>
                <p><span>Pin </span><span>4-cell, 41Wh</span></p>
                <p><span>Nhẹ </span><span>2.03 kg</span></p>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
          </div>

          <a href="laptop-gia-soc.html" class="block-btn">
            <span>Xem t&#x1EA5;t c&#x1EA3; Deal s&#x1ED1;c</span>
          </a>
        </div>
      </section>
    </div>
    <!-- End -->
  </body>
</html>
