<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{laptop-ldp.html}"
>
  <head> </head>
  <body>
    <!-- Menu Top -->
    <div th:fragment="menu-top" class="menu-top">
      <div>
        <a href="#dealsoc" class="nav-item">
          <div class="box-icon">
            <i class="iconlt-dealsoc"></i>
          </div>
          <p>Deal Sốc</p>
        </a>
        <a href="#gaming" class="nav-item">
          <div class="box-icon">
            <i class="iconlt-gaming"></i>
          </div>
          <p>Gaming</p>
        </a>
        <a href="#macbook" class="nav-item">
          <div class="box-icon">
            <i class="iconlt-macbook"></i>
          </div>
          <p>MacBook</p>
        </a>
        <a href="#hoc-tap-van-phong" class="nav-item">
          <div class="box-icon">
            <i class="iconlt-hoc-tap-van-phong"></i>
          </div>
          <p>Học tập, Văn phòng</p>
        </a>
        <a href="#do-hoa-ky-thuat" class="nav-item">
          <div class="box-icon">
            <i class="iconlt-do-hoa-ky-thuat"></i>
          </div>
          <p>Đồ họa, Kỹ thuật</p>
        </a>
        <a href="#mong-nhe" class="nav-item">
          <div class="box-icon">
            <i class="iconlt-mong-nhe"></i>
          </div>
          <p>Mỏng nhẹ</p>
        </a>
        <a href="#cao-cap-sang-trong" class="nav-item">
          <div class="box-icon">
            <i class="iconlt-cao-cap-sang-trong"></i>
          </div>
          <p>Cao cấp, sang trọng</p>
        </a>
        <a href="#phan-mem" class="nav-item">
          <div class="box-icon">
            <i class="iconlt-phan-mem"></i>
          </div>
          <p>Phần mềm</p>
        </a>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
