<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{laptop-ldp.html}"
>
  <head> </head>
  <body>
    <!-- Link Thương Hiệu -->
    <div th:fragment="quick-link" class="quick-link">
      <div>
        <a
          href="laptop-apple-macbook.html"
          data-href="laptop-apple-macbook"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-macbook-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-asus.html"
          data-href="laptop-asus"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-asus-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-hp-compaq.html"
          data-href="laptop-hp-compaq"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-hp-149x40-1.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-lenovo.html"
          data-href="laptop-lenovo"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-lenovo-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-acer.html"
          data-href="laptop-acer"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-acer-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-dell.html"
          data-href="laptop-dell"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-dell-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-msi.html"
          data-href="laptop-msi"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-msi-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-surface.html"
          data-href="laptop-surface"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-surface-149x40-1.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-lg.html"
          data-href="laptop-lg"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-lg-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-gigabyte.html"
          data-href="laptop-gigabyte"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-gigabyte-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-intel-nuc.html"
          data-href="laptop-intel-nuc"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-intel-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-chuwi.html"
          data-href="laptop-chuwi"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-chuwi-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
        <a
          href="laptop-itel.html"
          data-href="laptop-itel"
          data-index="0"
          class="box-quicklink__item bd-radius quicklink-logo"
        >
          <img
            src="../cdn.tgdd.vn/Brand/1/logo-itel-149x40.png"
            height="25"
            class="no-text"
          />
        </a>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
