<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout-admin.html}"
>
  <!-- Main Content -->
  <div layout:fragment="content" class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add New Product Table</h4>
            <p class="card-description">Add new product form layout</p>
            <form class="forms-sample">
              <div class="form-group row">
                <label
                  for="exampleInputUsername2"
                  class="col-sm-3 col-form-label"
                  >Product Name</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Username"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-4">
                  <div class="form-check form-check-success">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="status"
                        value="1"
                      />
                      Active
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check form-check-danger">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="status"
                        value="0"
                      />
                      Not Active
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label"
                  >Category</label
                >
                <div class="col-sm-9">
                  <select class="js-example-basic-single w-100">
                    <option value="" selected>Select Category Name</option>
                    <option
                      th:each="categoryLevel0 : ${categoriesLevel0}"
                      th:value="${categoryLevel0.name}"
                      th:text="${categoryLevel0.name}"
                    ></option>
                    <option
                      th:each="categoryLevel1 : ${categoriesLevel1}"
                      th:value="${categoryLevel1.name}"
                      th:text="${categoryLevel1.name}"
                    ></option>
                    <option
                      th:each="categoryLevel2 : ${categoriesLevel2}"
                      th:value="${categoryLevel2.name}"
                      th:text="${categoryLevel2.name}"
                    ></option>
                    <!-- <option value="AL">Alabama</option>
                    <option value="WY">Wyoming</option>
                    <option value="AM">America</option>
                    <option value="CA">Canada</option>
                    <option value="RU">Russia</option> -->
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label"
                  >Manufacturer</label
                >
                <div class="col-sm-9">
                  <select class="js-example-basic-single w-100">
                    <option value="" selected>Select Manufacturer</option>
                    <!-- <option
                      th:each="categoryLevel0 : ${categoriesLevel0}"
                      th:value="${categoryLevel0.name}"
                      th:text="${categoryLevel0.name}"
                    ></option>
                    <option
                      th:each="categoryLevel1 : ${categoriesLevel1}"
                      th:value="${categoryLevel1.name}"
                      th:text="${categoryLevel1.name}"
                    ></option>
                    <option
                      th:each="categoryLevel2 : ${categoriesLevel2}"
                      th:value="${categoryLevel2.name}"
                      th:text="${categoryLevel2.name}"
                    ></option> -->
                    <option value="AL">Alabama</option>
                    <option value="WY">Wyoming</option>
                    <option value="AM">America</option>
                    <option value="CA">Canada</option>
                    <option value="RU">Russia</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-success me-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add New Product Version Table</h4>
            <p class="card-description">Add new product version form layout</p>
            <form class="forms-sample">
              <div class="form-group row">
                <label
                  for="exampleInputUsername2"
                  class="col-sm-3 col-form-label"
                  >Product Name</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Product Name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="exampleInputUsername2"
                  class="col-sm-3 col-form-label"
                  >Product Version Name</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Product Version Name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Video URL Upload</label>
                <input
                  type="file"
                  name="logoURL"
                  class="file-upload-default"
                  accept="image/png, image/jpeg"
                />
                <div class="input-group col-sm-12">
                  <input
                    type="text"
                    class="form-control file-upload-info"
                    disabled
                    placeholder="Upload Image"
                  />
                  <span class="input-group-append">
                    <button
                      class="file-upload-browse btn btn-primary"
                      type="button"
                    >
                      Upload
                    </button>
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                  >File Images Upload</label
                >
                <input
                  type="file"
                  name="logoURL"
                  class="file-upload-default"
                  accept="image/png, image/jpeg"
                />
                <div class="input-group col-sm-12">
                  <input
                    type="text"
                    class="form-control file-upload-info"
                    disabled
                    placeholder="Upload Image"
                  />
                  <span class="input-group-append">
                    <button
                      class="file-upload-browse btn btn-primary"
                      type="button"
                    >
                      Upload
                    </button>
                  </span>
                </div>
              </div>

              <button type="submit" class="btn btn-success me-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add New Product Version Table</h4>
            <p class="card-description">Add new product version form layout</p>
            <form class="forms-sample">
              <div class="form-group row">
                <label
                  for="exampleInputUsername2"
                  class="col-sm-3 col-form-label"
                  >Product Version Name</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Product Version Name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="exampleInputUsername2"
                  class="col-sm-3 col-form-label"
                  >Product Version Color Name</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Product Version Color Name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Default</label>
                <div class="col-sm-4">
                  <div class="form-check form-check-success">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="default"
                        value="1"
                      />
                      Yes
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check form-check-danger">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="default"
                        value="0"
                      />
                      No
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Price:</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">VND</span>
                    </div>
                    <input type="text" class="form-control" placeholder=".đ" />
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="exampleInputUsername2"
                  class="col-sm-3 col-form-label"
                  >Color
                </label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Color"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="exampleInputUsername2"
                  class="col-sm-3 col-form-label"
                  >Avatar</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Avartar"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                  >File Images Upload</label
                >
                <input
                  type="file"
                  name="logoURL"
                  class="file-upload-default"
                  accept="image/png, image/jpeg"
                />
                <div class="input-group col-sm-12">
                  <input
                    type="text"
                    class="form-control file-upload-info"
                    disabled
                    placeholder="Upload Image"
                  />
                  <span class="input-group-append">
                    <button
                      class="file-upload-browse btn btn-primary"
                      type="button"
                    >
                      Upload
                    </button>
                  </span>
                </div>
              </div>

              <button type="submit" class="btn btn-success me-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Content -->
</html>
