<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head> </head>
  <body>
    <!-- 24h công nghệ -->
    <div th:fragment="24h-tech" class="col2-tech">
      <div class="tech-new">
        <strong class="name-box">
          24h công nghệ
          <a href="tin-tuc.html">Xem tất cả</a>
        </strong>
        <ul>
          <li>
            <a href="tin-tuc2b1a.html">
              <img
                data-src="https://cdn.tgdd.vn/Files/2022/06/26/1442660/reno6z5g65g1_1280x720-200x200.jpg"
                class="lazyload"
                alt="X&#x1EA3; kho gi&#x1EA3;m s&#x1ED1;c &#x111;&#x1EBF;n 2.6 tri&#x1EC7;u cho b&#x1ED9; &#x111;&#xF4;i OPPO Reno6 v&#xE0; OPPO Reno6 Z"
                width="270"
                height="151"
              />
              <div class="text-tech">
                <span>
                  X&#x1EA3; kho gi&#x1EA3;m s&#x1ED1;c &#x111;&#x1EBF;n 2.6
                  tri&#x1EC7;u cho b&#x1ED9; &#x111;&#xF4;i OPPO Reno6 v&#xE0;
                  OPPO Reno6 Z
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="tin-tuc4852.html">
              <img
                data-src="https://cdn.tgdd.vn/Files/2022/05/11/1431781/tong-hop-cac-phim-tat-tren-may-tinh-17_800x450-200x200.jpg"
                class="lazyload"
                alt="8 ph&#xED;m t&#x1EAF;t h&#x1EEF;u &#xED;ch trong Windows gi&#xFA;p b&#x1EA1;n x&#x1EED; l&#xFD; c&#xF4;ng vi&#x1EC7;c trong ch&#x1EDB;p m&#x1EAF;t"
                width="270"
                height="151"
              />
              <div class="text-tech">
                <span>
                  8 ph&#xED;m t&#x1EAF;t h&#x1EEF;u &#xED;ch trong Windows
                  gi&#xFA;p b&#x1EA1;n x&#x1EED; l&#xFD; c&#xF4;ng vi&#x1EC7;c
                  trong ch&#x1EDB;p m&#x1EAF;t
                </span>
              </div>
            </a>
          </li>
          <li>
            <a
              href="tin-tuc/chinh-phuc-nhat-ban-cung-giai-dau-predator-gaming-1443194.html"
            >
              <img
                data-src="https://cdn.tgdd.vn/Files/2022/06/28/1443194/logogame_1280x720-200x200.jpg"
                class="lazyload"
                alt="Chinh ph&#x1EE5;c Nh&#x1EAD;t B&#x1EA3;n c&#xF9;ng gi&#x1EA3;i &#x111;&#x1EA5;u Predator Gaming 2022: Road To Japan"
                width="270"
                height="151"
              />
              <div class="text-tech">
                <span>
                  Chinh ph&#x1EE5;c Nh&#x1EAD;t B&#x1EA3;n c&#xF9;ng gi&#x1EA3;i
                  &#x111;&#x1EA5;u Predator Gaming 2022: Road To Japan
                </span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- End -->

      <!-- Banner cộng tác viên -->
      <a
        class="bg-ctv"
        aria-label="slide"
        data-cate="0"
        data-place="2006"
        href="daily.html"
        onclick="jQuery.ajax({ url: '/bannertracking?bid=51903&r='+ (new Date).getTime(), async: true, cache: false });"
        ><img
          width="285"
          height="350"
          loading="lazy"
          class="lazyload"
          data-src="//cdn.tgdd.vn/2022/03/banner/DesktopTGDD-285x350.png"
          alt="Bán hàng Nội Bộ"
      /></a>
      <!-- End -->
    </div>
    <!-- End -->

    <!-- Chuyên trang thương hiệu -->
    <div th:fragment="trademark" class="trademark">
      <h4 class="title-layout">CHUYÊN TRANG THƯƠNG HIỆU</h4>
      <div class="trademark-slider owl-carousel" data-size="3">
        <a
          aria-label="slide"
          data-cate="0"
          data-place="1550"
          href="samsung.html"
          onclick="jQuery.ajax({ url: '/bannertracking?bid=51231&r='+ (new Date).getTime(), async: true, cache: false });"
          ><img
            width="390"
            height="210"
            loading="lazy"
            class="lazyload owl-lazy"
            data-src="//cdn.tgdd.vn/2022/06/banner/samsung-390-210-390x210.png"
            alt="SS" /></a
        ><a
          aria-label="slide"
          data-cate="0"
          data-place="1550"
          href="dtdd-apple-iphone.html"
          onclick="jQuery.ajax({ url: '/bannertracking?bid=45933&r='+ (new Date).getTime(), async: true, cache: false });"
          ><img
            width="390"
            height="210"
            loading="lazy"
            class="lazyload owl-lazy"
            data-src="//cdn.tgdd.vn/2021/10/banner/appleDT-390x210-1.png"
            alt="iphone" /></a
        ><a
          aria-label="slide"
          data-cate="0"
          data-place="1550"
          href="lenovo.html"
          onclick="jQuery.ajax({ url: '/bannertracking?bid=55309&r='+ (new Date).getTime(), async: true, cache: false });"
          ><img
            width="390"
            height="210"
            loading="lazy"
            class="lazyload owl-lazy"
            data-src="//cdn.tgdd.vn/2022/05/banner/lenovoLaptop-390x210.png"
            alt="Chuyên Trang Laptop Lenovo"
        /></a>
      </div>
    </div>
    <!-- End -->

    <!-- Chuỗi mới, Deal khủng -->
    <div th:fragment="newchain" class="newchain">
      <strong class="name-box">Chuỗi mới deal KHỦNG</strong>
      <div class="home-slider" id="owl-home">
        <div class="slider-banner owl-carousel">
          <a
            aria-label="slide"
            data-cate="0"
            data-place="2054"
            href="https://www.topzone.vn/iphone/iphone-13-pro-max-1tb"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=56127&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="200"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/06/banner/760-400-760x400-2.png"
              alt="TopZone iPhone 13 Pro Max hết 30/6" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2054"
            href="https://www.avakids.com/online-gia-re"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53167&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="200"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/06/banner/Kids-380x200-380x200.png"
              alt="Promote AVA" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2054"
            href="https://www.avasport.com/online-gia-re"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53169&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="200"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/06/banner/sport-380x200-380x200.png"
              alt="Promote AVA" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2054"
            href="https://www.avafashion.com/online-gia-re"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53172&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="200"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/Fashion380x2002x-760x400-1.png"
              alt="Promote AVA" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2054"
            href="avaji.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53174&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="200"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/Ji380x2002x-760x400-2.png"
              alt="Promote AVA"
          /></a>
        </div>
        <div id="counter" class="counter"></div>
      </div>
    </div>
    <!--  <!-- Chuyên trang thương hiệu -->
    <div
      th:replace="fragments/home/container/banner-bottom :: trademark"
      class="trademark"
    >
      <h4 class="title-layout">CHUYÊN TRANG THƯƠNG HIỆU</h4>
      <div class="trademark-slider owl-carousel" data-size="3">
        <a
          aria-label="slide"
          data-cate="0"
          data-place="1550"
          href="samsung.html"
          onclick="jQuery.ajax({ url: '/bannertracking?bid=51231&r='+ (new Date).getTime(), async: true, cache: false });"
          ><img
            width="390"
            height="210"
            loading="lazy"
            class="lazyload owl-lazy"
            data-src="//cdn.tgdd.vn/2022/06/banner/samsung-390-210-390x210.png"
            alt="SS" /></a
        ><a
          aria-label="slide"
          data-cate="0"
          data-place="1550"
          href="dtdd-apple-iphone.html"
          onclick="jQuery.ajax({ url: '/bannertracking?bid=45933&r='+ (new Date).getTime(), async: true, cache: false });"
          ><img
            width="390"
            height="210"
            loading="lazy"
            class="lazyload owl-lazy"
            data-src="//cdn.tgdd.vn/2021/10/banner/appleDT-390x210-1.png"
            alt="iphone" /></a
        ><a
          aria-label="slide"
          data-cate="0"
          data-place="1550"
          href="lenovo.html"
          onclick="jQuery.ajax({ url: '/bannertracking?bid=55309&r='+ (new Date).getTime(), async: true, cache: false });"
          ><img
            width="390"
            height="210"
            loading="lazy"
            class="lazyload owl-lazy"
            data-src="//cdn.tgdd.vn/2022/05/banner/lenovoLaptop-390x210.png"
            alt="Chuyên Trang Laptop Lenovo"
        /></a>
      </div>
    </div>
    <!-- End -->

    <!-- Chuỗi mới, Deal khủng -->
    <div
      th:replace="fragments/home/container/banner-bottom :: newchain"
      class="newchain"
    >
      <strong class="name-box">Chuỗi mới deal KHỦNG</strong>
      <div class="home-slider" id="owl-home">
        <div class="slider-banner owl-carousel">
          <a
            aria-label="slide"
            data-cate="0"
            data-place="2054"
            href="https://www.topzone.vn/iphone/iphone-13-pro-max-1tb"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=56127&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="200"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/06/banner/760-400-760x400-2.png"
              alt="TopZone iPhone 13 Pro Max hết 30/6" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2054"
            href="https://www.avakids.com/online-gia-re"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53167&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="200"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/06/banner/Kids-380x200-380x200.png"
              alt="Promote AVA" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2054"
            href="https://www.avasport.com/online-gia-re"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53169&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="200"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/06/banner/sport-380x200-380x200.png"
              alt="Promote AVA" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2054"
            href="https://www.avafashion.com/online-gia-re"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53172&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="200"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/Fashion380x2002x-760x400-1.png"
              alt="Promote AVA" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2054"
            href="avaji.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53174&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="200"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/Ji380x2002x-760x400-2.png"
              alt="Promote AVA"
          /></a>
        </div>
        <div id="counter" class="counter"></div>
      </div>
    </div>
    -->
  </body>
</html>
