<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head> </head>
  <body>
    <!-- Banner Promo -->
    <div th:fragment="bg-tophome" class="bg-tophome">
      <div class="home-slider big-campaign" id="owl-home">
        <div class="slider-banner home-top owl-carousel">
          <a
            aria-label="slide"
            data-cate="0"
            data-place="2053"
            href="dtdd/samsung-galaxy-s22-ultra-5g-256gb-dac-biet.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=56000&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="600"
              height="180"
              src="cdn.tgdd.vn/2022/06/banner/s22-720-220-720x220-1.png"
              alt="S22" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2053"
            href="dtdd/poco-c40.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=55957&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="600"
              height="180"
              src="cdn.tgdd.vn/2022/06/banner/poco40-720-220-720x220-3.png"
              alt="POCO" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2053"
            href="dtdd-apple-iphone-13-series.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=55470&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="600"
              height="180"
              loading="lazy"
              class="lazyload owl-lazy"
              data-src="//cdn.tgdd.vn/2022/06/banner/xk-13proxanh-720-220-720x220-4.png"
              alt="iPhone 13 Pro" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2053"
            href="dtdd/oppo-reno7-z.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=55268&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="600"
              height="180"
              loading="lazy"
              class="lazyload owl-lazy"
              data-src="//cdn.tgdd.vn/2022/05/banner/720-220-720x220-255.png"
              alt="Reno7" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2053"
            href="dong-ho-gia-soc.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=55183&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="600"
              height="180"
              loading="lazy"
              class="lazyload owl-lazy"
              data-src="//cdn.tgdd.vn/2022/06/banner/720-220-720x220-23.png"
              alt="đồng hồ thời trang" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2053"
            href="lenovo.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=55790&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="600"
              height="180"
              loading="lazy"
              class="lazyload owl-lazy"
              data-src="//cdn.tgdd.vn/2022/06/banner/720-220-720x220-106.png"
              alt="Laptop Lenovo" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2053"
            href="dong-ho-thong-minh/mi-band-7.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=56052&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="600"
              height="180"
              loading="lazy"
              class="lazyload owl-lazy"
              data-src="//cdn.tgdd.vn/2022/06/banner/720-220-720x220-144.png"
              alt="đh" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2053"
            href="tai-nghe/bluetooth-true-wireless-jbl-t115tws7356.html?src=osp"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53484&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="600"
              height="180"
              loading="lazy"
              class="lazyload owl-lazy"
              data-src="//cdn.tgdd.vn/2022/05/banner/720x220-720x220-5.png"
              alt="Phụ Kiện Đón Lễ To[break]Giảm Đến 50%++" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2053"
            href="hoi-dap/chuong-trinh-khuyen-mai-tap-trung-mua-mua-sam-shopping-1439988.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=55928&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="600"
              height="180"
              loading="lazy"
              class="lazyload owl-lazy"
              data-src="//cdn.tgdd.vn/2022/06/banner/720-220-720x220-123.png"
              alt="ngày hội shopping"
          /></a>
        </div>
      </div>
    </div>

    <ul th:fragment="option-promo" class="option-promo">
      <li>
        <a href="chi-ban-online.html">
          <img src="cdn.tgdd.vn/content/Frame46553-80x92.png" />
          <span> Chỉ giảm online </span>
        </a>
      </li>
      <li>
        <a href="dong-gia.html">
          <img src="cdn.tgdd.vn/content/LDP---Icon-Desk-61x60.png" />
          <span> Đồng giá từ 99k </span>
        </a>
      </li>
      <li>
        <a href="uu-dai-soc.html">
          <img src="cdn.tgdd.vn/content/Frame46554-81x85-1.png" />
          <span> Xả hàng giảm sốc </span>
        </a>
      </li>
      <li>
        <a href="doc-quyen.html">
          <img src="cdn.tgdd.vn/content/dien-thoai-doc-quyen-120x120-2.png" />
          <span> Điện thoại độc quyền </span>
        </a>
      </li>
    </ul>
    <!-- End -->
  </body>
</html>
