<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head> </head>
  <body>
    <div th:fragment="sticky-sidebar" class="sticky-sidebar">
      <a
        data-cate="0"
        data-place="1865"
        href="uu-dai-soc6b46.html?itm_source=home_page&amp;itm_medium=&amp;itm_campaign=xa_hang_ton-kho&amp;itm_content="
        onclick="jQuery.ajax({ url: '/bannertracking?bid=50503&r='+ (new Date).getTime(), async: true, cache: false });"
        class="banner-left"
        ><img
          style="cursor: pointer"
          src="cdn.tgdd.vn/2022/05/banner/trai-79x271-9.png"
          alt="Theme Giáng Sinh Trái"
          width="79"
          height="271"
      /></a>
      <a
        data-cate="0"
        data-place="1866"
        href="uu-dai-soc6b46.html?itm_source=home_page&amp;itm_medium=&amp;itm_campaign=xa_hang_ton-kho&amp;itm_content="
        onclick="jQuery.ajax({ url: '/bannertracking?bid=55035&r='+ (new Date).getTime(), async: true, cache: false });"
        class="banner-right"
        ><img
          style="cursor: pointer"
          src="cdn.tgdd.vn/2022/06/banner/Phai-79x271.png"
          alt="Theme Giáng Sinh Phải"
          width="79"
          height="271"
      /></a>
    </div>
    <!-- End -->
  </body>
</html>
