<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head> </head>
  <body>
    <!-- Danh Mục Nổi Bật -->
    <div th:fragment="cate-feature" class="cate-feature">
      <strong class="name-box">Danh mục nổi bật</strong>
      <div class="box-cate">
        <aside>
          <h3>
            <a href="dtdd.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Dienthoai-128x129.png"
                  alt="&#x110;i&#x1EC7;n tho&#x1EA1;i"
                  class="lazyload"
                />
              </div>
              <span>&#x110;i&#x1EC7;n tho&#x1EA1;i</span>
            </a>
          </h3>
          <h3>
            <a href="laptop-ldp.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Laptop-129x129.png"
                  alt="Laptop"
                  class="lazyload"
                />
              </div>
              <span>Laptop</span>
            </a>
          </h3>
          <h3>
            <a href="may-tinh-bang.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Tablet-128x129.png"
                  alt="Tablet"
                  class="lazyload"
                />
              </div>
              <span>Tablet</span>
            </a>
          </h3>
          <h3>
            <a href="dong-ho-thong-minh-ldp.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Donghothongminh-128x129.png"
                  alt="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                  class="lazyload"
                />
              </div>
              <span>&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh</span>
            </a>
          </h3>
          <h3>
            <a href="dong-ho.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Donghothoitrang-128x129.png"
                  alt="&#x110;&#x1ED3;ng h&#x1ED3; th&#x1EDD;i trang"
                  class="lazyload"
                />
              </div>
              <span>&#x110;&#x1ED3;ng h&#x1ED3; th&#x1EDD;i trang</span>
            </a>
          </h3>
          <h3>
            <a href="thiet-bi-mang.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Thietbimang-128x129.png"
                  alt="Thi&#x1EBF;t b&#x1ECB; m&#x1EA1;ng"
                  class="lazyload"
                />
              </div>
              <span>Thi&#x1EBF;t b&#x1ECB; m&#x1EA1;ng</span>
            </a>
          </h3>
          <h3>
            <a href="op-lung-flipcover.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Oplung-128x128.png"
                  alt="&#x1ED0;p l&#x1B0;ng"
                  class="lazyload"
                />
              </div>
              <span>&#x1ED0;p l&#x1B0;ng</span>
            </a>
          </h3>
          <h3>
            <a href="chuot-may-tinh.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/chuot-128x129.png"
                  alt="Chu&#x1ED9;t m&#xE1;y t&#xED;nh"
                  class="lazyload"
                />
              </div>
              <span>Chu&#x1ED9;t m&#xE1;y t&#xED;nh</span>
            </a>
          </h3>
          <h3>
            <a href="ban-phim.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/ban-phim-128x129.png"
                  alt="B&#xE0;n ph&#xED;m"
                  class="lazyload"
                />
              </div>
              <span>B&#xE0;n ph&#xED;m</span>
            </a>
          </h3>
          <h3>
            <a href="sim-so-dep.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Simthecao-129x129.png"
                  alt="Sim, th&#x1EBB; c&#xE0;o"
                  class="lazyload"
                />
              </div>
              <span>Sim, th&#x1EBB; c&#xE0;o</span>
            </a>
          </h3>
        </aside>
        <aside>
          <h3>
            <a href="loa-laptop.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Loa-128x128.png"
                  alt="Loa"
                  class="lazyload"
                />
              </div>
              <span>Loa</span>
            </a>
          </h3>
          <h3>
            <a href="tai-nghe.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Tainghe-128x129.png"
                  alt="Tai nghe"
                  class="lazyload"
                />
              </div>
              <span>Tai nghe</span>
            </a>
          </h3>
          <h3>
            <a href="sac-dtdd.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Sacduphong-128x129.png"
                  alt="S&#x1EA1;c d&#x1EF1; ph&#xF2;ng"
                  class="lazyload"
                />
              </div>
              <span>S&#x1EA1;c d&#x1EF1; ph&#xF2;ng</span>
            </a>
          </h3>
          <h3>
            <a href="cap-dien-thoai.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Capsac-129x129.png"
                  alt="C&#xE1;p s&#x1EA1;c"
                  class="lazyload"
                />
              </div>
              <span>C&#xE1;p s&#x1EA1;c</span>
            </a>
          </h3>
          <h3>
            <a href="may-tinh-de-ban.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Maytinhbo-128x129.png"
                  alt="M&#xE1;y t&#xED;nh b&#x1ED9;"
                  class="lazyload"
                />
              </div>
              <span>M&#xE1;y t&#xED;nh b&#x1ED9;</span>
            </a>
          </h3>
          <h3>
            <a href="may-in.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Mayin-128x129.png"
                  alt="M&#xE1;y in"
                  class="lazyload"
                />
              </div>
              <span>M&#xE1;y in</span>
            </a>
          </h3>
          <h3>
            <a href="man-hinh-may-tinh.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Manhinhmaytinh-128x129.png"
                  alt="M&#xE0;n h&#xEC;nh m&#xE1;y t&#xED;nh"
                  class="lazyload"
                />
              </div>
              <span>M&#xE0;n h&#xEC;nh m&#xE1;y t&#xED;nh</span>
            </a>
          </h3>
          <h3>
            <a href="phu-kien-gaming.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Phukiengaming-128x129.png"
                  alt="Ph&#x1EE5; ki&#x1EC7;n gaming"
                  class="lazyload"
                />
              </div>
              <span>Ph&#x1EE5; ki&#x1EC7;n gaming</span>
            </a>
          </h3>
          <h3>
            <a href="camera-giam-sat.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/Camerawebcam-128x129-1.png"
                  alt="Camera, webcam"
                  class="lazyload"
                />
              </div>
              <span>Camera, webcam</span>
            </a>
          </h3>
          <h3>
            <a href="thiet-bi-nha-thong-minh.html">
              <div class="img-boxcate">
                <img
                  data-src="https://cdn.tgdd.vn//content/MaychieuTVbox-128x129.png"
                  alt="Thi&#x1EBF;t b&#x1ECB; nh&#xE0; th&#xF4;ng minh"
                  class="lazyload"
                />
              </div>
              <span>Thi&#x1EBF;t b&#x1ECB; nh&#xE0; th&#xF4;ng minh</span>
            </a>
          </h3>
        </aside>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
