<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head> </head>
  <body>
    <!-- iảm thêm khi thanh toán online -->
    <div th:fragment="discount-payonl" class="discount-payonl">
      <strong class="name-box">GIẢM THÊM KHI THANH TOÁN ONLINE</strong>
      <div class="home-slider">
        <div class="slider-banner owl-carousel">
          <a
            aria-label="slide"
            data-cate="0"
            data-place="2004"
            href="tin-tuc/mua-iphone-qua-vnpay-giam-gia-1321095.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=51939&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="201"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/VNPayiPhoneiPad-380x200.png"
              alt="VNPAY iphone ipad" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2004"
            href="tin-tuc700e.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=55869&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="201"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/06/banner/EXB-500k-380x200.png"
              alt="VNPAY iphone ipad" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2004"
            href="tin-tuc81c2.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53307&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="201"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/380-200-380x200.png"
              alt="sim thẻ" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2004"
            href="tin-tuc/thanh-toan-the-tin-dung-tpbank-giam-gia-1424052.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=53267&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="201"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/TPBank-380x200.png"
              alt="TPBank giảm 500k" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2004"
            href="tin-tucdd7c.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=54660&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="201"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/05/banner/380x200-380x200-3.jpg"
              alt="SCB giảm 500k" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2004"
            href="tin-tuc/nhap-ma-giam-gia-vnpay-1377917.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=52175&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="201"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/VNPayToanbosanpham-380x200.png"
              alt="VNPAY toàn bộ sp" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2004"
            href="tin-tuc3b9e.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=52173&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="201"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/VNPaySamsungGarmin-380x200.png"
              alt="vnpay samsung garmin" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2004"
            href="tin-tuc/thanh-toan-the-jcb-giam-gia-cho-san-pham-tu-5-trieu-1422486.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=52034&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="201"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/JCB-380x200.png"
              alt="JCB giảm 500k" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2004"
            href="tin-tuc/giam-gia-qua-vnpay-cho-san-pham-tu-3-trieu-1342688.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=52035&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="201"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/VnPaylaptop-380x200.png"
              alt="VNPAY laptop" /></a
          ><a
            aria-label="slide"
            data-cate="0"
            data-place="2004"
            href="tin-tuc44ef.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=52174&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="380"
              height="201"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/VNPayAppleWatch-380x200.png"
              alt="VNPAY apple watch"
          /></a>
        </div>
        <div id="counter" class="counter"></div>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
