<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head> </head>
  <body>
    <!-- Danh sách Hot Deal -->
    <div th:fragment="hot-deal" class="hotdeal">
      <div
        class="prd-promo has-banner"
        style="background-color: #fec603"
        data-html-id="3429"
      >
        <div class="prd-promo__top clearfix">
          <a
            data-cate="0"
            data-place="1867"
            href="uu-dai-soc.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=54738&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              style="cursor: pointer"
              src="cdn.tgdd.vn/2022/05/banner/TGDD-Sansale-desk-1200x120-3.png"
              alt="Hotsale TGDD Desk"
              width="1200"
              height="120"
          /></a>
        </div>
        <div class="listproduct slider-promo owl-carousel" data-size="20">
          <div class="item" data-id="283114" data-pos="1">
            <a
              href="dtdd/samsung-galaxy-s22-ultra-5g-256gb-dac-biet.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy S22 Ultra 5G 256GB phi&#xEA;n b&#x1EA3;n gi&#x1EDB;i h&#x1EA1;n"
              data-id="283114"
              data-price="33990000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/283114/samsung-galaxy-s22-ultra-5g-256gb-dac-biet-170622-061920-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy S22 Ultra 5G 256GB phi&#xEA;n b&#x1EA3;n gi&#x1EDB;i h&#x1EA1;n"
                  width="207"
                  height="207"
                />
              </div>
              <p class="preorder">Đặt trước đến 30/06</p>
              <h3>Samsung Galaxy S22 Ultra 5G 256GB phiên bản giới hạn</h3>
              <p class="item-txt-online">H&#xE0;ng s&#x1EAF;p v&#x1EC1;</p>
              <strong class="price">33.990.000&#x20AB;</strong>
              <p class="item-gift">
                Tặng Đồng hồ Galaxy Watch4, Sạc đôi không dây, Giảm ngay 3 triệu
              </p>
            </a>
          </div>
          <div class="item" data-id="246199" data-pos="2">
            <a
              href="dtdd/samsung-galaxy-a33.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A33 5G 6GB"
              data-id="246199"
              data-price="7490000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/246199/samsung-galaxy-a33-5g-xanh-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A33 5G 6GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A33 5G 6GB</h3>
              <strong class="price">
                7.490.000&#x20AB;

                <small>-11%</small>
              </strong>
              <p class="vote-txt">
                <b>3.5</b><i class="iconnewglobal-vote"></i>(36)
              </p>
            </a>
          </div>
          <div class="item" data-id="230529" data-pos="3">
            <a
              href="dtdd/iphone-13-pro-max.html"
              class="main-contain"
              data-s="OnlineSavingCMS"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i iPhone 13 Pro Max 128GB"
              data-id="230529"
              data-price="28890000.0"
              data-brand="iPhone (Apple)"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/230529/TimerThumb/230529.jpg"
                  class="lazyload"
                  alt="iPhone 13 Pro Max 128GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp4">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="VNPAY GIẢM 500k"
                  data-src="cdn.tgdd.vn/2020/10/content/icon6-50x50.png"
                /><span>VNPAY GIẢM 500k</span>
              </p>
              <h3>iPhone 13 Pro Max 128GB</h3>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <strong class="price">
                28.890.000&#x20AB;

                <small>-15%</small>
              </strong>
              <p class="vote-txt">
                <b>4.6</b><i class="iconnewglobal-vote"></i>(462)
              </p>
            </a>
          </div>
          <div class="item" data-id="274721" data-pos="4">
            <a
              href="dtdd/oppo-reno7-4g.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i OPPO Reno7"
              data-id="274721"
              data-price="8490000.0"
              data-brand="OPPO"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/274721/OPPO-Reno7-4G-Thumb-cam-1-600x600.jpg"
                  class="lazyload"
                  alt="OPPO Reno7"
                  width="207"
                  height="207"
                />
              </div>
              <h3>OPPO Reno7</h3>
              <strong class="price">
                8.490.000&#x20AB;

                <small>-5%</small>
              </strong>
              <p class="vote-txt">
                <b>3.9</b><i class="iconnewglobal-vote"></i>(86)
              </p>
            </a>
          </div>
          <div class="item" data-id="277057" data-pos="5">
            <a
              href="dtdd/poco-c40.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i POCO C40"
              data-id="277057"
              data-price="3490000.0"
              data-brand="Xiaomi"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/277057/xiaomi-poco-c40-thumb-vang-600x600.jpg"
                  class="lazyload"
                  alt="POCO C40"
                  width="207"
                  height="207"
                />
                <img
                  src="cdn.tgdd.vn/ValueIcons/Label_01-05.png"
                  width="40"
                  height="40"
                  class="lazyload lbliconimg lbliconimg_42 tgdd"
                />
              </div>
              <p class="result-label temp5">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="Giảm 350K HS-SV"
                  data-src="cdn.tgdd.vn/2020/10/content/icon5-50x50.png"
                /><span>Giảm 350K HS-SV</span>
              </p>
              <h3>POCO C40</h3>
              <strong class="price">3.490.000&#x20AB;</strong>
              <p class="vote-txt">
                <b>4.1</b><i class="iconnewglobal-vote"></i>(8)
              </p>
            </a>
          </div>
          <div class="item" data-id="235838" data-pos="6">
            <a
              href="dtdd/samsung-galaxy-s22-ultra.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy S22 Ultra 5G 128GB"
              data-id="235838"
              data-price="27990000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/235838/Galaxy-S22-Ultra-Burgundy-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy S22 Ultra 5G 128GB"
                  width="207"
                  height="207"
                />
              </div>
              <h3>Samsung Galaxy S22 Ultra 5G 128GB</h3>
              <strong class="price">
                27.990.000&#x20AB;

                <small>-9%</small>
              </strong>
              <p class="vote-txt">
                <b>3.4</b><i class="iconnewglobal-vote"></i>(45)
              </p>
            </a>
          </div>
          <div class="item" data-id="249102" data-pos="7">
            <a
              href="dtdd/vivo-y33s.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Vivo Y33s"
              data-id="249102"
              data-price="5340000.0"
              data-brand="Vivo"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/249102/TimerThumb/vivo-y33s-(10).jpg"
                  class="lazyload"
                  alt="Vivo Y33s"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp1">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="Xả kho - Giảm Sốc"
                  data-src="cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                /><span>Xả kho - Giảm Sốc</span>
              </p>
              <h3>Vivo Y33s</h3>
              <strong class="price">
                5.340.000&#x20AB;

                <small>-20%</small>
              </strong>
              <p class="vote-txt">
                <b>3.9</b><i class="iconnewglobal-vote"></i>(39)
              </p>
            </a>
          </div>
          <div class="item" data-id="239747" data-pos="8">
            <a
              href="dtdd/oppo-reno6-z-5g.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i OPPO Reno6 Z 5G"
              data-id="239747"
              data-price="7490000.0"
              data-brand="OPPO"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/239747/TimerThumb/oppo-reno6-z-5g-(8).jpg"
                  class="lazyload"
                  alt="OPPO Reno6 Z 5G"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp1">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="Xả kho - Giảm Sốc"
                  data-src="cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                /><span>Xả kho - Giảm Sốc</span>
              </p>
              <h3>OPPO Reno6 Z 5G</h3>
              <strong class="price">
                7.490.000&#x20AB;

                <small>-21%</small>
              </strong>
              <p class="vote-txt">
                <b>3.6</b><i class="iconnewglobal-vote"></i>(473)
              </p>
            </a>
          </div>
          <div class="item" data-id="246196" data-pos="9">
            <a
              href="dtdd/samsung-galaxy-a53.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A53 5G 128GB"
              data-id="246196"
              data-price="8990000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/246196/Samsung-Galaxy-A53-xanh-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A53 5G 128GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A53 5G 128GB</h3>
              <strong class="price">
                8.990.000&#x20AB;

                <small>-10%</small>
              </strong>
              <p class="vote-txt">
                <b>3.3</b><i class="iconnewglobal-vote"></i>(144)
              </p>
            </a>
          </div>
          <div class="item" data-id="272148" data-pos="10">
            <a
              href="dtdd/nokia-g11.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Nokia G11"
              data-id="272148"
              data-price="3240000.0"
              data-brand="Nokia"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/272148/Nokia-g11-x&#xE1;m-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Nokia G11"
                  width="207"
                  height="207"
                />
              </div>
              <h3>Nokia G11</h3>
              <strong class="price">
                3.240.000&#x20AB;

                <small>-16%</small>
              </strong>
              <p class="vote-txt">
                <b>3</b><i class="iconnewglobal-vote"></i>(9)
              </p>
            </a>
          </div>
          <div class="item" data-id="213031" data-pos="11">
            <a
              href="dtdd/iphone-12.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i iPhone 12 64GB"
              data-id="213031"
              data-price="18290000.0"
              data-brand="iPhone (Apple)"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/213031/iphone-12-xanh-la-new-2-600x600.jpg"
                  class="lazyload"
                  alt="iPhone 12 64GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp4">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="VNPAY GIẢM 500k"
                  data-src="cdn.tgdd.vn/2020/10/content/icon6-50x50.png"
                /><span>VNPAY GIẢM 500k</span>
              </p>
              <h3>iPhone 12 64GB</h3>
              <strong class="price">
                18.290.000&#x20AB;

                <small>-8%</small>
              </strong>
              <p class="vote-txt">
                <b>3.8</b><i class="iconnewglobal-vote"></i>(199)
              </p>
            </a>
          </div>
          <div class="item" data-id="282828" data-pos="12">
            <a
              href="laptop/apple-macbook-pro-13-inch-m2-2022.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Laptop Apple MacBook Pro M2 2022 8GB/256GB/10-core GPU"
              data-id="282828"
              data-price="35990000.0"
              data-brand="MacBook"
              data-cate="Laptop"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/44/282828/apple-macbook-pro-13-inch-m2-2022-xam-600x600.jpg"
                  class="lazyload"
                  alt="MacBook Pro M2 8GB/256GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="preorder">Đặt trước đến 10/07</p>
              <h3>MacBook Pro M2 8GB/256GB</h3>
              <p class="item-txt-online">H&#xE0;ng s&#x1EAF;p v&#x1EC1;</p>
              <strong class="price">35.990.000&#x20AB;</strong>
              <p class="item-gift">Đặt trước giảm ngay 3 triệu</p>
            </a>
          </div>
          <div class="item" data-id="263977" data-pos="13">
            <a
              href="laptop/acer-travelmate-b3-tmb311-31-p49d-n5030-nxvnfsv005.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Laptop Acer TravelMate B3 TMB311 31 P49D N5030/4GB/256GB/Win11 (NX.VNFSV.005)"
              data-id="263977"
              data-price="5490000.0"
              data-brand="Acer"
              data-cate="Laptop"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/44/263977/TimerThumb/acer-travelmate-b3-tmb311-31-p49d-n5030-nxvnfsv005-(18).jpg"
                  class="lazyload"
                  alt="Acer TravelMate B3 TMB311 31 P49D N5030 (NX.VNFSV.005)"
                  width="207"
                  height="207"
                />
                <img
                  src="cdn.tgdd.vn/ValueIcons/label-win11.png"
                  width="40"
                  height="40"
                  class="lazyload lbliconimg lbliconimg_44 tgdd"
                />
              </div>
              <p class="result-label temp1">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="Xả kho giảm hết"
                  data-src="cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                /><span>Xả kho giảm hết</span>
              </p>
              <h3>Acer TravelMate B3 TMB311 31 P49D N5030 (NX.VNFSV.005)</h3>
              <strong class="price">
                5.490.000&#x20AB;

                <small>-50%</small>
              </strong>
              <p class="item-gift">Quà <b>100.000₫</b></p>
              <p class="vote-txt">
                <b>4.6</b><i class="iconnewglobal-vote"></i>(29)
              </p>
            </a>
          </div>
          <div class="item" data-id="269237" data-pos="14">
            <a
              href="laptop/lenovo-ideapad-3-14iml05-i3-81wa00q0vn.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Laptop Lenovo Ideapad 3 14IML05 i3 10110U/4GB/256GB/Win11 (81WA00Q0VN)"
              data-id="269237"
              data-price="9990000.0"
              data-brand="Lenovo"
              data-cate="Laptop"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/44/269237/TimerThumb/lenovo-ideapad-3-14iml05-i3-81wa00q0vn-(4).jpg"
                  class="lazyload"
                  alt="Lenovo Ideapad 3 14IML05 i3 10110U (81WA00Q0VN)"
                  width="207"
                  height="207"
                />
                <img
                  src="cdn.tgdd.vn/ValueIcons/Label_01-01.png"
                  width="40"
                  height="40"
                  class="lazyload lbliconimg lbliconimg_44 tgdd"
                />
              </div>
              <p class="result-label temp5">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="THÁNG LENOVO"
                  data-src="cdn.tgdd.vn/2020/10/content/icon5-50x50.png"
                /><span>THÁNG LENOVO</span>
              </p>
              <h3>Lenovo Ideapad 3 14IML05 i3 10110U (81WA00Q0VN)</h3>
              <strong class="price">
                9.990.000&#x20AB;

                <small>-20%</small>
              </strong>
              <p class="item-gift">Quà <b>100.000₫</b></p>
              <p class="vote-txt">
                <b>5</b><i class="iconnewglobal-vote"></i>(2)
              </p>
            </a>
          </div>
          <div class="item" data-id="234918" data-pos="15">
            <a
              href="dong-ho-thong-minh/se-40mm-vien-nhom-day-cao-su-hong.html"
              class="main-contain"
              data-s="OnlineSavingCMS"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Apple Watch SE 40mm vi&#x1EC1;n nh&#xF4;m d&#xE2;y silicone"
              data-id="234918"
              data-price="6969000.0"
              data-brand="Apple"
              data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/7077/234918/se-40mm-vien-nhom-day-cao-su-xanh-den-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Apple Watch SE 40mm vi&#x1EC1;n nh&#xF4;m d&#xE2;y silicone"
                  width="207"
                  height="207"
                />
              </div>
              <h3>Apple Watch SE 40mm viền nhôm dây silicone</h3>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <strong class="price">
                6.969.000&#x20AB;

                <small>-22%</small>
              </strong>
              <p class="vote-txt">
                <b>4.6</b><i class="iconnewglobal-vote"></i>(45)
              </p>
            </a>
          </div>
          <div class="item" data-id="248758" data-pos="16">
            <a
              href="dong-ho-thong-minh/samsung-galaxy-watch-4-classic-42mm.html"
              class="main-contain"
              data-s="CleanStock"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Samsung Galaxy Watch 4 Classic 42mm Tr&#x1EAF;ng"
              data-id="248758"
              data-price="8065000.0"
              data-brand="Samsung"
              data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/7077/248758/samsung-galaxy-watch-4-classic-42mm-trang-thumb-1-2-3-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy Watch 4 Classic 42mm Tr&#x1EAF;ng"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="THU CŨ TẶNG 1TRIỆU"
                  data-src="cdn.tgdd.vn/2020/10/content/icon5-50x50.png"
                /><span>THU CŨ TẶNG 1TRIỆU</span>
              </p>
              <h3>Samsung Galaxy Watch 4 Classic 42mm Trắng</h3>
              <p class="item-txt-online">X&#x1EA3; kho gi&#xE1; s&#x1ED1;c</p>
              <strong class="price">
                8.065.000&#x20AB;

                <small>-5%</small>
              </strong>
              <p class="vote-txt">
                <b>5</b><i class="iconnewglobal-vote"></i>(1)
              </p>
            </a>
          </div>
          <div class="item" data-id="283146" data-pos="17">
            <a
              href="dong-ho-thong-minh/mi-band-7.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="V&#xF2;ng &#x111;eo tay th&#xF4;ng minh Mi Band 7"
              data-id="283146"
              data-price="1290000.0"
              data-brand="Xiaomi"
              data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/7077/283146/mi-band-7-150622-051958-600x600.jpg"
                  class="lazyload"
                  alt="Xiaomi Mi Band 7"
                  width="207"
                  height="207"
                />
                <img
                  src="cdn.tgdd.vn/ValueIcons/label-moi-ra-mat-fnal.png"
                  width="40"
                  height="40"
                  class="lazyload lbliconimg lbliconimg_7077 tgdd"
                />
              </div>
              <p class="result-label temp4">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="QUÀ NGON 450 NGÀN"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>QUÀ NGON 450 NGÀN</span>
              </p>
              <h3>Vòng đeo tay thông minh Mi Band 7</h3>
              <strong class="price">1.290.000&#x20AB;</strong>
            </a>
          </div>
          <div class="item" data-id="250701" data-pos="18">
            <a
              href="tai-nghe/airpods-3-hop-sac-khong-day.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Tai nghe Bluetooth AirPods 3 Apple MME73 Tr&#x1EAF;ng"
              data-id="250701"
              data-price="4490000.0"
              data-brand="Apple"
              data-cate="Tai nghe"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/54/250701/airpods-3-hop-sac-khong-day-thumb-600x600.jpeg"
                  class="lazyload"
                  alt="Tai nghe Bluetooth AirPods 3 Apple MME73"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp1">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="XẢ HÀNG GIẢM SỐC"
                  data-src="cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                /><span>XẢ HÀNG GIẢM SỐC</span>
              </p>
              <h3>Tai nghe Bluetooth AirPods 3 Apple MME73 Trắng</h3>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <strong class="price">
                4.490.000&#x20AB;

                <small>-18%</small>
              </strong>
              <p class="vote-txt">
                <b>4.6</b><i class="iconnewglobal-vote"></i>(55)
              </p>
            </a>
          </div>
          <div class="item" data-id="243041" data-pos="19">
            <a
              href="tai-nghe/bluetooth-true-wireless-jbl-t115tws.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Tai nghe Bluetooth True Wireless JBL T115TWS"
              data-id="243041"
              data-price="990000.0"
              data-brand="JBL"
              data-cate="Tai nghe"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/54/243041/bluetooth-true-wireless-jbl-t115twswhtas-thumb-1-600x600.jpeg"
                  class="lazyload"
                  alt="Tai nghe Bluetooth True Wireless JBL T115TWS"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp1">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="XẢ HÀNG GIẢM SỐC"
                  data-src="cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                /><span>XẢ HÀNG GIẢM SỐC</span>
              </p>
              <h3>Tai nghe Bluetooth True Wireless JBL T115TWS</h3>
              <strong class="price">
                990.000&#x20AB;

                <small>-33%</small>
              </strong>
              <p class="vote-txt">
                <b>2.6</b><i class="iconnewglobal-vote"></i>(23)
              </p>
            </a>
          </div>
          <div class="item" data-id="240696" data-pos="20">
            <a
              href="sac-dtdd/ava-lj-jp199.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Pin s&#x1EA1;c d&#x1EF1; ph&#xF2;ng 7500 mAh AVA&#x2B; LJ JP199"
              data-id="240696"
              data-price="195000.0"
              data-brand="AVA&#x2B;"
              data-cate="S&#x1EA1;c d&#x1EF1; ph&#xF2;ng"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/57/240696/ava-lj-jp199-ava-600x600.jpg"
                  class="lazyload"
                  alt="AVA&#x2B; LJ JP199"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp1">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="XẢ HÀNG GIẢM SỐC"
                  data-src="cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                /><span>XẢ HÀNG GIẢM SỐC</span>
              </p>
              <h3>Pin sạc dự phòng 7500 mAh AVA+ LJ JP199</h3>
              <strong class="price">
                195.000&#x20AB;

                <small>-44%</small>
              </strong>
              <p class="vote-txt">
                <b>4.4</b><i class="iconnewglobal-vote"></i>(28)
              </p>
            </a>
          </div>
        </div>
        <a class="readmore-btn" href="uu-dai-soc.html"
          ><span>Xem tất cả</span></a
        >
      </div>
    </div>
    <!-- End -->
  </body>
</html>
