<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head> </head>
  <body>
    <!-- Danh sách Promote -->
    <div
      th:fragment="product-promote"
      class="prd-promo prd-another"
      style="background-color: #092dc6"
    >
      <p class="prd-promo__title text">&#x110;&#x1EA0;I TI&#x1EC6;C SAMSUNG</p>
      <div class="home-slider another-slider" id="owl-home">
        <div class="slider-banner owl-carousel">
          <div class="item">
            <a
              aria-label="slide"
              data-cate="0"
              data-place="2000"
              href="dtdd-samsung-galaxy-a.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=54724&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="380"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/Desktop-380x200---A-series-380x200.png"
                alt="Tuần lễ thương hiệu - Desk TGDĐ Banner 3"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="0"
              data-place="2000"
              href="may-tinh-bang-samsung.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=51891&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="380"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/Desktop-380x200---Tab-380x200.png"
                alt="Tuần lễ thương hiệu - Desk TGDĐ Banner 2"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="0"
              data-place="2000"
              href="dtdd/samsung-galaxy-s22-ultra-5g-256gb-dac-biet.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=54200&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="380"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/380x220(1)-380x200.png"
                alt="Tuần lễ thương hiệu - Desk TGDĐ Banner 4"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="0"
              data-place="2000"
              href="dtdd-samsung-galaxy-m.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=51893&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="380"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/Desktop-380x200---M-series---2-380x200.png"
                alt="Tuần lễ thương hiệu - Desk TGDĐ Banner 3"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="0"
              data-place="2000"
              href="dong-ho-thong-minh-samsung-galaxy-watch-4.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55450&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="380"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/380-x-200-380x200.png"
                alt="Watch4"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="0"
              data-place="2000"
              href="phu-kien/samsung.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=51889&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="380"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/380x200-380x200-1.png"
                alt="Tuần lễ thương hiệu - Desk TGDĐ Banner 1"
            /></a>
          </div>
        </div>
        <div id="counter" class="counter"></div>
      </div>
      <div class="box-scroll">
        <div
          class="listproduct slider-promo owl-carousel hideCompare"
          data-size="20"
        >
          <div class="item" data-id="283114" data-pos="1">
            <a
              href="dtdd/samsung-galaxy-s22-ultra-5g-256gb-dac-biet.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy S22 Ultra 5G 256GB phi&#xEA;n b&#x1EA3;n gi&#x1EDB;i h&#x1EA1;n"
              data-id="283114"
              data-price="33990000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/283114/samsung-galaxy-s22-ultra-5g-256gb-dac-biet-170622-061920-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy S22 Ultra 5G 256GB phi&#xEA;n b&#x1EA3;n gi&#x1EDB;i h&#x1EA1;n"
                  width="207"
                  height="207"
                />
              </div>
              <p class="preorder">Đặt trước đến 30/06</p>
              <h3>Samsung Galaxy S22 Ultra 5G 256GB phiên bản giới hạn</h3>
              <p class="item-txt-online">H&#xE0;ng s&#x1EAF;p v&#x1EC1;</p>
              <strong class="price">33.990.000&#x20AB;</strong>
              <p class="item-gift">
                Tặng Đồng hồ Galaxy Watch4, Sạc đôi không dây, Giảm ngay 3 triệu
              </p>
            </a>
          </div>
          <div class="item" data-id="274360" data-pos="2">
            <a
              href="dtdd/samsung-galaxy-a13-6gb.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A13 6GB"
              data-id="274360"
              data-price="4690000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/274360/samsung-galaxy-a13-xanh-thumb-1-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A13 6GB"
                  width="207"
                  height="207"
                />
                <img
                  src="cdn.tgdd.vn/ValueIcons/Label_01-05.png"
                  width="40"
                  height="40"
                  class="lazyload lbliconimg lbliconimg_42 tgdd"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A13 6GB</h3>
              <strong class="price">
                4.690.000&#x20AB;

                <small>-9%</small>
              </strong>
              <p class="vote-txt">
                <b>3.1</b><i class="iconnewglobal-vote"></i>(70)
              </p>
            </a>
          </div>
          <div class="item" data-id="248753" data-pos="3">
            <a
              href="dong-ho-thong-minh/samsung-galaxy-watch-4-44mm.html"
              class="main-contain"
              data-s="CleanStock"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Samsung Galaxy Watch 4 44mm B&#x1EA1;c"
              data-id="248753"
              data-price="6640000.0"
              data-brand="Samsung"
              data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/7077/248753/samsung-galaxy-watch-4-44mm-thumb-02-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy Watch 4 44mm B&#x1EA1;c"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="THU CŨ TẶNG 1TRIỆU"
                  data-src="cdn.tgdd.vn/2020/10/content/icon2-50x50.png"
                /><span>THU CŨ TẶNG 1TRIỆU</span>
              </p>
              <h3>Samsung Galaxy Watch 4 44mm Bạc</h3>
              <p class="item-txt-online">X&#x1EA3; kho gi&#xE1; s&#x1ED1;c</p>
              <strong class="price">
                6.640.000&#x20AB;

                <small>-5%</small>
              </strong>
              <p class="vote-txt">
                <b>4.4</b><i class="iconnewglobal-vote"></i>(22)
              </p>
            </a>
          </div>
          <div class="item" data-id="246199" data-pos="4">
            <a
              href="dtdd/samsung-galaxy-a33.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A33 5G 6GB"
              data-id="246199"
              data-price="7490000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/246199/samsung-galaxy-a33-5g-xanh-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A33 5G 6GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A33 5G 6GB</h3>
              <strong class="price">
                7.490.000&#x20AB;

                <small>-11%</small>
              </strong>
              <p class="vote-txt">
                <b>3.5</b><i class="iconnewglobal-vote"></i>(36)
              </p>
            </a>
          </div>
          <div class="item" data-id="267333" data-pos="5">
            <a
              href="dtdd/samsung-galaxy-a03-4gb.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A03 4GB"
              data-id="267333"
              data-price="3290000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/267333/samsung-galaxy-a03-den-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A03 4GB"
                  width="207"
                  height="207"
                />
                <img
                  src="cdn.tgdd.vn/ValueIcons/Label_01-05.png"
                  width="40"
                  height="40"
                  class="lazyload lbliconimg lbliconimg_42 tgdd"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A03 4GB</h3>
              <strong class="price">
                3.290.000&#x20AB;

                <small>-5%</small>
              </strong>
              <p class="vote-txt">
                <b>3.9</b><i class="iconnewglobal-vote"></i>(139)
              </p>
            </a>
          </div>
          <div class="item" data-id="249050" data-pos="6">
            <a
              href="phu-kien-thong-minh/but-cam-ung-samsung-s-pen-pro-ej-p5450-den.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-name="B&#xFA;t c&#x1EA3;m &#x1EE9;ng Samsung S Pen Pro EJ-P5450 &#x110;en"
              data-id="249050"
              data-price="2090000.0"
              data-brand="Samsung"
              data-cate="Ph&#x1EE5; ki&#x1EC7;n tablet"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/1882/249050/but-cam-ung-samsung-s-pen-pro-ej-p5450-den-ava-600x600.jpg"
                  class="lazyload"
                  alt="B&#xFA;t c&#x1EA3;m &#x1EE9;ng Samsung S Pen Pro EJ-P5450 &#x110;en"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Bút cảm ứng Samsung S Pen Pro EJ-P5450 Đen</h3>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <strong class="price">
                2.090.000&#x20AB;

                <small>-40%</small>
              </strong>
              <p class="vote-txt">
                <b>5</b><i class="iconnewglobal-vote"></i>(1)
              </p>
            </a>
          </div>
          <div class="item" data-id="234315" data-pos="7">
            <a
              href="dtdd/samsung-galaxy-a32-4g.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A32"
              data-id="234315"
              data-price="6090000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/234315/samsung-galaxy-a32-4g-thumb-tim-600x600-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A32"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A32</h3>
              <strong class="price">
                6.090.000&#x20AB;

                <small>-6%</small>
              </strong>
              <p class="vote-txt">
                <b>3.1</b><i class="iconnewglobal-vote"></i>(704)
              </p>
            </a>
          </div>
          <div class="item" data-id="248758" data-pos="8">
            <a
              href="dong-ho-thong-minh/samsung-galaxy-watch-4-classic-42mm.html"
              class="main-contain"
              data-s="CleanStock"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Samsung Galaxy Watch 4 Classic 42mm Tr&#x1EAF;ng"
              data-id="248758"
              data-price="8065000.0"
              data-brand="Samsung"
              data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/7077/248758/samsung-galaxy-watch-4-classic-42mm-trang-thumb-1-2-3-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy Watch 4 Classic 42mm Tr&#x1EAF;ng"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="THU CŨ TẶNG 1TRIỆU"
                  data-src="cdn.tgdd.vn/2020/10/content/icon5-50x50.png"
                /><span>THU CŨ TẶNG 1TRIỆU</span>
              </p>
              <h3>Samsung Galaxy Watch 4 Classic 42mm Trắng</h3>
              <p class="item-txt-online">X&#x1EA3; kho gi&#xE1; s&#x1ED1;c</p>
              <strong class="price">
                8.065.000&#x20AB;

                <small>-5%</small>
              </strong>
              <p class="vote-txt">
                <b>5</b><i class="iconnewglobal-vote"></i>(1)
              </p>
            </a>
          </div>
          <div class="item" data-id="271813" data-pos="9">
            <a
              href="adapter-sac/adapter-sac-3-cong-usb-type-c-pd-65w-samsung-ep-t6530n.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Adapter s&#x1EA1;c 3 c&#x1ED5;ng USB Type C PD 65W Samsung EP-T6530N &#x110;en"
              data-id="271813"
              data-price="1190000.0"
              data-brand="Samsung"
              data-cate="Adapter s&#x1EA1;c, chuy&#x1EC3;n &#x111;&#x1ED5;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/9499/271813/adapter-sac-usb-type-c-pd-65w-samsung-ep-t6530n-thumb-600x600.jpeg"
                  class="lazyload"
                  alt="S&#x1EA1;c 3 c&#x1ED5;ng Samsung EP-T6530N"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>
                Adapter sạc 3 cổng USB Type C PD 65W Samsung EP-T6530N Đen
              </h3>
              <p class="item-txt-online">Ch&#x1EC9; b&#xE1;n online</p>
              <strong class="price">
                1.190.000&#x20AB;

                <small>-20%</small>
              </strong>
              <p class="vote-txt">
                <b>5</b><i class="iconnewglobal-vote"></i>(3)
              </p>
            </a>
          </div>
          <div class="item" data-id="274359" data-pos="10">
            <a
              href="dtdd/samsung-galaxy-a23-6gb.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A23 6GB"
              data-id="274359"
              data-price="5790000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/274359/samsung-galaxy-a23-xanh-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A23 6GB"
                  width="207"
                  height="207"
                />
                <img
                  src="cdn.tgdd.vn/ValueIcons/Label_01-05.png"
                  width="40"
                  height="40"
                  class="lazyload lbliconimg lbliconimg_42 tgdd"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A23 6GB</h3>
              <strong class="price">
                5.790.000&#x20AB;

                <small>-6%</small>
              </strong>
              <p class="vote-txt">
                <b>3.3</b><i class="iconnewglobal-vote"></i>(86)
              </p>
            </a>
          </div>
          <div class="item" data-id="251856" data-pos="11">
            <a
              href="dtdd/samsung-galaxy-a03.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A03 3GB"
              data-id="251856"
              data-price="2890000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/251856/samsung-galaxy-a03-xanh-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A03 3GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A03 3GB</h3>
              <strong class="price"> 2.890.000&#x20AB; </strong>
              <p class="vote-txt">
                <b>3.8</b><i class="iconnewglobal-vote"></i>(88)
              </p>
            </a>
          </div>
          <div class="item" data-id="248752" data-pos="12">
            <a
              href="dong-ho-thong-minh/samsung-galaxy-watch-4-40mm.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="Samsung Galaxy Watch 4 40mm V&#xE0;ng H&#x1ED3;ng"
              data-id="248752"
              data-price="6295000.0"
              data-brand="Samsung"
              data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/7077/248752/samsung-galaxy-watch-4-40mm-vang-hong-thumb-1-2-3-4-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy Watch 4 40mm V&#xE0;ng H&#x1ED3;ng"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="THU CŨ TẶNG 1TRIỆU"
                  data-src="cdn.tgdd.vn/2020/10/content/icon2-50x50.png"
                /><span>THU CŨ TẶNG 1TRIỆU</span>
              </p>
              <h3>Samsung Galaxy Watch 4 40mm Vàng Hồng</h3>
              <strong class="price"> 6.295.000&#x20AB; </strong>
              <p class="vote-txt">
                <b>4.1</b><i class="iconnewglobal-vote"></i>(20)
              </p>
            </a>
          </div>
          <div class="item" data-id="246196" data-pos="13">
            <a
              href="dtdd/samsung-galaxy-a53.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A53 5G 128GB"
              data-id="246196"
              data-price="8990000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/246196/Samsung-Galaxy-A53-xanh-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A53 5G 128GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A53 5G 128GB</h3>
              <strong class="price">
                8.990.000&#x20AB;

                <small>-10%</small>
              </strong>
              <p class="vote-txt">
                <b>3.3</b><i class="iconnewglobal-vote"></i>(144)
              </p>
            </a>
          </div>
          <div class="item" data-id="262650" data-pos="14">
            <a
              href="dtdd/samsung-galaxy-a23.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A23 4GB"
              data-id="262650"
              data-price="5290000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/262650/samsung-galaxy-a23-cam-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A23 4GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A23 4GB</h3>
              <strong class="price">
                5.290.000&#x20AB;

                <small>-7%</small>
              </strong>
              <p class="vote-txt">
                <b>3.4</b><i class="iconnewglobal-vote"></i>(59)
              </p>
            </a>
          </div>
          <div class="item" data-id="233280" data-pos="15">
            <a
              href="sac-dtdd/polymer-20000mah-type-c-25w-samsung-eb-p5300.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-name="Pin s&#x1EA1;c d&#x1EF1; ph&#xF2;ng Polymer 20.000 mAh Type C PD Samsung EB-P5300"
              data-id="233280"
              data-price="1340000.0"
              data-brand="Samsung"
              data-cate="S&#x1EA1;c d&#x1EF1; ph&#xF2;ng"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/57/233280/polymer-20000mah-type-c-25w-samsung-eb-p5300-avatar-1-600x600.jpg"
                  class="lazyload"
                  alt="Samsung EB-P5300"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>
                Pin sạc dự phòng Polymer 20.000 mAh Type C PD Samsung EB-P5300
              </h3>
              <strong class="price">
                1.340.000&#x20AB;

                <small>-10%</small>
              </strong>
              <p class="vote-txt">
                <b>4.3</b><i class="iconnewglobal-vote"></i>(24)
              </p>
            </a>
          </div>
          <div class="item" data-id="226935" data-pos="16">
            <a
              href="dtdd/samsung-galaxy-z-fold-3.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy Z Fold3 5G 256GB"
              data-id="226935"
              data-price="32990000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/226935/TimerThumb/samsung-galaxy-z-fold-3-(6).jpg"
                  class="lazyload"
                  alt="Samsung Galaxy Z Fold3 5G 256GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy Z Fold3 5G 256GB</h3>
              <strong class="price">
                32.990.000&#x20AB;

                <small>-21%</small>
              </strong>
              <p class="vote-txt">
                <b>4.8</b><i class="iconnewglobal-vote"></i>(25)
              </p>
            </a>
          </div>
          <div class="item" data-id="262402" data-pos="17">
            <a
              href="dtdd/samsung-galaxy-a13-4g.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A13 4GB"
              data-id="262402"
              data-price="4190000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/262402/Samsung-Galaxy-A13-cam-thumb-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A13 4GB"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A13 4GB</h3>
              <strong class="price">
                4.190.000&#x20AB;

                <small>-10%</small>
              </strong>
              <p class="vote-txt">
                <b>3.5</b><i class="iconnewglobal-vote"></i>(51)
              </p>
            </a>
          </div>
          <div class="item" data-id="249045" data-pos="18">
            <a
              href="op-lung-flipcover/bao-da-galaxy-z-fold3-5g-nap-gap-samsung-nau.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-name="Bao da Galaxy Z Fold3 5G N&#x1EAF;p G&#x1EAD;p Samsung"
              data-id="249045"
              data-price="2242000.0"
              data-brand="Samsung"
              data-cate="&#x1ED0;p l&#x1B0;ng &#x111;.tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/60/249045/bao-da-galaxy-z-fold3-5g-nap-gap-samsung-nau-ava-600x600.jpg"
                  class="lazyload"
                  alt="Bao da Galaxy Z Fold3 5G N&#x1EAF;p G&#x1EAD;p Samsung"
                  width="207"
                  height="207"
                />
                <img
                  src="cdn.tgdd.vn/ValueIcons/label_chinhhang.png"
                  width="40"
                  height="40"
                  class="lazyload lbliconimg lbliconimg_60 tgdd"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Bao da Galaxy Z Fold3 5G Nắp Gập Samsung</h3>
              <strong class="price">
                2.242.000&#x20AB;

                <small>-25%</small>
              </strong>
            </a>
          </div>
          <div class="item" data-id="241049" data-pos="19">
            <a
              href="dtdd/samsung-galaxy-a03s.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Samsung Galaxy A03s"
              data-id="241049"
              data-price="3390000.0"
              data-brand="Samsung"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/42/241049/samsung-galaxy-a03s-black-600x600.jpg"
                  class="lazyload"
                  alt="Samsung Galaxy A03s"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy A03s</h3>
              <strong class="price">
                3.390.000&#x20AB;

                <small>-8%</small>
              </strong>
              <p class="vote-txt">
                <b>3.6</b><i class="iconnewglobal-vote"></i>(173)
              </p>
            </a>
          </div>
          <div class="item" data-id="113122" data-pos="20">
            <a
              href="cap-dien-thoai/cap-3-dau-3-micro-1-type-c-13m-samsung-mn930g.html"
              class="main-contain"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-name="C&#xE1;p 3 &#x111;&#x1EA7;u 3 Micro 1 Type-C 1.3 m Samsung MN930G"
              data-id="113122"
              data-price="320000.0"
              data-brand="Samsung"
              data-cate="C&#xE1;p s&#x1EA1;c, chuy&#x1EC3;n &#x111;&#x1ED5;i"
              data-box="BoxHomeV2"
            >
              <div class="item-label"></div>
              <div class="item-img">
                <img
                  data-src="https://cdn.tgdd.vn/Products/Images/58/113122/cap-3-dau-3-micro-1-type-c-13m-samsung-mn930g-600x600.jpg"
                  class="lazyload"
                  alt="C&#xE1;p 3 &#x111;&#x1EA7;u Samsung MN930G"
                  width="207"
                  height="207"
                />
              </div>
              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Cáp 3 đầu 3 Micro 1 Type-C 1.3 m Samsung MN930G</h3>
              <strong class="price">
                320.000&#x20AB;

                <small>-20%</small>
              </strong>
            </a>
          </div>
        </div>
      </div>
      <a class="seeall" href="samsung.html"><span>Xem tất cả sản phẩm</span></a>
    </div>
    <!-- End -->
  </body>
</html>
