<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head> </head>
  <body>
    <!-- Dịch vụ tiện ích -->
    <div th:fragment="service-conv" class="service-conv">
      <strong class="name-box">
        dịch vụ tiện ích
        <a href="tien-ich/thanh-toan-tra-gop.html">Xem thêm dịch vụ</a>
      </strong>
      <ul>
        <li>
          <div class="box-iconv">
            <p class="iconnewglobal-card">&nbsp;</p>
          </div>
          <div class="text-conv">
            <a href="sim-so-dep.html"
              ><small class="text-conv-title"
                >Mua M&atilde; thẻ c&agrave;o</small
              >
              <small
                ><strong>Giảm 3%</strong> cho mệnh gi&aacute; từ 100.000 trở
                l&ecirc;n</small
              ></a
            >
          </div>
        </li>
        <li>
          <div class="box-iconv">
            <p class="iconnewglobal-service">&nbsp;</p>
          </div>
          <div class="text-conv">
            <a href="tien-ich/thanh-toan-tien-dien.html"
              ><small class="text-conv-title">Dịch Vụ Đ&oacute;ng Tiền</small>
              <small>Điện, Nước, Internet, Cước điện thoại trả sau</small></a
            >
          </div>
        </li>
        <li>
          <div class="box-iconv">
            <p class="iconnewglobal-game">&nbsp;</p>
          </div>
          <div class="text-conv">
            <a href="sim-so-dep.html"
              ><small class="text-conv-title">Mua thẻ game</small>
              <small
                ><strong>Giảm 3%</strong> cho tất cả nh&agrave; mạng, &aacute;p
                dụng cho mệnh gi&aacute; từ 100.000 trở l&ecirc;n</small
              ></a
            >
          </div>
        </li>
        <li>
          <div class="box-iconv">
            <p class="iconnewglobal-ticket">&nbsp;</p>
          </div>
          <div class="text-conv">
            <a href="tien-ich/thanh-toan-ve-tau-xe.html"
              ><small class="text-conv-title"
                >V&eacute; m&aacute;y bay, t&agrave;u</small
              >
              <small
                >Thu hộ tiền v&eacute; xe, v&eacute; t&agrave;u, v&eacute;
                m&aacute;y bay</small
              ></a
            >
          </div>
        </li>
      </ul>
    </div>
    <!-- End -->
  </body>
</html>
