<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head> </head>
  <body>
    <!-- Xu hướng mua sắm -->
    <div th:fragment="shopping-trends" class="shopping-trends">
      <strong class="name-box">Xu hướng mua sắm</strong>
      <ul>
        <li>
          <a
            aria-label="slide"
            data-cate="0"
            data-place="2002"
            href="dtdd-samsung-galaxy-m.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=52022&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="280"
              height="236"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/06/banner/Deskx1-280x235.png"
              alt="Điện thoại"
            /><span>Điện thoại</span><strong>Galaxy M Series</strong></a
          >
        </li>
        <li>
          <a
            aria-label="slide"
            data-cate="0"
            data-place="2002"
            href="laptop-gaming.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=52024&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="280"
              height="236"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/06/banner/sis-gaming-desk-280x235.png"
              alt="Laptop Gaming"
            /><span>Laptop Gaming</span><strong>Giảm đến 20%</strong></a
          >
        </li>
        <li>
          <a
            aria-label="slide"
            data-cate="0"
            data-place="2002"
            href="tai-nghe-khong-day.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=52020&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="280"
              height="236"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/phukien-280x235.png"
              alt="Tai nghe không dây"
            /><span>Tai nghe không dây</span><strong>Giảm đến 50%</strong></a
          >
        </li>
        <li>
          <a
            aria-label="slide"
            data-cate="0"
            data-place="2002"
            href="dong-ho-thong-minh-ldp.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=51895&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              width="280"
              height="236"
              loading="lazy"
              class="lazyload"
              data-src="//cdn.tgdd.vn/2022/04/banner/dongho-280x235-1.png"
              alt="Smartwatch"
            /><span>Smartwatch</span><strong>Giảm đến 50%++</strong></a
          >
        </li>
      </ul>
    </div>
    <!-- End -->
  </body>
</html>
