<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout-admin.html}"
>
  <!-- Main Content -->
  <div layout:fragment="content" class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Add New Category</h3>
            <form class="form-sample" th:action="@{/admin/categories-add}" th:object="${category}"  method = "POST">
              <p class="card-description">Add new Category here</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                      <input type="text" th:field="*{name}" class="form-control" id="name" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-4">
                      <div class="form-check form-check-success">
                        <label class="form-check-label">
                          <input
                            type="radio"
                            class="form-check-input"
                            name="status"
                            id="status"
                            value="true"
                            checked
                          />
                          Active
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-check form-check-danger">
                        <label class="form-check-label">
                          <input
                            type="radio"
                            class="form-check-input"
                            name="status"
                            id="status"
                            value="false"
                          />
                          Not Active
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Level</label>
                    <div class="col-sm-9">
                      <select
                        id="level"
                        type="text"
                        class="form-control"
                        required
                      >
                        <option>Select Level</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" id="parentName">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Parent Name</label>
                    <div class="col-sm-9">
                      <select class="form-control" alt="Load from DB">
                        <option class="form-control">Load from DB</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" id="idParentDisplay">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Parent</label>
                    <div class="col-sm-4">
                      <div class="form-check form-check-success">
                        <label class="form-check-label">
                          <input
                            type="radio"
                            class="form-check-input"
                            name="isParent"
                            id="isParent"
                            value="yes"
                            checked
                          />
                          Yes
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-check form-check-danger">
                        <label class="form-check-label">
                          <input
                            type="radio"
                            class="form-check-input"
                            name="isParent"
                            id="isParent"
                            value="no"
                          />
                          No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" id="childrenLevelDisplay">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                      >Children Level</label
                    >
                    <div class="col-sm-9">
                      <select
                        class="form-control"
                        id="childrenLevel"
                        disabled="disabled"
                        required
                      >
                        <option>Select Children Level</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                      >File Logo Upload</label
                    >
                    <input
                      type="file"
                      name="img[]"
                      class="file-upload-default"
                    />
                    <div class="input-group col-sm-12">
                      <input
                        type="text"
                        class="form-control file-upload-info"
                        disabled
                        placeholder="Upload Image"
                      />
                      <span class="input-group-append">
                        <button
                          class="file-upload-browse btn btn-primary"
                          type="button"
                        >
                          Upload
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-success mr-2"
                id="addCategory"
              >
                Submit
              </button>
              <button class="btn btn-secondary">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Content -->
</html>
