<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout-admin.html}"
>
  <!-- Main Content -->
  <div layout:fragment="content" class="content-wrapper">
    <div class="row">
      <!-- BOX SELECT LEVEL 0 -->
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body hover-cursor" id="btnLevel0">
            <h4 class="card-title">Category Level 0</h4>
            <div class="media">
              <i
                class="ti-world icon-md text-success d-flex align-self-start mr-3"
              ></i>
              <div class="media-body">
                <p class="card-text">
                  Select This Box To Add New Category <br />
                  <span class="text-success font-weight-bold">Level 0</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BOX SELECT LEVEL 1 -->
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body hover-cursor" id="btnLevel1">
            <h4 class="card-title">Category Level 1</h4>
            <div class="media">
              <i
                class="ti-world icon-md text-danger d-flex align-self-center mr-3"
              ></i>
              <div class="media-body">
                <p class="card-text">
                  Select This Box To Add New Category <br />
                  <span class="text-danger font-weight-bold">Level 1</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BOX SELECT LEVEL 2 -->
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body hover-cursor" id="btnLevel2">
            <h4 class="card-title">Category Level 2</h4>
            <div class="media">
              <i
                class="ti-world icon-md text-info d-flex align-self-end mr-3"
              ></i>
              <div class="media-body">
                <p class="card-text">
                  Select This Box To Add New Category <br />
                  <span class="text-info font-weight-bold">Level 2</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CATEGORY FORM LEVEL 0 -->
      <div class="col-md-12 grid-margin stretch-card" id="formCategoryLv0">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Add Category Form Level 0</h3>
            <p class="card-description">Category Level 0 form layout</p>
            <form
              th:action="@{/admin/categories-add}"
              th:object="${category}"
              method="POST"
              class="forms-sample"
              id="forms-cate-add"
              enctype="multipart/form-data"
            >
              <div class="form-group row" id="levelHide0">
                <label class="col-sm-3 col-form-label">Level</label>
                <div class="col-sm-9">
                  <select class="form-control" id="level0" name="level">
                    <option
                      th:each="i : ${#numbers.sequence(0, 2)}"
                      th:value="${i}"
                      th:text="${i}"
                      th:selected="${i == 0}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    th:field="*{name}"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-4">
                  <div class="form-check form-check-success">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="status"
                        id="statusLv0T"
                        value="1"
                      />
                      Active
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check form-check-danger">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="status"
                        id="statusLv0F"
                        value="0"
                      />
                      Not Active
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row" id="isParent0">
                <label class="col-sm-3 col-form-label">Parent</label>
                <div class="col-sm-4">
                  <div class="form-check form-check-success">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="isParent"
                        id="isParent0T"
                        value="1"
                        th:field="*{parent}"
                        checked
                      />
                      Yes
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check form-check-danger">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="isParent"
                        id="isParent0F"
                        value="0"
                        th:field="*{parent}"
                      />
                      No
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row" id="childrenLevel0Display">
                <label class="col-sm-3 col-form-label">Children Level</label>
                <div class="col-sm-9">
                  <select
                    class="form-control"
                    id="childrenLevel0"
                    name="childrenLevel"
                    required
                  >
                    <option selected>SELECT CHILDREN LEVEL</option>
                    <option
                      th:each="i : ${#numbers.sequence(1, 2)}"
                      th:value="${i}"
                      th:text="${i}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">File Logo Upload</label>
                <input
                  type="file"
                  name="logoURL"
                  class="file-upload-default"
                  accept="image/png, image/jpeg"
                />
                <div class="input-group col-sm-12">
                  <input
                    type="text"
                    class="form-control file-upload-info"
                    disabled
                    placeholder="Upload Image"
                  />
                  <span class="input-group-append">
                    <button
                      class="file-upload-browse btn btn-primary"
                      type="button"
                    >
                      Upload
                    </button>
                  </span>
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-success mr-2"
                id="btn-submit"
              >
                Submit
              </button>
              <button type="button" class="btn btn-light" id="b1">
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- CATEGORY FORM LEVEL 1 -->
      <div class="col-md-12 grid-margin stretch-card" id="formCategoryLv1">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Add Category Form Level 1</h3>
            <p class="card-description">Category Level 1 form layout</p>
            <form
              th:action="@{/admin/categories-add}"
              th:object="${category}"
              method="POST"
              class="forms-sample"
              id="forms-cate-add"
              enctype="multipart/form-data"
            >
              <div class="form-group row" id="levelHide1">
                <label class="col-sm-3 col-form-label">Level</label>
                <div class="col-sm-9">
                  <select class="form-control" id="level1" name="level">
                    <option
                      th:each="i : ${#numbers.sequence(0, 2)}"
                      th:value="${i}"
                      th:text="${i}"
                      th:selected="${i == 1}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    th:field="*{name}"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Name"
                  />
                </div>
              </div>
              <div class="form-group row" id="parentNameDisplay">
                <label class="col-sm-3 col-form-label">Parent Name</label>
                <div class="col-sm-9">
                  <select
                    id="parentName"
                    th:field="*{parentName}"
                    class="form-control"
                  >
                    <option value="" selected>
                      Select Category Name Level 0
                    </option>
                    <option
                      th:each="categoryLevel0 : ${categoriesLevel0}"
                      th:value="${categoryLevel0.name}"
                      th:text="${categoryLevel0.name}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-4">
                  <div class="form-check form-check-success">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="status"
                        id="statusLv1T"
                        value="1"
                      />
                      Active
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check form-check-danger">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="status"
                        id="statusLv1F"
                        value="0"
                      />
                      Not Active
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Parent</label>
                <div class="col-sm-4">
                  <div class="form-check form-check-success">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="isParent"
                        id="isParent1T"
                        value="1"
                        th:field="*{parent}"
                        checked
                      />
                      Yes
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check form-check-danger">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="isParent"
                        id="isParent1F"
                        value="0"
                        th:field="*{parent}"
                        disabled
                      />
                      No
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row" id="childrenLevel1Display">
                <label class="col-sm-3 col-form-label">Children Level</label>
                <div class="col-sm-9">
                  <select
                    class="form-control"
                    id="childrenLevel1"
                    name="childrenLevel"
                    disabled="disabled"
                    required
                  >
                    <option
                      th:each="i : ${#numbers.sequence(0, 2)}"
                      th:value="${i}"
                      th:text="${i}"
                      th:selected="${i==2}"
                    ></option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">File Logo Upload</label>
                <input
                  type="file"
                  name="logoURL"
                  class="file-upload-default"
                  accept="image/png, image/jpeg"
                />
                <div class="input-group col-sm-12">
                  <input
                    type="text"
                    class="form-control file-upload-info"
                    disabled
                    placeholder="Upload Image"
                  />
                  <span class="input-group-append">
                    <button
                      class="file-upload-browse btn btn-primary"
                      type="button"
                    >
                      Upload
                    </button>
                  </span>
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-success mr-2"
                id="addCategory"
              >
                Submit
              </button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>

      <!-- CATEGORY FORM LEVEL 2 -->
      <div class="col-md-12 grid-margin stretch-card" id="formCategoryLv2">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Add Category Form Level 2</h3>
            <p class="card-description">Category Level 2 form layout</p>
            <form
              th:action="@{/admin/categories-add}"
              th:object="${category}"
              method="POST"
              class="forms-sample"
              id="forms-cate-add"
              enctype="multipart/form-data"
            >
              <div class="form-group row" id="levelHide2">
                <label class="col-sm-3 col-form-label">Level</label>
                <div class="col-sm-9">
                  <select class="form-control" id="level2" name="level">
                    <option
                      th:each="i : ${#numbers.sequence(0, 2)}"
                      th:value="${i}"
                      th:text="${i}"
                      th:selected="${i == 2}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    th:field="*{name}"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Name"
                  />
                </div>
              </div>
              <div class="form-group row" id="parentNameDisplay">
                <label class="col-sm-3 col-form-label">Parent Name</label>
                <div class="col-sm-9">
                  <select
                    id="parentName"
                    th:field="*{parentName}"
                    class="form-control"
                  >
                    <option value="" selected>
                      Select Category Name Level 1
                    </option>
                    <option
                      th:each="categoryLevel0 : ${categoriesLevel0}"
                      th:value="${categoryLevel0.name}"
                      th:text="${categoryLevel0.name}"
                    ></option>
                    <option
                      th:each="categoryLevel1 : ${categoriesLevel1}"
                      th:value="${categoryLevel1.name}"
                      th:text="${categoryLevel1.name}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-4">
                  <div class="form-check form-check-success">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="status"
                        id="statusLv2T"
                        value="1"
                      />
                      Active
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check form-check-danger">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="status"
                        id="statusLv2F"
                        value="0"
                      />
                      Not Active
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">File Logo Upload</label>
                <input
                  type="file"
                  name="logoURL"
                  class="file-upload-default"
                  accept="image/png, image/jpeg"
                />
                <div class="input-group col-sm-12">
                  <input
                    type="text"
                    class="form-control file-upload-info"
                    disabled
                    placeholder="Upload Image"
                  />
                  <span class="input-group-append">
                    <button
                      class="file-upload-browse btn btn-primary"
                      type="button"
                    >
                      Upload
                    </button>
                  </span>
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-success mr-2"
                id="addCategory"
              >
                Submit
              </button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Content -->
</html>
