<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout-admin.html}"
>
  <!-- Main Content -->
  <div layout:fragment="content" class="content-wrapper">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Category List Table</h4>
            <!-- <div class="row grid-margin">
              <div class="col-12">
                <div
                  class="alert alert-success"
                  role="alert"
                  th:text="${success}"
                  th:if="${success}"
                >
                  
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr class="bg-primary text-black">
                        <th>No. #</th>
                        <th>Logo</th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Parent Name</th>
                        <th>Children Level</th>
                        <th>Has Children</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="categoryLevel0 : ${categoriesLevel0}">
                        <td class="py-1" th:text="${categoryLevel0.id}"></td>
                        <td>
                          <img th:src="${categoryLevel0.logo}" alt="No Logo" />
                        </td>
                        <td th:text="${categoryLevel0.name}"></td>
                        <td th:text="${categoryLevel0.level}"></td>
                        <td
                          th:text="${categoryLevel0.parentName != ''} ? ${categoryLevel0.parentName} : 'null parent!'"
                        ></td>
                        <td th:text="${categoryLevel0.childrenLevel}"></td>

                        <td>
                          <label
                            th:class="${categoryLevel0.isParent} ? 'badge badge-success' : 'badge badge-danger'"
                            th:text="${categoryLevel0.isParent} ? 'Yes' : 'No'"
                            >Yes</label
                          >
                        </td>

                        <td>
                          <label
                            th:class="${categoryLevel0.status} ? 'badge badge-success' : 'badge badge-danger'"
                            th:text="${categoryLevel0.status} ? 'Active' : 'Not Active'"
                            >Active</label
                          >
                        </td>
                        <td class="text-center">
                          <button class="btn btn-light">
                            <i class="ti-eye text-info"></i>View
                          </button>
                        </td>
                      </tr>
                      <tr th:each="categoryLevel1 : ${categoriesLevel1}">
                        <td class="py-1" th:text="${categoryLevel1.id}"></td>
                        <td>
                          <img th:src="${categoryLevel1.logo}" alt="No Logo" />
                        </td>
                        <td th:text="${categoryLevel1.name}"></td>
                        <td th:text="${categoryLevel1.level}"></td>
                        <td
                          th:text="${categoryLevel1.parentName != ''} ? ${categoryLevel1.parentName} : 'null value!'"
                        ></td>
                        <td th:text="${categoryLevel1.childrenLevel}"></td>
                        <td>
                          <label
                            th:class="${categoryLevel1.isParent} ? 'badge badge-success' : 'badge badge-danger'"
                            th:text="${categoryLevel1.isParent} ? 'Yes' : 'No'"
                            >Yes</label
                          >
                        </td>
                        <td>
                          <label
                            th:class="${categoryLevel1.status} ? 'badge badge-success' : 'badge badge-danger'"
                            th:text="${categoryLevel1.status} ? 'Active' : 'Not Active'"
                            >Active</label
                          >
                        </td>
                        <td class="text-center">
                          <button class="btn btn-light">
                            <i class="ti-eye text-info"></i>View
                          </button>
                        </td>
                      </tr>
                      <tr th:each="categoryLevel2 : ${categoriesLevel2}">
                        <td class="py-2" th:text="${categoryLevel2.id}"></td>
                        <td>
                          <img th:src="${categoryLevel2.logo}" alt="No Logo" />
                        </td>
                        <td th:text="${categoryLevel2.name}"></td>
                        <td th:text="${categoryLevel2.level}"></td>
                        <td
                          th:text="${categoryLevel2.parentName != ''} ? ${categoryLevel2.parentName} : 'null value!'"
                        ></td>
                        <td th:text="${categoryLevel2.childrenLevel}"></td>
                        <td>
                          <label
                            th:class="${categoryLevel2.isParent} ? 'badge badge-success' : 'badge badge-danger'"
                            th:text="${categoryLevel2.isParent} ? 'Yes' : 'No'"
                            >Yes</label
                          >
                        </td>
                        <td>
                          <label
                            th:class="${categoryLevel2.status} ? 'badge badge-success' : 'badge badge-danger'"
                            th:text="${categoryLevel2.status} ? 'Active' : 'Not Active'"
                            >Active</label
                          >
                        </td>
                        <td class="text-center">
                          <button class="btn btn-light">
                            <i class="ti-eye text-info"></i>View
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Content -->
</html>
