<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{dtdd.html}"
>
  <head> </head>
  <body>
    <!-- Products -->
    <section th:fragment="product">
      <div class="box-sort">
        <p class="sort-total">
          <b>97</b> &#x110;i&#x1EC7;n tho&#x1EA1;i
          <strong class="manu-sort"></strong>
        </p>
        <div class="box-checkbox extend">
          <a
            href="javascript:;"
            data-href=""
            data-type="fast"
            class="c-checkitem fastdeli"
          >
            <span class="tick-checkbox"></span>
            <i class="thunder-icon">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/icon-thunder.png"
              />
            </i>
            <p>Giao nhanh</p>
          </a>
          <a
            href="javascript:;"
            data-href=""
            data-type="sp2020"
            class="c-checkitem"
          >
            <span class="tick-checkbox"></span>
            <p>Giảm giá</p>
          </a>
          <a
            href="javascript:;"
            data-href="-tra-gop-0-phan-tram"
            data-type="installment0"
            class="c-checkitem"
          >
            <span class="tick-checkbox"></span>
            <p>Góp 0%</p>
          </a>
          <a
            href="javascript:;"
            data-href=""
            data-type="monopoly"
            class="c-checkitem"
          >
            <span class="tick-checkbox"></span>
            <p>Độc quyền</p>
          </a>
          <a
            href="javascript:;"
            data-href="-moi-ra-mat"
            data-type="new"
            data-prop="0"
            data-newv2="False"
            class="c-checkitem"
          >
            <span class="tick-checkbox"></span>
            <p>M&#x1EDB;i</p>
          </a>
        </div>      
      </div>
    
      <div class="container-productbox">
        <ul class="listproduct">
          <li class="item ajaxed __cate_42" th:each="product : ${products}">
            <a
              href="#"
              class="main-contain"
            >
              <div class="item-img item-img_42">
                <img
                  class="thumb"
                  th:src="${product.img}"
                />
              </div>

              <h3 th:text="${product.name}">Samsung Galaxy S22 Ultra 5G</h3>
              <div class="prods-group">
                <ul>
                  <li
                    data-url="/dtdd/samsung-galaxy-s22-ultra"
                    data-id="235838"
                    data-index="0"
                    class="merge__item item act"
                  >
                    8GB/128GB
                  </li>
                  <li
                    data-url="/dtdd/samsung-galaxy-s22-ultra-256gb"
                    data-id="271697"
                    data-index="1"
                    class="merge__item item"
                  >
                    12GB/256GB
                  </li>
                  <li
                    data-url="/dtdd/samsung-galaxy-s22-ultra-512gb"
                    data-id="271698"
                    data-index="2"
                    class="merge__item item"
                  >
                    12GB/512GB
                  </li>
                </ul>
              </div>
              <!-- <div class="box-p">
                <p class="price-old black">30.990.000&#x20AB;</p>
                <span class="percent">-9%</span>
              </div> -->
              <strong class="price" th:text="${product.price}"></strong>
              <!-- <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">45</p>
              </div> -->
            </a>
          </li>
         

          <!-- <li
            class="item ajaxed __cate_42"
            data-index="2"
            data-id="153856"
            data-issetup="0"
            data-maingroup="13"
            data-subgroup="1491"
            data-type="1"
            data-vehicle="1"
            data-productcode="0131491002305"
            data-price="14990000.0"
            data-ordertypeid="2"
            data-pos="2"
          >
            <a
              href="dtdd/iphone-117356.html?src=osp"
              data-s="OnlineSavingCMS"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-121"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i iPhone 11 64GB"
              data-id="153856"
              data-price="12790000.0"
              data-brand="iPhone (Apple)"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_42">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/42/153856/TimerThumb/153856.jpg"
                  alt="iPhone 11"
                />
              </div>

              <p class="result-label temp4">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="VNPAY GIẢM 500k"
                  data-src="../cdn.tgdd.vn/2020/10/content/icon6-50x50.png"
                /><span>VNPAY GIẢM 500k</span>
              </p>
              <h3>iPhone 11</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="iPhone 11"
                data-lstArranged="153856,210644"
              >
                <ul>
                  <li
                    data-url="/dtdd/iphone-11"
                    data-id="153856"
                    data-index="0"
                    class="merge__item item act"
                  >
                    64GB
                  </li>
                  <li
                    data-url="/dtdd/iphone-11-128gb"
                    data-id="210644"
                    data-index="1"
                    class="merge__item item"
                  >
                    128GB
                  </li>
                </ul>
              </div>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <div class="box-p">
                <p class="price-old black">14.990.000&#x20AB;</p>
                <span class="percent">-14%</span>
              </div>
              <strong class="price">12.790.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">812</p>
              </div>
            </a>
          </li>
          <li
            class="item ajaxed __cate_42"
            data-index="3"
            data-id="271717"
            data-issetup="0"
            data-maingroup="13"
            data-subgroup="1491"
            data-type="1"
            data-vehicle="1"
            data-productcode="0131491003039"
            data-price="10490000.0"
            data-ordertypeid="2"
            data-pos="3"
          >
            <a
              href="dtdd/oppo-reno7-z7356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-121"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i OPPO Reno7 Z 5G"
              data-id="271717"
              data-price="10490000.0"
              data-brand="OPPO"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img item-img_42">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/42/271717/oppo-reno7-z-5g-thumb-1-1-600x600.jpg"
                  alt="OPPO Reno7 series"
                />
              </div>

              <h3>OPPO Reno7 series</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="OPPO Reno7 series"
                data-lstArranged="271717,274721,247361,251964"
              >
                <ul>
                  <li
                    data-url="/dtdd/oppo-reno7-z"
                    data-id="271717"
                    data-index="0"
                    class="merge__item item act"
                  >
                    Reno7 Z 5G
                  </li>
                  <li
                    data-url="/dtdd/oppo-reno7-4g"
                    data-id="274721"
                    data-index="1"
                    class="merge__item item"
                  >
                    Reno7 4G
                  </li>
                  <li
                    data-url="/dtdd/oppo-reno7"
                    data-id="247361"
                    data-index="2"
                    class="merge__item item"
                  >
                    Reno7 5G
                  </li>
                  <li
                    data-url="/dtdd/oppo-reno7-pro"
                    data-id="251964"
                    data-index="3"
                    class="merge__item item"
                  >
                    Reno7 Pro 5G
                  </li>
                </ul>
              </div>
              <strong class="price">10.490.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">215</p>
              </div>
            </a>
          </li>
          <li
            class="item ajaxed __cate_42"
            data-index="4"
            data-id="261888"
            data-issetup="0"
            data-maingroup="13"
            data-subgroup="1491"
            data-type="1"
            data-vehicle="1"
            data-productcode="0131491003028"
            data-price="4290000.0"
            data-ordertypeid="2"
            data-pos="4"
          >
            <a
              href="dtdd/realme-c357356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-121"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Realme C35 64GB"
              data-id="261888"
              data-price="4290000.0"
              data-brand="Realme"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_42">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/42/261888/realme-c35-thumb-new-600x600.jpg"
                  alt="Realme C35"
                />
              </div>

              <h3>Realme C35</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="Realme C35"
                data-lstArranged="261888,278343"
              >
                <ul>
                  <li
                    data-url="/dtdd/realme-c35"
                    data-id="261888"
                    data-index="0"
                    class="merge__item item act"
                  >
                    64GB
                  </li>
                  <li
                    data-url="/dtdd/realme-c35-128gb"
                    data-id="278343"
                    data-index="1"
                    class="merge__item item"
                  >
                    128GB
                  </li>
                </ul>
              </div>
              <strong class="price">4.290.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">136</p>
              </div>
            </a>
          </li>
          <li
            class="item ajaxed __cate_42"
            data-index="5"
            data-id="248293"
            data-issetup="0"
            data-maingroup="13"
            data-subgroup="1491"
            data-type="1"
            data-vehicle="1"
            data-productcode="0131491002815"
            data-price="10990000.0"
            data-ordertypeid="2"
            data-pos="5"
          >
            <a
              href="dtdd/xiaomi-11t7356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-121"
              data-name="&#x110;i&#x1EC7;n tho&#x1EA1;i Xiaomi 11T 5G 128GB"
              data-id="248293"
              data-price="10990000.0"
              data-brand="Xiaomi"
              data-cate="&#x110;i&#x1EC7;n tho&#x1EA1;i"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img item-img_42">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/42/248293/TimerThumb/xiaomi-11t-(8).jpg"
                  alt="Xiaomi 11T"
                />
                <img
                  src="../cdn.tgdd.vn/ValueIcons/Label_01-01.png"
                  width="40"
                  height="40"
                  class="lbliconimg lbliconimg_42 tgdd"
                />
              </div>

              <p class="result-label temp1">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="Xả kho - Giảm Sốc"
                  data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                /><span>Xả kho - Giảm Sốc</span>
              </p>
              <h3>Xiaomi 11T</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="Xiaomi 11T"
                data-lstArranged="248293,251216"
              >
                <ul>
                  <li
                    data-url="/dtdd/xiaomi-11t"
                    data-id="248293"
                    data-index="0"
                    class="merge__item item act"
                  >
                    128GB
                  </li>
                  <li
                    data-url="/dtdd/xiaomi-11t-256gb"
                    data-id="251216"
                    data-index="1"
                    class="merge__item item"
                  >
                    256GB
                  </li>
                </ul>
              </div>
              <strong class="price">10.990.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">293</p>
              </div>
            </a>
          </li> -->
        </ul>
      </div>
    </section>
    <!-- End -->
  </body>
</html>
