<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{dong-ho-thong-minh.html}"
>
  <head> </head>
  <body>
    <!-- Deal Sốc Đồng Hồ Thông Minh-->
    <div th:fragment="deal-soc-smart-watch" class="deal" id="dealsoc">
      <section>
        <div class="deal-main">
          <h2 class="deal__title">DEAL SỐC <span>GIẢM TỚI 40%</span></h2>
          <div class="listproduct listproduct-deal owl-carousel">
            <div
              class="item"
              data-productid="249906"
              data-pos="1"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="249906"
            >
              <a
                href="dong-ho-thong-minh/apple-watch-s7-41mm7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="Apple Watch Series 7 GPS 41mm"
                data-id="249906"
                data-price="10791000.0"
                data-brand="Apple"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/249906/apple-watch-s7-gps-41mm-vang-thumb-1-2-660x600.jpg"
                    alt="Apple Watch Series 7 GPS 41mm"
                  />
                </div>

                <h3>Apple Watch Series 7 GPS 41mm</h3>
                <div class="item-compare">
                  <span>C&#xF3; ch&#x1ED1;ng n&#x1B0;&#x1EDB;c</span>
                  <span>&#x110;o n&#x1ED3;ng &#x111;&#x1ED9; oxy (SpO2)</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">11.990.000&#x20AB;</p>
                  <span class="percent">-10%</span>
                </div>
                <strong class="price">10.791.000&#x20AB;</strong>
                <div class="item-rating">
                  <p>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star-dark"></i>
                  </p>
                  <p class="item-rating-total">10</p>
                </div>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="234918"
              data-pos="2"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="234918"
            >
              <a
                href="dong-ho-thong-minh/se-40mm-vien-nhom-day-cao-su-hong7356.html?src=osp"
                data-s="OnlineSavingCMS"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="Apple Watch SE 40mm vi&#x1EC1;n nh&#xF4;m d&#xE2;y silicone"
                data-id="234918"
                data-price="6969000.0"
                data-brand="Apple"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label"></div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/234918/se-40mm-vien-nhom-day-cao-su-xanh-den-thumb-600x600.jpg"
                    alt="Apple Watch SE 40mm vi&#x1EC1;n nh&#xF4;m d&#xE2;y silicone"
                  />
                </div>

                <h3>Apple Watch SE 40mm viền nhôm dây silicone</h3>
                <div class="item-compare">
                  <span>C&#xF3; ch&#x1ED1;ng n&#x1B0;&#x1EDB;c</span>
                  <span>C&#xF3; nghe g&#x1ECD;i</span>
                </div>
                <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
                <div class="box-p">
                  <p class="price-old black">8.990.000&#x20AB;</p>
                  <span class="percent">-22%</span>
                </div>
                <strong class="price">6.969.000&#x20AB;</strong>
                <div class="item-rating">
                  <p>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                  </p>
                  <p class="item-rating-total">45</p>
                </div>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="248758"
              data-pos="3"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="248758"
            >
              <a
                href="dong-ho-thong-minh/samsung-galaxy-watch-4-classic-42mm7356.html?src=osp"
                data-s="CleanStock"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="Samsung Galaxy Watch 4 Classic 42mm Tr&#x1EAF;ng"
                data-id="248758"
                data-price="8065000.0"
                data-brand="Samsung"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label"></div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/248758/samsung-galaxy-watch-4-classic-42mm-trang-thumb-1-2-3-600x600.jpg"
                    alt="Samsung Galaxy Watch 4 Classic 42mm Tr&#x1EAF;ng"
                  />
                </div>

                <p class="result-label temp2">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="THU CŨ TẶNG 1TRIỆU"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon5-50x50.png"
                  /><span>THU CŨ TẶNG 1TRIỆU</span>
                </p>
                <h3>Samsung Galaxy Watch 4 Classic 42mm Trắng</h3>
                <div class="item-compare">
                  <span>C&#xF3; ch&#x1ED1;ng n&#x1B0;&#x1EDB;c</span>
                  <span>&#x110;o n&#x1ED3;ng &#x111;&#x1ED9; oxy (SpO2)</span>
                </div>
                <p class="item-txt-online">X&#x1EA3; kho gi&#xE1; s&#x1ED1;c</p>
                <div class="box-p">
                  <p class="price-old black">8.490.000&#x20AB;</p>
                  <span class="percent">-5%</span>
                </div>
                <strong class="price">8.065.000&#x20AB;</strong>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="227987"
              data-pos="4"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="227987"
            >
              <a
                href="dong-ho-thong-minh/garmin-fenix-6-pro-solar-day-silicone7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh Garmin Fenix 6 Pro Solar d&#xE2;y silicone"
                data-id="227987"
                data-price="13968000.0"
                data-brand="Garmin"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/227987/garmin-fenix-6-pro-solar-day-silicone-thumb-1-1-600x600.jpg"
                    alt="Garmin Fenix 6 Pro Solar d&#xE2;y silicone"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/Label_01_2nd-09-111.png"
                    width="40"
                    height="40"
                    loading="lazy"
                    class="lbliconimg lbliconimg_7077 tgdd"
                  />
                </div>

                <h3>Garmin Fenix 6 Pro Solar dây silicone</h3>
                <div class="item-compare">
                  <span>&#x110;o n&#x1ED3;ng &#x111;&#x1ED9; oxy (SpO2)</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">21.490.000&#x20AB;</p>
                  <span class="percent">-35%</span>
                </div>
                <strong class="price">13.968.000&#x20AB;</strong>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="248761"
              data-pos="5"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="248761"
            >
              <a
                href="dong-ho-thong-minh/samsung-galaxy-watch-4-classic-46mm7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="Samsung Galaxy Watch 4 Classic 46mm B&#x1EA1;c"
                data-id="248761"
                data-price="8720000.0"
                data-brand="Samsung"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/248761/samsung-galaxy-watch-4-classic-46mm-bac-thumb-01-1-600x600.jpg"
                    alt="Samsung Galaxy Watch 4 Classic 46mm B&#x1EA1;c"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/Label_01-05.png"
                    width="40"
                    height="40"
                    loading="lazy"
                    class="lbliconimg lbliconimg_7077 tgdd"
                  />
                </div>

                <p class="result-label temp2">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="THU CŨ TẶNG 1TRIỆU"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon5-50x50.png"
                  /><span>THU CŨ TẶNG 1TRIỆU</span>
                </p>
                <h3>Samsung Galaxy Watch 4 Classic 46mm Bạc</h3>
                <div class="item-compare">
                  <span>C&#xF3; ch&#x1ED1;ng n&#x1B0;&#x1EDB;c</span>
                  <span>&#x110;o n&#x1ED3;ng &#x111;&#x1ED9; oxy (SpO2)</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">8.990.000&#x20AB;</p>
                </div>
                <strong class="price">8.720.000&#x20AB;</strong>
                <div class="item-rating">
                  <p>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star-dark"></i>
                  </p>
                  <p class="item-rating-total">13</p>
                </div>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="234919"
              data-pos="6"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="234919"
            >
              <a
                href="dong-ho-thong-minh/s5-lte-40mm-vien-thep-day-thep-vang7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="Apple Watch S5 LTE 40mm vi&#x1EC1;n th&#xE9;p d&#xE2;y th&#xE9;p"
                data-id="234919"
                data-price="13492000.0"
                data-brand="Apple"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/234919/s5-lte-40mm-vien-thep-day-thep-bac-thumb-600x600.jpg"
                    alt="Apple Watch S5 LTE 40mm vi&#x1EC1;n th&#xE9;p d&#xE2;y th&#xE9;p"
                  />
                </div>

                <h3>Apple Watch S5 LTE 40mm viền thép dây thép</h3>
                <div class="item-compare">
                  <span>C&#xF3; ch&#x1ED1;ng n&#x1B0;&#x1EDB;c</span>
                  <span>C&#xF3; nghe g&#x1ECD;i</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">17.990.000&#x20AB;</p>
                  <span class="percent">-25%</span>
                </div>
                <strong class="price">13.492.000&#x20AB;</strong>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="250638"
              data-pos="7"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="250638"
            >
              <a
                href="dong-ho-thong-minh/apple-watch-s7-45mm7356.html?src=osp"
                data-s="CleanStock"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="Apple Watch Series 7 GPS 45mm"
                data-id="250638"
                data-price="10911000.0"
                data-brand="Apple"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label"></div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/250638/apple-watch-s7-gps-45mm-den-thumb-660x600.jpg"
                    alt="Apple Watch Series 7 GPS 45mm"
                  />
                </div>

                <h3>Apple Watch Series 7 GPS 45mm</h3>
                <div class="item-compare">
                  <span>C&#xF3; ch&#x1ED1;ng n&#x1B0;&#x1EDB;c</span>
                  <span>&#x110;o n&#x1ED3;ng &#x111;&#x1ED9; oxy (SpO2)</span>
                </div>
                <p class="item-txt-online">X&#x1EA3; kho gi&#xE1; s&#x1ED1;c</p>
                <div class="box-p">
                  <p class="price-old black">12.990.000&#x20AB;</p>
                  <span class="percent">-16%</span>
                </div>
                <strong class="price">10.911.000&#x20AB;</strong>
                <div class="item-rating">
                  <p>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                  </p>
                  <p class="item-rating-total">28</p>
                </div>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="231681"
              data-pos="8"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="231681"
            >
              <a
                href="dong-ho-thong-minh/beu-b2-hong7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh BeU B2 H&#x1ED3;ng"
                data-id="231681"
                data-price="490000.0"
                data-brand="BeFit"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label"></div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/231681/beu-b2-hong-thumb-1-1-600x600.jpg"
                    alt="BeU B2"
                  />
                </div>

                <h3>BeU B2</h3>
                <div class="box-p">
                  <p class="price-old black">590.000&#x20AB;</p>
                  <span class="percent">-16%</span>
                </div>
                <strong class="price">490.000&#x20AB;</strong>
                <div class="item-rating">
                  <p>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star-dark"></i>
                    <i class="icon-star-dark"></i>
                  </p>
                  <p class="item-rating-total">33</p>
                </div>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="248752"
              data-pos="9"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="248752"
            >
              <a
                href="dong-ho-thong-minh/samsung-galaxy-watch-4-40mm7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="Samsung Galaxy Watch 4 40mm V&#xE0;ng H&#x1ED3;ng"
                data-id="248752"
                data-price="6295000.0"
                data-brand="Samsung"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/248752/samsung-galaxy-watch-4-40mm-vang-hong-thumb-1-2-3-4-600x600.jpg"
                    alt="Samsung Galaxy Watch 4 40mm V&#xE0;ng H&#x1ED3;ng"
                  />
                </div>

                <p class="result-label temp2">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="THU CŨ TẶNG 1TRIỆU"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon2-50x50.png"
                  /><span>THU CŨ TẶNG 1TRIỆU</span>
                </p>
                <h3>Samsung Galaxy Watch 4 40mm Vàng Hồng</h3>
                <div class="item-compare">
                  <span>C&#xF3; ch&#x1ED1;ng n&#x1B0;&#x1EDB;c</span>
                  <span>&#x110;o n&#x1ED3;ng &#x111;&#x1ED9; oxy (SpO2)</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">6.490.000&#x20AB;</p>
                </div>
                <strong class="price">6.295.000&#x20AB;</strong>
                <div class="item-rating">
                  <p>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star-dark"></i>
                  </p>
                  <p class="item-rating-total">20</p>
                </div>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="226297"
              data-pos="10"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="226297"
            >
              <a
                href="dong-ho-thong-minh/suunto-7-day-silicon-den7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh Suunto 7 D&#xE2;y silicone"
                data-id="226297"
                data-price="8700000.0"
                data-brand="Suunto"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/226297/suunto-7-day-silicon-den-thumb-1-600x600.jpg"
                    alt="Suunto 7 D&#xE2;y silicone"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/Label_01_2nd-09-111.png"
                    width="40"
                    height="40"
                    loading="lazy"
                    class="lbliconimg lbliconimg_7077 tgdd"
                  />
                </div>

                <h3>Suunto 7 Dây silicone</h3>
                <div class="box-p">
                  <p class="price-old black">14.500.000&#x20AB;</p>
                  <span class="percent">-40%</span>
                </div>
                <strong class="price">8.700.000&#x20AB;</strong>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="231023"
              data-pos="11"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="231023"
            >
              <a
                href="dong-ho-thong-minh/apple-watch-s5-lte-44mm-day-thep-bac7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="Apple Watch S5 LTE 44mm vi&#x1EC1;n th&#xE9;p d&#xE2;y th&#xE9;p b&#x1EA1;c"
                data-id="231023"
                data-price="14242000.0"
                data-brand="Apple"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/231023/apple-watch-s5-lte-44mm-day-thep-bac-231023-fix-600x600.jpg"
                    alt="Apple Watch S5 LTE 44mm vi&#x1EC1;n th&#xE9;p d&#xE2;y th&#xE9;p"
                  />
                </div>

                <h3>Apple Watch S5 LTE 44mm viền thép dây thép</h3>
                <div class="item-compare">
                  <span>C&#xF3; ch&#x1ED1;ng n&#x1B0;&#x1EDB;c</span>
                  <span>C&#xF3; nghe g&#x1ECD;i</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">18.990.000&#x20AB;</p>
                  <span class="percent">-25%</span>
                </div>
                <strong class="price">14.242.000&#x20AB;</strong>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="236733"
              data-pos="12"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="236733"
            >
              <a
                href="dong-ho-thong-minh/mi-band-67356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="V&#xF2;ng &#x111;eo tay th&#xF4;ng minh Mi Band 6"
                data-id="236733"
                data-price="949000.0"
                data-brand="Xiaomi"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label"></div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/236733/mi-band-6-thumb-1-1-600x600.jpg"
                    alt="Xiaomi Mi Band 6"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/image-12.png"
                    width="40"
                    height="40"
                    loading="lazy"
                    class="lbliconimg lbliconimg_7077 tgdd"
                  />
                </div>

                <h3>Xiaomi Mi Band 6</h3>
                <div class="item-compare">
                  <span>&#x110;o n&#x1ED3;ng &#x111;&#x1ED9; oxy (SpO2)</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">1.290.000&#x20AB;</p>
                  <span class="percent">-26%</span>
                </div>
                <strong class="price">949.000&#x20AB;</strong>
                <div class="item-rating">
                  <p>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star-dark"></i>
                  </p>
                  <p class="item-rating-total">124</p>
                </div>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="229044"
              data-pos="13"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="229044"
            >
              <a
                href="dong-ho-thong-minh/apple-watch-s6-40mm-vien-nhom-day-cao-su7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="Apple Watch S6 40mm vi&#x1EC1;n nh&#xF4;m d&#xE2;y silicone"
                data-id="229044"
                data-price="8991000.0"
                data-brand="Apple"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/229044/apple-watch-s6-40mm-vien-nhom-day-cao-su-do-thumb-600x600.jpg"
                    alt="Apple Watch S6 40mm vi&#x1EC1;n nh&#xF4;m d&#xE2;y silicone"
                  />
                </div>

                <h3>Apple Watch S6 40mm viền nhôm dây silicone</h3>
                <div class="item-compare">
                  <span>C&#xF3; ch&#x1ED1;ng n&#x1B0;&#x1EDB;c</span>
                  <span>&#x110;o n&#x1ED3;ng &#x111;&#x1ED9; oxy (SpO2)</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">9.990.000&#x20AB;</p>
                  <span class="percent">-10%</span>
                </div>
                <strong class="price">8.991.000&#x20AB;</strong>
                <div class="item-rating">
                  <p>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                  </p>
                  <p class="item-rating-total">31</p>
                </div>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="248753"
              data-pos="14"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="248753"
            >
              <a
                href="dong-ho-thong-minh/samsung-galaxy-watch-4-44mm7356.html?src=osp"
                data-s="CleanStock"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="Samsung Galaxy Watch 4 44mm B&#x1EA1;c"
                data-id="248753"
                data-price="6640000.0"
                data-brand="Samsung"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label"></div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/248753/samsung-galaxy-watch-4-44mm-thumb-02-600x600.jpg"
                    alt="Samsung Galaxy Watch 4 44mm B&#x1EA1;c"
                  />
                </div>

                <p class="result-label temp2">
                  <img
                    width="20"
                    height="20"
                    class="lazyload"
                    alt="THU CŨ TẶNG 1TRIỆU"
                    data-src="../cdn.tgdd.vn/2020/10/content/icon2-50x50.png"
                  /><span>THU CŨ TẶNG 1TRIỆU</span>
                </p>
                <h3>Samsung Galaxy Watch 4 44mm Bạc</h3>
                <div class="item-compare">
                  <span>C&#xF3; ch&#x1ED1;ng n&#x1B0;&#x1EDB;c</span>
                  <span>&#x110;o n&#x1ED3;ng &#x111;&#x1ED9; oxy (SpO2)</span>
                </div>
                <p class="item-txt-online">X&#x1EA3; kho gi&#xE1; s&#x1ED1;c</p>
                <div class="box-p">
                  <p class="price-old black">6.990.000&#x20AB;</p>
                  <span class="percent">-5%</span>
                </div>
                <strong class="price">6.640.000&#x20AB;</strong>
                <div class="item-rating">
                  <p>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star-dark"></i>
                  </p>
                  <p class="item-rating-total">22</p>
                </div>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
            <div
              class="item"
              data-productid="218442"
              data-pos="15"
              data-grname="Đồng hồ thông minh nổi bật"
              data-id="218442"
            >
              <a
                href="dong-ho-thong-minh/garmin-fenix-6-day-silicone7356.html?src=osp"
                data-s="Nomal"
                data-site="1"
                data-pro="3"
                data-cache="False"
                data-sv="webtgdd-26-87"
                data-name="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh Garmin Fenix 6 d&#xE2;y silicone vi&#x1EC1;n Titanium"
                data-id="218442"
                data-price="14618000.0"
                data-brand="Garmin"
                data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate"
                class="main-contain"
              >
                <div class="item-label">
                  <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
                </div>
                <div class="item-img item-img_7077">
                  <img
                    class="lazyload thumb"
                    data-src="https://cdn.tgdd.vn/Products/Images/7077/218442/garmin-fenix-6-day-silicone-thumb-1-1-600x600.jpg"
                    alt="Garmin Fenix 6 Sapphire d&#xE2;y silicone vi&#x1EC1;n Titanium"
                  />
                  <img
                    src="../cdn.tgdd.vn/ValueIcons/Label_01_2nd-09-111.png"
                    width="40"
                    height="40"
                    loading="lazy"
                    class="lbliconimg lbliconimg_7077 tgdd"
                  />
                </div>

                <h3>Garmin Fenix 6 Sapphire dây silicone viền Titanium</h3>
                <div class="item-compare">
                  <span>&#x110;o n&#x1ED3;ng &#x111;&#x1ED9; oxy (SpO2)</span>
                </div>
                <div class="box-p">
                  <p class="price-old black">22.490.000&#x20AB;</p>
                  <span class="percent">-35%</span>
                </div>
                <strong class="price">14.618.000&#x20AB;</strong>
              </a>
              <div class="item-bottom">
                <a href="#" class="shiping"></a>
              </div>

              <a href="javascript:void(0)" class="item-ss">
                <i></i>
                So sánh
              </a>
            </div>
          </div>
        </div>

        <div class="deal-banner owl-carousel">
          <a
            data-cate="7077"
            data-place="1554"
            href="dong-ho-thong-minh/mi-band-7.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=56050&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              style="cursor: pointer"
              src="../cdn.tgdd.vn/2022/06/banner/800-200-800x200-114.png"
              alt="đh"
              width="800"
              height="200" /></a
          ><a
            data-cate="7077"
            data-place="1554"
            href="dong-ho-thong-minh-samsung-galaxy-watch-4.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=55192&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              style="cursor: pointer"
              src="../cdn.tgdd.vn/2022/06/banner/w4-800-200-800x200-1.png"
              alt="đh"
              width="800"
              height="200" /></a
          ><a
            data-cate="7077"
            data-place="1554"
            href="dong-ho-thong-minh-gia-soc.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=54900&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              style="cursor: pointer"
              src="../cdn.tgdd.vn/2022/05/banner/800x200px-800x200-1.png"
              alt="smartwatch"
              width="800"
              height="200" /></a
          ><a
            data-cate="7077"
            data-place="1554"
            href="dong-ho-thong-minh-apple-watch-series-7.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=55298&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              style="cursor: pointer"
              src="../cdn.tgdd.vn/2022/06/banner/800-200-800x200-106.png"
              alt="s7"
              width="800"
              height="200" /></a
          ><a
            data-cate="7077"
            data-place="1554"
            href="dong-ho-thong-minh-garmin-forerunner.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=56041&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              style="cursor: pointer"
              src="../cdn.tgdd.vn/2022/06/banner/800-x-200-(1)-800x200.png"
              alt="Garmin Watch"
              width="800"
              height="200" /></a
          ><a
            data-cate="7077"
            data-place="1554"
            href="dong-ho-thong-minh-beu.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=56026&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              style="cursor: pointer"
              src="../cdn.tgdd.vn/2022/06/banner/800x200-800x200-3.jpg"
              alt="BeU BeFit"
              width="800"
              height="200" /></a
          ><a
            data-cate="7077"
            data-place="1554"
            href="dong-ho-thong-minh/itel-isw-41.html"
            onclick="jQuery.ajax({ url: '/bannertracking?bid=55213&r='+ (new Date).getTime(), async: true, cache: false });"
            ><img
              style="cursor: pointer"
              src="../cdn.tgdd.vn/2022/05/banner/800-200-800x200-210.png"
              alt="đh"
              width="800"
              height="200"
          /></a>
        </div>
      </section>
    </div>
    <!-- End -->
  </body>
</html>
