<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{dong-ho-thong-minh.html}"
>
  <head> </head>
  <body>
    <!-- Danh mục Đồng Hồ Thông Minh -->
    <div th:fragment="menu-top-smart-watch" class="menu-top">
      <a href="#dealsoc" class="nav-item">
        <div class="box-icon">
          <i class="icondhtm-dealsoc"></i>
        </div>
        <p>Deal Sốc</p>
      </a>
      <a href="#thoitrang" class="nav-item">
        <div class="box-icon">
          <i class="icondhtm-thoitrang"></i>
        </div>
        <p>Thời Trang</p>
      </a>
      <a href="#tienich" class="nav-item">
        <div class="box-icon">
          <i class="icondhtm-tienich"></i>
        </div>
        <p>Tiện Ích</p>
      </a>
      <a href="#thethao" class="nav-item">
        <div class="box-icon">
          <i class="icondhtm-thethao"></i>
        </div>
        <p>Thể Thao</p>
      </a>
      <a href="#treem" class="nav-item">
        <div class="box-icon">
          <i class="icondhtm-treem"></i>
        </div>
        <p>Trẻ Em</p>
      </a>
      <a href="#phukien" class="nav-item">
        <div class="box-icon">
          <i class="icondhtm-phukien"></i>
        </div>
        <p>Phụ Kiện</p>
      </a>
    </div>
    <!-- End -->
  </body>
</html>
