<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{dong-ho-thong-minh.html}"
>
  <head> </head>
  <body>
    <!-- Link Thương Hiệu Đồng Hồ Thông Minh -->
    <div th:fragment="quick-link-smart-watch" class="quick-link">
      <a href="dong-ho-thong-minh-apple.html">
        <img
          src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/smartwatch/logo01.png"
          alt="logo"
          width="72"
          height="16"
        />
      </a>
      <a href="dong-ho-thong-minh-samsung.html">
        <img
          src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/smartwatch/logo02b.png"
          alt="logo"
          width="90"
        />
      </a>
      <a href="dong-ho-thong-minh-garmin.html">
        <img
          src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/smartwatch/logo03.png"
          alt="logo"
          width="85"
          height="14"
        />
      </a>

      <a href="dong-ho-thong-minh-beu.html">
        <img
          src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/smartwatch/logo04-1.png"
          alt="logo"
          width="100"
          height="65"
        />
      </a>

      <a href="dong-ho-thong-minh-xiaomi.html">
        <img
          src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/smartwatch/logo05.png"
          alt="logo"
          width="83"
          height="24"
        />
      </a>
      <a href="dong-ho-thong-minh-kidcare.html">
        <img
          src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/smartwatch/logo06.png"
          alt="logo"
          width="80"
          height="28"
        />
      </a>
      <a href="dong-ho-thong-minh-huami-amazfit.html">
        <img
          src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/smartwatch/logoAMZ.png"
          alt="logo"
          width="90"
          height="28"
        />
      </a>
      <a href="dong-ho-thong-minh-oppo.html">
        <img
          src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/smartwatch/logo08.png"
          alt="logo"
          width="68"
          height="40"
        />
      </a>
    </div>
    <!-- End -->
  </body>
</html>
