t<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout-admin.html}"
>
  <!-- Main Content -->
  <div layout:fragment="content" class="content-wrapper">
    <!-- Order List  -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Promotion List Table</h4>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr class="bg-primary text-black">
                        <th>Date</th>
                        <th>Total</th>
                        <th>Location</th>
                        <th>Detail</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="promo : ${promotionsList}">
                        <td th:text="${promo.id}"></td>
                        <td th:text="${promo.startDate}"></td>
                        <td th:text="${promo.endDate}"></td>
                        <td th:text="${promo.promotionPercent}"></td>
                        <td class="text-center">
                          <button class="btn btn-light">
                            <i class="ti-eye text-info"></i>View
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Order List  -->
  </div>
  <!-- End Main Content -->
</html>
