<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{phu-kien.html}"
>
  <head> </head>
  <body>
    <!-- Banner Top Phụ Kiện -->
    <div th:fragment="top-banner-phu-kien" class="banner">
      <div class="top-banner">
        <section>
          <div class="slider-bannertop owl-carousel owl-theme">
            <div class="item">
              <a
                aria-label="slide"
                data-cate="9041,6862,56,4727,54,9398,9518,7923,9386,75,-999,58,86,482,1882,1363,6859,7924,1662,55,57,999,4547,9458,1902,85,7922,60,7925,3885,4728,9262,9358"
                data-place="1554"
                href="trung-tam-phu-kien.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55906&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  src="../cdn.tgdd.vn/2022/06/banner/800x200-(1)-800x200.png"
                  alt="Khai trương TTPK"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="1662,6862,56,4727,54,-999,58,86,482,1882,9398,60,7925,3885,55,57,999,4547,9458,1902,85,4728,9262,1363,9358,6859,7924,9518,7923,9386,75,9041,7922"
                data-place="1554"
                href="uu-dai-soc.html#phukien"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=54653&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-5.png"
                  alt="Phụ Kiện Đón Lễ To[break]Giảm Đến 50%++"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="54,482,-9,999"
                data-place="1554"
                href="tai-nghe-apple-khong-day.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=52789&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-18.png"
                  alt="AirPods Giảm Sâu"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="-9,482,999,54"
                data-place="1554"
                href="tai-nghe/bluetooth-true-wireless-jbl-t115tws7356.html?src=osp"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=54256&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/05/banner/800x200-800x200-1.png"
                  alt="JBL"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="482,999,4727,-9,-999"
                data-place="1554"
                href="thiet-bi-mang-totolink.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55453&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-28.png"
                  alt="totolink"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="9499,58,60,482,999,57,9518,-9,-999"
                data-place="1554"
                href="samsung.html#phu-kien"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55437&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-14.png"
                  alt="pk ss"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="4547,4728,4727,9386,86,482,999,-9"
                data-place="1554"
                href="phu-kien/asus.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=52689&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800x200-800x200-1.png"
                  alt="Phụ kiện Asus"
              /></a>
            </div>
            <div class="item">
              <a
                aria-label="slide"
                data-cate="-9,482,-999,60"
                data-place="1554"
                href="op-lung-gia-soc.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=54956&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  width="800"
                  height="200"
                  loading="lazy"
                  class="lazyload owl-lazy"
                  data-src="//cdn.tgdd.vn/2022/06/banner/800x200-800x200-1.jpg"
                  alt="ốp"
              /></a>
            </div>
          </div>
          <div class="promote-banner">
            <a href="sticky%20pk.html" class="promote-item">
              <a
                aria-label="slide"
                data-cate="482,4728,1882,-999,55,9398,9262,58,9041,86,9458,4727,85,9118,75,7923,6862,60,7922,3885,1662,1902,9518,9386,56,57,4547,7925,999,54,10001"
                data-place="1555"
                href="trung-tam-phu-kien.html"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=55908&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  src="../cdn.tgdd.vn/2022/06/banner/390x97-(1)-390x97-1.png"
                  alt="sticky pk"
              /></a>
            </a>
            <a href="sticky%20pk.html" class="promote-item">
              <a
                aria-label="slide"
                data-cate="1662,54,482,86,9398,4547,6862,9262,7925,60,58,999,7922,3885,9041,9386,1902,9118,-999,56,75,55,57,4727,7923,9458,4728,9518,85,1882,10001"
                data-place="1555"
                href="tai-nghe/bluetooth-true-wireless-jbl-t115tws7356.html?src=osp"
                onclick="jQuery.ajax({ url: '/bannertracking?bid=54262&r='+ (new Date).getTime(), async: true, cache: false });"
                ><img
                  src="../cdn.tgdd.vn/2022/05/banner/stickyJBL-390x97-1.jpg"
                  alt="sticky pk"
              /></a>
            </a>
          </div>
        </section>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
