<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{phu-kien.html}"
>
  <head> </head>
  <body>
    <!-- Menu Top Phụ Kiện -->
    <div th:fragment="menu-top-phu-kien" class="menu-top">
      <div>
        <a href="#dealsoc" class="nav-item">
          <div class="box-icon">
            <i class="icona-dealsoc"></i>
          </div>
          <p>Deal Sốc</p>
        </a>
        <a href="#apple-chinh-hang" class="nav-item">
          <div class="box-icon">
            <i class="icona-apple-chinh-hang"></i>
          </div>
          <p>Apple chính hãng</p>
        </a>
        <a href="#pin-sac-du-phong" class="nav-item">
          <div class="box-icon">
            <i class="icona-pin-sac-du-phong"></i>
          </div>
          <p>Pin sạc dự phòng</p>
        </a>
        <a href="#cap-sac" class="nav-item">
          <div class="box-icon">
            <i class="icona-cap-sac"></i>
          </div>
          <p>Cáp sạc</p>
        </a>
        <a href="#tai-nghe" class="nav-item">
          <div class="box-icon">
            <i class="icona-tai-nghe"></i>
          </div>
          <p>Tai nghe</p>
        </a>
        <a href="#loa" class="nav-item">
          <div class="box-icon">
            <i class="icona-loa"></i>
          </div>
          <p>Loa</p>
        </a>
        <a href="#thiet-bi-nha-thong-minh" class="nav-item">
          <div class="box-icon">
            <i class="icona-thiet-bi-nha-thong-minh"></i>
          </div>
          <p>Thiết bị nhà thông minh</p>
        </a>
        <a href="#phu-kien-gaming" class="nav-item">
          <div class="box-icon">
            <i class="icona-phu-kien-gaming"></i>
          </div>
          <p>Phụ kiện gaming</p>
        </a>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
