<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{phu-kien.html}"
>
  <head> </head>
  <body>
    <!-- Wrapper Phụ Kiện -->
    <div th:fragment="wrapper-phu-kien" class="warpper-groupcate tgdd">
      <div class="groupcate">
        <div class="warpper-group-popup warpper-group-iphone">
          <div class="group group-iphone">
            <div class="grp-name">
              <p>Phụ Kiện</p>
              <p>Phone, Tablet</p>
            </div>
            <div class="arrow-filter"></div>
          </div>
          <div class="popup-childcate">
            <div class="warpper-childcate">
              <div class="childcate">
                <a href="sac-dtdd.html">
                  <img
                    src="../cdn.tgdd.vn/Category/57/5-Pinsa%cc%a3cdu%cc%9b%cc%a3pho%cc%80ng-100x100.png"
                  />
                  <h3 class="grpName">S&#x1EA1;c d&#x1EF1; ph&#xF2;ng</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="sac-cap.html">
                  <img
                    src="../cdn.tgdd.vn/Category/9518/10-Ca%cc%81psa%cc%a3cchuye%cc%82%cc%89ndo%cc%82%cc%89i-100x100.png"
                  />
                  <h3 class="grpName">S&#x1EA1;c, c&#xE1;p</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="op-lung-flipcover.html">
                  <img
                    src="../cdn.tgdd.vn/Category/60/2-O%cc%82%cc%81plu%cc%9bngdie%cc%a3%cc%82nthoa%cc%a3i-100x100.png"
                  />
                  <h3 class="grpName">
                    &#x1ED0;p l&#x1B0;ng &#x111;.tho&#x1EA1;i
                  </h3>
                </a>
              </div>
              <div class="childcate">
                <a href="op-lung-may-tinh-bang.html">
                  <img
                    src="../cdn.tgdd.vn/Category/1662/6-O%cc%82%cc%81plu%cc%9bngtablet-100x100.png"
                  />
                  <h3 class="grpName">&#x1ED0;p l&#x1B0;ng tablet</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="airtag.html">
                  <img src="../cdn.tgdd.vn/Category/10618/airtag-100x100.png" />
                  <h3 class="grpName">Airtag</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="the-nho-dien-thoai.html">
                  <img
                    src="../cdn.tgdd.vn/Category/55/3-the%cc%89nho%cc%9b%cc%81-100x100.png"
                  />
                  <h3 class="grpName">Th&#x1EBB; nh&#x1EDB;</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="mieng-dan-man-hinh.html">
                  <img
                    src="../cdn.tgdd.vn/Category/1363/da%cc%81nma%cc%80nhi%cc%80nh-60x60-2.png"
                  />
                  <h3 class="grpName">D&#xE1;n m&#xE0;n h&#xEC;nh</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="phu-kien-thong-minh.html">
                  <img
                    src="../cdn.tgdd.vn/Category/1882/7-Phu%cc%a3kie%cc%a3%cc%82ntablet-100x100.png"
                  />
                  <h3 class="grpName">Ph&#x1EE5; ki&#x1EC7;n tablet</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="gia-do-dien-thoai.html">
                  <img
                    src="../cdn.tgdd.vn/Category/6862/publicpreview-100x100.png"
                  />
                  <h3 class="grpName">
                    Gi&#xE1; &#x111;&#x1EE1; &#x111;.tho&#x1EA1;i, laptop
                  </h3>
                </a>
              </div>
              <div class="childcate">
                <a href="gay-tu-suong.html">
                  <img
                    src="../cdn.tgdd.vn/Category/3885/4-Ga%cc%a3%cc%82ytu%cc%9b%cc%a3su%cc%9bo%cc%9b%cc%81ng-100x100.png"
                  />
                  <h3 class="grpName">
                    G&#x1EAD;y ch&#x1EE5;p &#x1EA3;nh, Gimbal
                  </h3>
                </a>
              </div>
              <div class="childcate">
                <a href="tui-chong-nuoc.html">
                  <img
                    src="../cdn.tgdd.vn/Category/6859/8-Tu%cc%81icho%cc%82%cc%81ngnu%cc%9bo%cc%9b%cc%81cdt-100x100.png"
                  />
                  <h3 class="grpName">
                    T&#xFA;i ch&#x1ED1;ng n&#x1B0;&#x1EDB;c
                  </h3>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="warpper-group-popup warpper-group-laptop">
          <div class="group group-laptop">
            <div class="grp-name">
              <p>Phụ Kiện</p>
              <p>Laptop, PC</p>
            </div>
            <div class="arrow-filter"></div>
          </div>
          <div class="popup-childcate">
            <div class="warpper-childcate">
              <div class="childcate">
                <a href="sac-cap.html">
                  <img
                    src="../cdn.tgdd.vn/Category/9518/10-Ca%cc%81psa%cc%a3cchuye%cc%82%cc%89ndo%cc%82%cc%89i-100x100.png"
                  />
                  <h3 class="grpName">S&#x1EA1;c, c&#xE1;p</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="adapter-sac.html">
                  <img
                    src="../cdn.tgdd.vn/Category/9499/publicpreview(1)-100x100.png"
                  />
                  <h3 class="grpName">
                    Adapter s&#x1EA1;c, chuy&#x1EC3;n &#x111;&#x1ED5;i
                  </h3>
                </a>
              </div>
              <div class="childcate">
                <a href="chuot-may-tinh.html">
                  <img
                    src="../cdn.tgdd.vn/Category/86/13-Chuo%cc%a3%cc%82tma%cc%81yti%cc%81nh-100x100.png"
                  />
                  <h3 class="grpName">Chu&#x1ED9;t m&#xE1;y t&#xED;nh</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="ban-phim.html">
                  <img
                    src="../cdn.tgdd.vn/Category/4547/19-Ba%cc%80nphi%cc%81m-100x100.png"
                  />
                  <h3 class="grpName">B&#xE0;n ph&#xED;m</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="usb.html">
                  <img src="../cdn.tgdd.vn/Category/75/14-Usb-100x100.png" />
                  <h3 class="grpName">USB</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="o-cung-di-dong.html">
                  <img
                    src="../cdn.tgdd.vn/Category/1902/20-O%cc%82%cc%89cu%cc%9b%cc%81ngdido%cc%a3%cc%82ng-100x100.png"
                  />
                  <h3 class="grpName">
                    &#x1ED4; c&#x1EE9;ng di &#x111;&#x1ED9;ng
                  </h3>
                </a>
              </div>
              <div class="childcate">
                <a href="tui-chong-soc.html">
                  <img
                    src="../cdn.tgdd.vn/Category/7923/15-Balotu%cc%81icho%cc%82%cc%81ngso%cc%82%cc%81c-100x100.png"
                  />
                  <h3 class="grpName">
                    Balo, t&#xFA;i ch&#x1ED1;ng s&#x1ED1;c
                  </h3>
                </a>
              </div>
              <div class="childcate">
                <a href="gia-do-dien-thoai.html">
                  <img
                    src="../cdn.tgdd.vn/Category/6862/publicpreview-100x100.png"
                  />
                  <h3 class="grpName">
                    Gi&#xE1; &#x111;&#x1EE1; &#x111;.tho&#x1EA1;i, laptop
                  </h3>
                </a>
              </div>
              <div class="childcate">
                <a href="phan-mem.html">
                  <img
                    src="../cdn.tgdd.vn/Category/85/18-Pha%cc%82%cc%80nme%cc%82%cc%80m-100x100.png"
                  />
                  <h3 class="grpName">Ph&#x1EA7;n m&#x1EC1;m</h3>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="warpper-group-popup warpper-group-sound">
          <div class="group group-sound">
            <div class="grp-name">
              <p>Thiết bị</p>
              <p>Âm thanh</p>
            </div>
            <div class="arrow-filter"></div>
          </div>
          <div class="popup-childcate">
            <div class="warpper-childcate">
              <div class="childcate">
                <a href="loa-laptop.html">
                  <img src="../cdn.tgdd.vn/Category/2162/22-Loa1-100x100.png" />
                  <h3 class="grpName">Loa</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="tai-nghe.html">
                  <img
                    src="../cdn.tgdd.vn/Category/54/21-Tainghe-100x100.png"
                  />
                  <h3 class="grpName">Tai nghe</h3>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="warpper-group-popup warpper-group-tech">
          <div class="group group-tech">
            <div class="grp-name">
              <p>Phụ Kiện</p>
              <p>Công nghệ</p>
            </div>
            <div class="arrow-filter"></div>
          </div>
          <div class="popup-childcate">
            <div class="warpper-childcate">
              <div class="childcate">
                <a href="thiet-bi-mang.html">
                  <img
                    src="../cdn.tgdd.vn/Category/4727/16-Thie%cc%82%cc%81tbi%cc%a3ma%cc%a3ng-100x100.png"
                  />
                  <h3 class="grpName">Thi&#x1EBF;t b&#x1ECB; m&#x1EA1;ng</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="thiet-bi-nha-thong-minh.html">
                  <img
                    src="../cdn.tgdd.vn/Category/9458/thongminh-100x100.png"
                  />
                  <h3 class="grpName">
                    Thi&#x1EBF;t b&#x1ECB; nh&#xE0; th&#xF4;ng minh
                  </h3>
                </a>
              </div>
              <div class="childcate">
                <a href="camera-giam-sat.html">
                  <img
                    src="../cdn.tgdd.vn/Category/4728/17-Camerawebcam-100x100.png"
                  />
                  <h3 class="grpName">Camera, webcam</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="khoa-dien-tu.html">
                  <img
                    src="../cdn.tgdd.vn/Category/10001/hafele-el9000-01-100x100.png"
                  />
                  <h3 class="grpName">Kh&#xF3;a &#x111;i&#x1EC7;n t&#x1EED;</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="android-tv-box.html">
                  <img
                    src="../cdn.tgdd.vn/Category/9118/23-TVBox-100x100.png"
                  />
                  <h3 class="grpName">TV Box</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="o-cam-thong-minh.html">
                  <img
                    src="../cdn.tgdd.vn/Category/10871/logocateocam-100x100.png"
                  />
                  <h3 class="grpName">
                    &#x1ED4; c&#x1EAF;m, b&#xF3;ng &#x111;&#xE8;n th&#xF4;ng
                    minh
                  </h3>
                </a>
              </div>
              <div class="childcate">
                <a href="may-chieu.html">
                  <img
                    src="../cdn.tgdd.vn/Category/862/logocatemaychieu-100x100.jpg"
                  />
                  <h3 class="grpName">M&#xE1;y chi&#x1EBF;u</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="phu-kien-oto.html">
                  <img
                    src="../cdn.tgdd.vn/Category/9041/28-Phu%cc%a3kie%cc%a3%cc%82no%cc%82to%cc%82-100x100.png"
                  />
                  <h3 class="grpName">Ph&#x1EE5; ki&#x1EC7;n &#xF4; t&#xF4;</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="may-tinh-cam-tay.html">
                  <img
                    src="../cdn.tgdd.vn/Category/9398/25-Ma%cc%81yti%cc%81nhca%cc%82%cc%80mtay-100x100.png"
                  />
                  <h3 class="grpName">M&#xE1;y t&#xED;nh c&#x1EA7;m tay</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="tui-dung-airpods.html">
                  <img
                    src="../cdn.tgdd.vn/Category/7925/30-Tu%cc%81idu%cc%9b%cc%a3ngAirpod-100x100.png"
                  />
                  <h3 class="grpName">T&#xFA;i &#x111;&#x1EF1;ng AirPods</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="quat-mini.html">
                  <img
                    src="../cdn.tgdd.vn/Category/7922/29-Qua%cc%a3tmini-100x100.png"
                  />
                  <h3 class="grpName">Qu&#x1EA1;t mini</h3>
                </a>
              </div>
              <div class="childcate">
                <a href="pin.html">
                  <img
                    src="../cdn.tgdd.vn/Category/56/26-Pintie%cc%82%cc%89upindt-100x100.png"
                  />
                  <h3 class="grpName">Pin ti&#x1EC3;u</h3>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="warpper-group-popup warpper-group-gaming">
          <div class="group group-gaming">
            <a href="phu-kien-gaming.html" target="_blank">
              <div class="grp-name">
                <p>Phụ Kiện</p>
                <p>Gaming</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
