<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{tablet.html}"
>
  <head> </head>
  <body>
    <!-- Banner Top Máy Tỉnh Bảng -->
    <div th:fragment="top-banner-tablet" class="top-banner">
      <section>
        <div class="slider-bannertop owl-carousel owl-theme">
          <div class="item">
            <a
              aria-label="slide"
              data-cate="522"
              data-place="1554"
              href="uu-dai-soc.html#tablet"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55282&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                src="../cdn.tgdd.vn/2022/05/banner/xk-smart-800-200-800x200.png"
                alt="big xả kho"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="522"
              data-place="1554"
              href="may-tinh-bang-apple-ipad-m1.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55694&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-87.png"
                alt="iPad"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="522"
              data-place="1554"
              href="may-tinh-bang-samsung.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55560&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/xk-samtab-800-200-800x200.png"
                alt="Tab A8"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="522"
              data-place="1554"
              href="may-tinh-bang-lenovo.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55333&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-230.png"
                alt="Tablet Lenovo"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="522"
              data-place="1554"
              href="may-tinh-bang/nokia-tab-t20-wifi7356.html?src=osp"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55410&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-10.png"
                alt="Tablet Nokia T20"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="522"
              data-place="1554"
              href="may-tinh-bang/huawei-matepad-t10s-4gb/index.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=54361&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-11.png"
                alt="Huawei Matepad T10"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="522"
              data-place="1554"
              href="may-tinh-bang-alcatel.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55753&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-88.png"
                alt="Tablet Lenovo"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="522"
              data-place="1554"
              href="may-tinh-bang-masstel.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55557&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/xk-mastel-800-200-800x200-2.png"
                alt="Tablet Masstel"
            /></a>
          </div>
        </div>
        <div class="promote-banner">
          <a href="Huawei%20Matepad%20T10.html" class="promote-item">
            <a
              aria-label="slide"
              data-cate="522"
              data-place="1555"
              href="may-tinh-bang/huawei-matepad-t107356.html?src=osp"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55414&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                src="../cdn.tgdd.vn/2022/06/banner/390-97-390x97.png"
                alt="Huawei Matepad T10"
            /></a>
          </a>
          <a href="Tablet%20Nokia%20T20.html" class="promote-item">
            <a
              aria-label="slide"
              data-cate="522"
              data-place="1555"
              href="may-tinh-bang/nokia-tab-t20-wifi7356.html?src=osp"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55415&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                src="../cdn.tgdd.vn/2022/06/banner/390-97-(1)-390x97.png"
                alt="Tablet Nokia T20"
            /></a>
          </a>
        </div>
      </section>
    </div>
    <!-- End -->
  </body>
</html>
