<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{tablet.html}"
>
  <head> </head>
  <body>
    <!-- List Máy Tính Bảng -->
    <section
      id="categoryPage"
      data-id="522"
      data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
      data-template="cate"
      th:fragment="products-tablet"
    >
      <div class="box-sort">
        <p class="sort-total">
          <b>39</b> M&#xE1;y t&#xED;nh b&#x1EA3;ng
          <strong class="manu-sort"></strong>
        </p>
        <div class="box-checkbox extend">
          <a
            href="javascript:;"
            data-href=""
            data-type="fast"
            class="c-checkitem fastdeli"
          >
            <span class="tick-checkbox"></span>
            <i class="thunder-icon">
              <img
                src="../cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/icon-thunder.png"
              />
            </i>
            <p>Giao nhanh</p>
          </a>
          <a
            href="javascript:;"
            data-href=""
            data-type="sp2020"
            class="c-checkitem"
          >
            <span class="tick-checkbox"></span>
            <p>Giảm giá</p>
          </a>
          <a
            href="javascript:;"
            data-href="-tra-gop-0-phan-tram"
            data-type="installment0"
            class="c-checkitem"
          >
            <span class="tick-checkbox"></span>
            <p>Góp 0%</p>
          </a>
          <a
            href="javascript:;"
            data-href="-moi-ra-mat"
            data-type="new"
            data-prop="0"
            data-newv2="False"
            class="c-checkitem"
          >
            <span class="tick-checkbox"></span>
            <p>M&#x1EDB;i</p>
          </a>
        </div>
        <div class="sort-select">
          <p class="click-sort">
            Xếp theo: <span class="sort-show">N&#x1ED5;i b&#x1EAD;t</span>
          </p>
          <div class="sort-select-main sort">
            <p>
              <a href="javascript:;" class="check" data-id="9"
                ><i></i>Nổi bật</a
              >
            </p>
            <p>
              <a href="javascript:;" class="" data-id="5"><i></i>% Giảm</a>
            </p>
            <p>
              <a href="javascript:;" class="" data-id="3"
                ><i></i>Giá cao đến thấp</a
              >
            </p>
            <p>
              <a href="javascript:;" class="" data-id="2"
                ><i></i>Giá thấp đến cao</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-productbox">
        <div id="preloader">
          <div id="loader"></div>
        </div>
        <ul class="listproduct">
          <li
            class="item ajaxed __cate_522"
            data-index="1"
            data-id="247510"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000480"
            data-price="20990000.0"
            data-ordertypeid="2"
            data-pos="1"
          >
            <a
              href="may-tinh-bang/samsung-galaxy-tab-s87356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng Samsung Galaxy Tab S8"
              data-id="247510"
              data-price="18990000.0"
              data-brand="Samsung"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0.5%</span>
              </div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/247510/Samsung-Galaxy-Tab-s8-white-thumb-1-600x600.jpg"
                  alt="Samsung Galaxy Tab S8"
                />
              </div>

              <h3>Samsung Galaxy Tab S8</h3>
              <div class="box-p">
                <p class="price-old black">20.990.000&#x20AB;</p>
                <span class="percent">-9%</span>
              </div>
              <strong class="price">18.990.000&#x20AB;</strong>
              <p class="item-gift">Quà <b>3.000.000₫</b></p>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="2"
            data-id="270132"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000477"
            data-price="2990000.0"
            data-ordertypeid="2"
            data-pos="2"
          >
            <a
              href="may-tinh-bang/alcatel-3t87356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng Alcatel 3T8"
              data-id="270132"
              data-price="2440000.0"
              data-brand="Alcatel"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/270132/TimerThumb/alcatel-3t8-(4).jpg"
                  alt="Alcatel 3T8"
                />
              </div>

              <p class="result-label temp1">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="Xả kho - Giảm Sốc"
                  data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                /><span>Xả kho - Giảm Sốc</span>
              </p>
              <h3>Alcatel 3T8</h3>
              <div class="box-p">
                <p class="price-old black">2.990.000&#x20AB;</p>
                <span class="percent">-18%</span>
              </div>
              <strong class="price">2.440.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </p>
                <p class="item-rating-total">3</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="3"
            data-id="237325"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000358"
            data-price="4490000.0"
            data-ordertypeid="2"
            data-pos="3"
          >
            <a
              href="may-tinh-bang/samsung-galaxy-tab-a7-lite7356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng Samsung Galaxy Tab A7 Lite"
              data-id="237325"
              data-price="4490000.0"
              data-brand="Samsung"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0.5%</span>
              </div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/237325/samsung-galaxy-tab-a7-lite-gray-600x600.jpg"
                  alt="Samsung Galaxy Tab A7 Lite"
                />
              </div>

              <p class="result-label temp2">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="TUẦN LỄ SAMSUNG"
                  data-src="../cdn.tgdd.vn/2020/10/content/icon4-50x50.png"
                /><span>TUẦN LỄ SAMSUNG</span>
              </p>
              <h3>Samsung Galaxy Tab A7 Lite</h3>
              <strong class="price">4.490.000&#x20AB;</strong>
              <p class="item-gift">Quà <b>590.000₫</b></p>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">135</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="4"
            data-id="238649"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000353"
            data-price="34990000.0"
            data-ordertypeid="2"
            data-pos="4"
          >
            <a
              href="may-tinh-bang/ipad-pro-m1-129-inch-wifi-cellular-128gb-20217356.html?src=osp"
              data-s="OnlineSaving"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad Pro M1 12.9 inch WiFi Cellular 128GB (2021)"
              data-id="238649"
              data-price="29290000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/522/238649/ipad-pro-2021-129-inch-gray-600x600.jpg"
                  alt="iPad Pro M1 12.9 inch 5G"
                />
              </div>

              <h3>iPad Pro M1 12.9 inch 5G</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="iPad Pro M1 12.9 inch 5G"
                data-lstArranged="238649,238651,259651,269333,269334"
              >
                <ul>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-129-inch-wifi-cellular-128gb-2021"
                    data-id="238649"
                    data-index="0"
                    class="merge__item item act"
                  >
                    128GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-129-inch-wifi-cellular-256gb-2021"
                    data-id="238651"
                    data-index="1"
                    class="merge__item item"
                  >
                    256GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-129-inch-wifi-cellular-512gb-2021"
                    data-id="259651"
                    data-index="2"
                    class="merge__item item"
                  >
                    512GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-129-inch-wifi-cellular-1tb-2021"
                    data-id="269333"
                    data-index="3"
                    class="merge__item item"
                  >
                    1TB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-129-inch-wifi-cellular-2tb-2021"
                    data-id="269334"
                    data-index="4"
                    class="merge__item item"
                  >
                    2TB
                  </li>
                </ul>
              </div>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <div class="box-p">
                <p class="price-old black">34.990.000&#x20AB;</p>
                <span class="percent">-16%</span>
              </div>
              <strong class="price">29.290.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </p>
                <p class="item-rating-total">5</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="5"
            data-id="247513"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000539"
            data-price="30990000.0"
            data-ordertypeid="2"
            data-pos="5"
          >
            <a
              href="may-tinh-bang/samsung-galaxy-tab-s8-ultra7356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng Samsung Galaxy Tab S8 Ultra"
              data-id="247513"
              data-price="28990000.0"
              data-brand="Samsung"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/247513/samsung-galaxy-tab-s8-ultra-1-600x600.jpg"
                  alt="Samsung Galaxy Tab S8 Ultra"
                />
              </div>

              <h3>Samsung Galaxy Tab S8 Ultra</h3>
              <div class="box-p">
                <p class="price-old black">30.990.000&#x20AB;</p>
                <span class="percent">-6%</span>
              </div>
              <strong class="price">28.990.000&#x20AB;</strong>
              <p class="item-gift">Quà <b>7.000.000₫</b></p>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="6"
            data-id="238624"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000346"
            data-price="26990000.0"
            data-ordertypeid="2"
            data-pos="6"
          >
            <a
              href="may-tinh-bang/ipad-pro-m1-11-inch-wifi-cellular-128gb-20217356.html?src=osp"
              data-s="OnlineSavingCMS"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad Pro M1 11 inch WiFi Cellular 128GB (2021)"
              data-id="238624"
              data-price="25490000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/522/238624/ipad-pro-2021-11-inch-silver-600x600.jpg"
                  alt="iPad Pro M1 11 inch 5G"
                />
              </div>

              <h3>iPad Pro M1 11 inch 5G</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="iPad Pro M1 11 inch 5G"
                data-lstArranged="238624,238626,261710,269329,269330"
              >
                <ul>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-11-inch-wifi-cellular-128gb-2021"
                    data-id="238624"
                    data-index="0"
                    class="merge__item item act"
                  >
                    128GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-11-inch-wifi-cellular-256gb-2021"
                    data-id="238626"
                    data-index="1"
                    class="merge__item item"
                  >
                    256GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-11-inch-wifi-cellular-512gb-2021"
                    data-id="261710"
                    data-index="2"
                    class="merge__item item"
                  >
                    512GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-11-inch-wifi-cellular-1tb-2021"
                    data-id="269329"
                    data-index="3"
                    class="merge__item item"
                  >
                    1TB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-11-inch-wifi-cellular-2tb-2021"
                    data-id="269330"
                    data-index="4"
                    class="merge__item item"
                  >
                    2TB
                  </li>
                </ul>
              </div>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <div class="box-p">
                <p class="price-old black">26.990.000&#x20AB;</p>
                <span class="percent">-5%</span>
              </div>
              <strong class="price">25.490.000&#x20AB;</strong>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="7"
            data-id="237699"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000349"
            data-price="30990000.0"
            data-ordertypeid="2"
            data-pos="7"
          >
            <a
              href="may-tinh-bang/ipad-pro-m1-129-inch-wifi-128gb-20217356.html?src=osp"
              data-s="OnlineSaving"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad Pro M1 12.9 inch WiFi 128GB (2021)"
              data-id="237699"
              data-price="25490000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/522/237699/TimerThumb/ipad-pro-m1-129-inch-wifi-128gb-2021-(10).jpg"
                  alt="iPad Pro M1 12.9 inch WiFi"
                />
              </div>

              <p class="result-label temp1">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="Xả kho - Giảm Sốc"
                  data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                /><span>Xả kho - Giảm Sốc</span>
              </p>
              <h3>iPad Pro M1 12.9 inch WiFi</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="iPad Pro M1 12.9 inch WiFi"
                data-lstArranged="237699,238645,259650,269331,269332"
              >
                <ul>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-129-inch-wifi-128gb-2021"
                    data-id="237699"
                    data-index="0"
                    class="merge__item item act"
                  >
                    128GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-129-inch-wifi-256gb-2021"
                    data-id="238645"
                    data-index="1"
                    class="merge__item item"
                  >
                    256GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-129-inch-wifi-512gb-2021"
                    data-id="259650"
                    data-index="2"
                    class="merge__item item"
                  >
                    512GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-129-inch-wifi-1tb-2021"
                    data-id="269331"
                    data-index="3"
                    class="merge__item item"
                  >
                    1TB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-129-inch-wifi-2tb-2021"
                    data-id="269332"
                    data-index="4"
                    class="merge__item item"
                  >
                    2TB
                  </li>
                </ul>
              </div>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <div class="box-p">
                <p class="price-old black">30.990.000&#x20AB;</p>
                <span class="percent">-17%</span>
              </div>
              <strong class="price">25.490.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </p>
                <p class="item-rating-total">12</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="8"
            data-id="247512"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000472"
            data-price="25990000.0"
            data-ordertypeid="2"
            data-pos="8"
          >
            <a
              href="may-tinh-bang/samsung-galaxy-tab-s8-plus7356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng Samsung Galaxy Tab S8&#x2B;"
              data-id="247512"
              data-price="23990000.0"
              data-brand="Samsung"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0.5%</span>
              </div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/247512/Tab-S8&#x2B;-Black-1-600x600.jpeg"
                  alt="Samsung Galaxy Tab S8&#x2B;"
                />
              </div>

              <h3>Samsung Galaxy Tab S8+</h3>
              <div class="box-p">
                <p class="price-old black">25.990.000&#x20AB;</p>
                <span class="percent">-7%</span>
              </div>
              <strong class="price">23.990.000&#x20AB;</strong>
              <p class="item-gift">Quà <b>4.000.000₫</b></p>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="9"
            data-id="228899"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000308"
            data-price="20990000.0"
            data-ordertypeid="2"
            data-pos="9"
          >
            <a
              href="may-tinh-bang/ipad-air-4-wifi-cellular-256gb-20207356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad Air 4 Wifi Cellular 256GB (2020)"
              data-id="228899"
              data-price="20990000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/228899/ipad-4-cellular-hong-new-600x600-600x600.jpg"
                  alt="iPad Air 4 Wifi Cellular 256GB (2020)"
                />
              </div>

              <h3>iPad Air 4 Wifi Cellular 256GB (2020)</h3>
              <strong class="price">20.990.000&#x20AB;</strong>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="10"
            data-id="237695"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000341"
            data-price="22990000.0"
            data-ordertypeid="2"
            data-pos="10"
          >
            <a
              href="may-tinh-bang/ipad-pro-m1-11-inch-wifi-128gb-20217356.html?src=osp"
              data-s="OnlineSavingCMS"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad Pro M1 11 inch WiFi 128GB (2021)"
              data-id="237695"
              data-price="20390000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/522/237695/ipad-pro-m1-11-inch-wifi-gray-9-600x600.jpg"
                  alt="iPad Pro M1 11 inch WiFi"
                />
              </div>

              <h3>iPad Pro M1 11 inch WiFi</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="iPad Pro M1 11 inch WiFi"
                data-lstArranged="237695,238623,261709,269327,269328"
              >
                <ul>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-11-inch-wifi-128gb-2021"
                    data-id="237695"
                    data-index="0"
                    class="merge__item item act"
                  >
                    128GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-11-inch-wifi-256gb-2021"
                    data-id="238623"
                    data-index="1"
                    class="merge__item item"
                  >
                    256GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-11-inch-wifi-512gb-2021"
                    data-id="261709"
                    data-index="2"
                    class="merge__item item"
                  >
                    512GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-11-inch-wifi-1tb-2021"
                    data-id="269327"
                    data-index="3"
                    class="merge__item item"
                  >
                    1TB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-pro-m1-11-inch-wifi-2tb-2021"
                    data-id="269328"
                    data-index="4"
                    class="merge__item item"
                  >
                    2TB
                  </li>
                </ul>
              </div>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <div class="box-p">
                <p class="price-old black">22.990.000&#x20AB;</p>
                <span class="percent">-11%</span>
              </div>
              <strong class="price">20.390.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </p>
                <p class="item-rating-total">23</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="11"
            data-id="274155"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000505"
            data-price="20990000.0"
            data-ordertypeid="2"
            data-pos="11"
          >
            <a
              href="may-tinh-bang/ipad-air-5-m1-wifi-cellular-64gb7356.html?src=osp"
              data-s="OnlineSavingCMS"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad Air 5 M1 Wifi Cellular 64GB"
              data-id="274155"
              data-price="20290000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/274155/ipad-air-5-wifi-cellular-blue-thumb-600x600.jpg"
                  alt="iPad Air 5 M1 Wifi Cellular 64GB"
                />
              </div>

              <h3>iPad Air 5 M1 Wifi Cellular 64GB</h3>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <div class="box-p">
                <p class="price-old black">20.990.000&#x20AB;</p>
              </div>
              <strong class="price">20.290.000&#x20AB;</strong>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="12"
            data-id="250734"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000397"
            data-price="19990000.0"
            data-ordertypeid="2"
            data-pos="12"
          >
            <a
              href="may-tinh-bang/ipad-mini-6-wifi-cellular-64gb7356.html?src=osp"
              data-s="OnlineSavingCMS"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad mini 6 WiFi Cellular 64GB"
              data-id="250734"
              data-price="17790000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/522/250734/ipad-mini-6-wifi-cellular-pink-1-600x600.jpg"
                  alt="iPad mini 6 WiFi Cellular"
                />
              </div>

              <h3>iPad mini 6 WiFi Cellular</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="iPad mini 6 WiFi Cellular"
                data-lstArranged="250734,250735"
              >
                <ul>
                  <li
                    data-url="/may-tinh-bang/ipad-mini-6-wifi-cellular-64gb"
                    data-id="250734"
                    data-index="0"
                    class="merge__item item act"
                  >
                    64GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-mini-6-wifi-cellular-256gb"
                    data-id="250735"
                    data-index="1"
                    class="merge__item item"
                  >
                    256GB
                  </li>
                </ul>
              </div>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <div class="box-p">
                <p class="price-old black">19.990.000&#x20AB;</p>
                <span class="percent">-11%</span>
              </div>
              <strong class="price">17.790.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </p>
                <p class="item-rating-total">5</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="13"
            data-id="248096"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000496"
            data-price="16990000.0"
            data-ordertypeid="2"
            data-pos="13"
          >
            <a
              href="may-tinh-bang/ipad-air-57356.html?src=osp"
              data-s="OnlineSavingCMS"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad Air 5 M1 Wifi 64GB"
              data-id="248096"
              data-price="16290000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/248096/ipad-air-5-wifi-blue-thumb-600x600.jpg"
                  alt="iPad Air 5 M1 Wifi 64GB"
                />
              </div>

              <h3>iPad Air 5 M1 Wifi 64GB</h3>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <div class="box-p">
                <p class="price-old black">16.990.000&#x20AB;</p>
              </div>
              <strong class="price">16.290.000&#x20AB;</strong>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="14"
            data-id="225031"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000338"
            data-price="18990000.0"
            data-ordertypeid="2"
            data-pos="14"
          >
            <a
              href="may-tinh-bang/samsung-galaxy-tab-s77356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng Samsung Galaxy Tab S7"
              data-id="225031"
              data-price="15990000.0"
              data-brand="Samsung"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/225031/samsung-galaxy-tab-s7-thumb-xanh-600x600-600x600.jpg"
                  alt="Samsung Galaxy Tab S7"
                />
              </div>

              <h3>Samsung Galaxy Tab S7</h3>
              <div class="box-p">
                <p class="price-old black">18.990.000&#x20AB;</p>
                <span class="percent">-15%</span>
              </div>
              <strong class="price">15.990.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">32</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="15"
            data-id="228808"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000292"
            data-price="14590000.0"
            data-ordertypeid="2"
            data-pos="15"
          >
            <a
              href="may-tinh-bang/ipad-air-4-wifi-64gb-20207356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="False"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad Air 4 Wifi 64GB (2020)"
              data-id="228808"
              data-price="14590000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/228808/ipad-air-4-wifi-64gb-2020-bac-600x600-600x600.jpg"
                  alt="iPad Air 4 Wifi 64GB (2020)"
                />
              </div>

              <h3>iPad Air 4 Wifi 64GB (2020)</h3>
              <strong class="price">14.590.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">32</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="16"
            data-id="248091"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000389"
            data-price="14990000.0"
            data-ordertypeid="2"
            data-pos="16"
          >
            <a
              href="may-tinh-bang/ipad-mini-67356.html?src=osp"
              data-s="OnlineSavingCMS"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad mini 6 WiFi 64GB"
              data-id="248091"
              data-price="14390000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/522/248091/ipad-mini-6-wifi-pink-1-600x600.jpg"
                  alt="iPad mini 6 WiFi"
                />
              </div>

              <h3>iPad mini 6 WiFi</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="iPad mini 6 WiFi"
                data-lstArranged="248091,250733"
              >
                <ul>
                  <li
                    data-url="/may-tinh-bang/ipad-mini-6"
                    data-id="248091"
                    data-index="0"
                    class="merge__item item act"
                  >
                    64GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-mini-6-wifi-256gb"
                    data-id="250733"
                    data-index="1"
                    class="merge__item item"
                  >
                    256GB
                  </li>
                </ul>
              </div>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <div class="box-p">
                <p class="price-old black">14.990.000&#x20AB;</p>
              </div>
              <strong class="price">14.390.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">10</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="17"
            data-id="241299"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000367"
            data-price="13990000.0"
            data-ordertypeid="2"
            data-pos="17"
          >
            <a
              href="may-tinh-bang/huawei-matepad-117356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng Huawei MatePad 11"
              data-id="241299"
              data-price="13990000.0"
              data-brand="Huawei"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0%</span>
              </div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/241299/huawei-matepad-11-9-1-600x600.jpg"
                  alt="Huawei MatePad 11"
                />
                <img
                  src="../cdn.tgdd.vn/ValueIcons/Label_01-05.png"
                  width="40"
                  height="40"
                  loading="lazy"
                  class="lbliconimg lbliconimg_522 tgdd"
                />
              </div>

              <h3>Huawei MatePad 11</h3>
              <strong class="price">13.990.000&#x20AB;</strong>
              <p class="item-gift">Quà <b>2.280.000₫</b></p>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="18"
            data-id="240254"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000363"
            data-price="13990000.0"
            data-ordertypeid="2"
            data-pos="18"
          >
            <a
              href="may-tinh-bang/samsung-galaxy-tab-s7-fan-editon7356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng Samsung Galaxy Tab S7 FE 4G"
              data-id="240254"
              data-price="12990000.0"
              data-brand="Samsung"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0.5%</span>
              </div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/240254/TimerThumb/samsung-galaxy-tab-s7-fan-editon-(10).jpg"
                  alt="Samsung Galaxy Tab S7 FE 4G"
                />
              </div>

              <p class="result-label temp1">
                <img
                  width="20"
                  height="20"
                  class="lazyload"
                  alt="Xả kho - Giảm Sốc"
                  data-src="../cdn.tgdd.vn/2020/10/content/icon1-50x50.png"
                /><span>Xả kho - Giảm Sốc</span>
              </p>
              <h3>Samsung Galaxy Tab S7 FE 4G</h3>
              <div class="box-p">
                <p class="price-old black">13.990.000&#x20AB;</p>
                <span class="percent">-7%</span>
              </div>
              <strong class="price">12.990.000&#x20AB;</strong>
              <p class="item-gift">Quà <b>2.000.000₫</b></p>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-dark"></i>
                </p>
                <p class="item-rating-total">113</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="19"
            data-id="256559"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000422"
            data-price="12990000.0"
            data-ordertypeid="2"
            data-pos="19"
          >
            <a
              href="may-tinh-bang/samsung-galaxy-tab-s7-fe-wifi7356.html?src=osp"
              data-s="Nomal"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng Samsung Galaxy Tab S7 FE WiFi"
              data-id="256559"
              data-price="11990000.0"
              data-brand="Samsung"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label">
                <span class="lb-tragop">Tra&#x309; go&#x301;p 0.5%</span>
              </div>
              <div class="item-img item-img_522">
                <img
                  class="lazyload thumb"
                  data-src="https://cdn.tgdd.vn/Products/Images/522/256559/Samsung-Galaxy-Tab-S7-FE-Wifi-green-1-660x600.jpg"
                  alt="Samsung Galaxy Tab S7 FE WiFi"
                />
              </div>

              <h3>Samsung Galaxy Tab S7 FE WiFi</h3>
              <div class="box-p">
                <p class="price-old black">12.990.000&#x20AB;</p>
                <span class="percent">-7%</span>
              </div>
              <strong class="price">11.990.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </p>
                <p class="item-rating-total">12</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
          <li
            class="item ajaxed __cate_522"
            data-index="20"
            data-id="250731"
            data-issetup="0"
            data-maingroup="244"
            data-subgroup="931"
            data-type="1"
            data-vehicle="1"
            data-productcode="2440931000383"
            data-price="13990000.0"
            data-ordertypeid="2"
            data-pos="20"
          >
            <a
              href="may-tinh-bang/ipad-9-wifi-cellular-64gb7356.html?src=osp"
              data-s="OnlineSavingCMS"
              data-site="1"
              data-pro="3"
              data-cache="True"
              data-sv="webtgdd-26-122"
              data-name="M&#xE1;y t&#xED;nh b&#x1EA3;ng iPad 9 WiFi Cellular 64GB"
              data-id="250731"
              data-price="11890000.0"
              data-brand="iPad (Apple)"
              data-cate="M&#xE1;y t&#xED;nh b&#x1EA3;ng"
              data-box="BoxCate"
              class="main-contain"
            >
              <div class="item-label"></div>
              <div class="item-img item-img_522">
                <img
                  class="thumb"
                  src="../cdn.tgdd.vn/Products/Images/522/250731/ipad-gen-9-wifi-cellular-sliver-600x600.jpg"
                  alt="iPad 9 WiFi Cellular"
                />
              </div>

              <h3>iPad 9 WiFi Cellular</h3>
              <div
                class="prods-group"
                data-iscompare="True"
                data-mergename="iPad 9 WiFi Cellular"
                data-lstArranged="250731,250732"
              >
                <ul>
                  <li
                    data-url="/may-tinh-bang/ipad-9-wifi-cellular-64gb"
                    data-id="250731"
                    data-index="0"
                    class="merge__item item act"
                  >
                    64GB
                  </li>
                  <li
                    data-url="/may-tinh-bang/ipad-9-wifi-cellular-256gb"
                    data-id="250732"
                    data-index="1"
                    class="merge__item item"
                  >
                    256GB
                  </li>
                </ul>
              </div>
              <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
              <div class="box-p">
                <p class="price-old black">13.990.000&#x20AB;</p>
                <span class="percent">-15%</span>
              </div>
              <strong class="price">11.890.000&#x20AB;</strong>
              <div class="item-rating">
                <p>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </p>
                <p class="item-rating-total">9</p>
              </div>
            </a>
            <div class="item-bottom">
              <a href="#" class="shiping"></a>
            </div>

            <a href="javascript:void(0)" class="item-ss">
              <i></i>
              So sánh
            </a>
          </li>
        </ul>
        <div class="view-more">
          <a href="javascript:;"
            >Xem thêm <span class="remain">19</span> M&#xE1;y t&#xED;nh
            b&#x1EA3;ng</a
          >
        </div>
      </div>
      <div class="popup-addsp">
        <div class="bg-popup"></div>
        <div class="close-popup" onclick="ClosePopup(this)">
          <aside>
            <i></i>
            <span>Đóng</span>
          </aside>
        </div>
        <div class="compare-popup">
          <h4>M&#xE1;y t&#xED;nh b&#x1EA3;ng đã xem gần nhất</h4>
          <ul class="pro-compare pro-compare_viewed"></ul>
          <h4>Hoặc nhập tên để tìm</h4>
          <form id="searchproductcompare" onsubmit="return false">
            <div class="find-sp">
              <input
                type="text"
                placeholder="Nhập tên m&#xE1;y t&#xED;nh b&#x1EA3;ng để tìm"
                onkeyup="SearchProductCompare(this)"
              />
              <i class="icon-findcp"></i>
            </div>
            <ul class="pro-compare pro-compare_search"></ul>
          </form>
        </div>
      </div>
      <div class="errorcompare" style="display: none"></div>

      <div class="block__banner banner__topzone"></div>

      <div class="watched"></div>
      <div class="overlay"></div>
    </section>
    <!-- End -->
  </body>
</html>
