<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin - Product</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/admin/feather/feather.css}" />
    <link
      rel="stylesheet"
      th:href="@{/vendors/admin/ti-icons/css/themify-icons.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/vendors/admin/css/vendor.bundle.base.css}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      th:href="@{/vendors/admin/select2/select2.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/vendors/admin/select2-bootstrap-theme/select2-bootstrap.min.css}"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/images/admin/favicon.ico}" />
  </head>

  <body>
    <!-- Body -->
    <div class="container-scroller">
      <!-- Header -->
      <nav th:replace="fragments/admin/layout-admin :: header"></nav>
      <!-- End Header -->

      <!-- Wrapper Body -->
      <div class="container-fluid page-body-wrapper">
        <!-- Sidebar -->
        <nav th:replace="fragments/admin/layout-admin :: sidebar"></nav>
        <!-- End Sidebar -->

        <!-- Main Container -->
        <div class="main-panel">
          <!-- Main Content -->
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add New Product</h4>
                    <p class="card-description">Add new product here</p>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="exampleInputName1"
                          placeholder="Name"
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        <input
                          type="email"
                          class="form-control"
                          id="exampleInputEmail3"
                          placeholder="Email"
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="exampleInputPassword4"
                          placeholder="Password"
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Gender</label>
                        <select class="form-control" id="exampleSelectGender">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>File upload</label>
                        <input
                          type="file"
                          name="img[]"
                          class="file-upload-default"
                        />
                        <div class="input-group col-xs-12">
                          <input
                            type="text"
                            class="form-control file-upload-info"
                            disabled
                            placeholder="Upload Image"
                          />
                          <span class="input-group-append">
                            <button
                              class="file-upload-browse btn btn-primary"
                              type="button"
                            >
                              Upload
                            </button>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputCity1">City</label>
                        <input
                          type="text"
                          class="form-control"
                          id="exampleInputCity1"
                          placeholder="Location"
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Textarea</label>
                        <textarea
                          class="form-control"
                          id="exampleTextarea1"
                          rows="4"
                        ></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">
                        Submit
                      </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Main Content -->

          <!-- Footer -->
          <footer th:replace="fragments/admin/layout-admin :: footer"></footer>
          <!-- End Footer -->
          <!-- partial -->
        </div>
        <!-- End Main Container -->
      </div>
      <!-- Wrapper Body -->
    </div>
    <!-- End Body -->

    <!-- plugins:js -->
    <script th:src="@{/vendors/admin/js/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script
      th:src="@{/vendors/admin/typeahead.js/typeahead.bundle.min.js}"
    ></script>
    <script th:src="@{/vendors/admin/select2/select2.min.js}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script th:src="@{/js/admin/off-canvas.js}"></script>
    <script th:src="@{/js/admin/hoverable-collapse.js}"></script>
    <script th:src="@{/js/admin/template.js}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script th:src="@{/js/admin/file-upload.js}"></script>
    <script th:src="@{/js/admin/typeahead.js}"></script>
    <script th:src="@{/js/admin/select2.js}"></script>
    <!-- End custom js for this page-->
  </body>
</html>
