<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout.html}"
>
  <!-- Products -->
  <section layout:fragment="content">
    <div class="container-productbox">
      <ul class="listproduct">
        <li class="item ajaxed __cate_42" th:each="product : ${products}">
          <a href="#" class="main-contain">
            <div class="item-img item-img_42">
              <img class="thumb" th:src="${product.img}" />
            </div>

            <h3 th:text="${product.name}"></h3>
            <div class="prods-group">
              <ul>
                <li
                  th:text="${product.categoryName}"
                  class="merge__item item act"
                ></li>
              </ul>
            </div>
            <strong class="price" th:text="${product.price}"></strong>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- End -->
</html>
