<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{layout-products.html}"
>
  <head> </head>
  <body>
    <!-- Filter Thương Hiệu -->
    <div
      th:fragment="box-filter"
      class="box-filter top-box block-scroll-main cate-42"
    >
      <section>
        <div class="box-quicklink block-scroll-main">
          <div class="lst-quickfilter q-manu">
            <a th:each = "productManufacture : ${productManufactures}"
				th:href="@{/manufacturer/{mId}(mId=${productManufacture.id})}"
              data-href="dtdd-apple-iphone"
              data-index="0"
              class="box-quicklink__item bd-radius quicklink-logo"
            >
              <img
                th:src = "${productManufacture.logo}"
                width="30"
                class="no-text"
              />
            </a>
          </div>
        </div>
      </section>
    </div>
    <!-- End -->
  </body>
</html>
