<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout.html}"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/history-products-profile.css}" />
  </head>
  <!-- Lich Su Don Hang -->
  <section layout:fragment="content" class="wrapper cate">
    <div class="container">
      <div class="left">
        <a th:href="@{/lich-su-mua-hang}" class="active"
          >Danh sách đơn hàng đã mua</a
        >
        <a th:href="@{/lich-su-mua-hang/thong-tin-ca-nhan}" class=""
          >Thông tin cá nhân và sổ địa chỉ</a
        >
      </div>
      <div class="right">
        <div class="user" data-customer="1089714740">
          Chào
          <b th:text="${member.fullname}">Gia Minh</b> -
          <b th:text="${member.phone}">0867635674</b>
          <a th:href="@{/OTPLogout}" class="logout-h">Thoát tài khoản</a>
          <a class="about-s">|</a>
          <!--<a class="feed-back" th:each = "historyProduct : ${memberOrders}">
            <img
            	th:src="${historyProduct.orderDetails.get(0).versionColor.avatar}"
             
            />
            Phản hồi, góp ý
          </a>-->
        </div>
        <div id="overbackgroud"></div>
        <div class="feed-back-detail">
          <img
            class="close-p"
            src="./Lịch sử mua hàng _ Thegioididong.com_files/iconclose.png"
          />
          <h2>Phản hồi, góp ý lịch sử mua hàng</h2>
          <div class="infor-user">
            <h3>Thông tin khách hàng:</h3>
            <span
              ><span class="sex-f" data-id="1">Anh:</span>
              <b class="name-f">Gia Minh</b> -
              <b class="phone-f">0867635674</b></span
            >
          </div>
          <div class="feed-user">
            <h3>Thông tin phản hồi góp ý:</h3>
            <textarea
              id="myTextarea"
              name="txtFeedback"
              placeholder="Vui lòng nhập tiếng Việt có dấu..."
            ></textarea>
            <button
              type="submit"
              class="submid-feed"
              onclick="SendFeedback(13);"
            >
              GỬI
            </button>
            <div class="loader"></div>
          </div>
        </div>
        <div class="result"></div>

        <div class="list" id="list_order">
          <b>Đơn hàng đã mua gần đây</b>
          <aside class="h-date"></aside>
          <table cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <th>Mã đơn hàng</th>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Ngày đặt mua</th>
                <th>Trạng thái</th>
              </tr>

              <tr
                th:each="historyProduct : ${memberOrders}"
                class=""
                data-id="00878SO22020631297"
              >
                <td>
                  <a
                    href="https://www.thegioididong.com/lich-su-mua-hang/don-hang-erp-00878SO22020631297"
                    data-id="00878SO22020631297  "
                    class="order_item"
                    th:text="${historyProduct.id}"
                    >#00878SO22020631297
                  </a>
                </td>

                <td>
                  <a
                    href="https://www.thegioididong.com/lich-su-mua-hang/don-hang-erp-00878SO22020631297"
                    data-id="00878SO22020631297  "
                    class="order_item"
                    ><img
                      th:src="${historyProduct.orderDetails.get(0).versionColor.avatar}"
                  /></a>
                  <div>
                    <a
                      href="https://www.thegioididong.com/lich-su-mua-hang/don-hang-erp-00878SO22020631297"
                      class="order_item"
                      th:text="${historyProduct.orderDetails.size() > 1} ? ${historyProduct.orderDetails.get(0).versionColor.name} + 'và ' + ${historyProduct.orderDetails.size() - 1 } +' sản phẩm khác' :  ${historyProduct.orderDetails.get(0).versionColor.name} "
                    >
                    </a>

                    <div class="link">
                      <a
                        th:href="@{/lich-su-mua-hang/don-hang(orderId=${historyProduct.id})} "
                        class="order_item"
                        >Xem chi tiết</a
                      >
                    </div>
                  </div>
                </td>

                <td>
                  <b
                    th:text="${priceFormatter.format(historyProduct.totalPayment)}"
                    >127.000₫</b
                  >
                </td>

                <td>
                  <span th:text="${historyProduct.orderDate} ">22/02/2022</span>
                </td>

                <td>
                  <i
                    class="success"
                    data-status="1"
                    th:text="${historyProduct.deliveryStatus}"
                    >Đã nhận hàng</i
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- End -->
</html>
