<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout.html}"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/history-products-profile.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  </head>
  <!-- Lich Su Don Hang -->
  <section layout:fragment="content" class="wrapper">
    <div class="container">
      <div class="left">
        <a th:href="@{/lich-su-mua-hang}" class="">Danh sách đơn hàng đã mua</a>
        <a th:href="@{/lich-su-mua-hang/thong-tin-ca-nhan}" class="active"
          >Thông tin cá nhân và sổ địa chỉ</a
        >
      </div>
      <div class="right">
        <div class="user" data-customer="1089714740">
          Chào
          <b th:text="${member.fullname}"></b> :
          <b
            th:text="${#phoneNumber.format(member.phone, 'VN', 'NATIONAL')}"
          ></b>
          <a th:href="@{/OTPLogout}" class="logout-h">Thoát tài khoản</a>

          <a class="about-s">|</a>
          <a class="feed-back"> Phản hồi, góp ý </a>
        </div>
        <div id="overbackgroud"></div>
        <div class="feed-back-detail">
          <img
            class="close-p"
            src="./Lịch sử mua hàng _ Thegioididong.com_files/iconclose.png"
          />
          <h2>Phản hồi, góp ý lịch sử mua hàng</h2>
          <div class="infor-user">
            <h3>Thông tin khách hàng:</h3>
            <span
              ><span class="sex-f" data-id="1">Anh:</span>
              <b class="name-f">Gia Minh</b> -
              <b class="phone-f">0867635674</b></span
            >
          </div>
          <div class="feed-user">
            <h3>Thông tin phản hồi góp ý:</h3>
            <textarea
              id="myTextarea"
              name="txtFeedback"
              placeholder="Vui lòng nhập tiếng Việt có dấu..."
            ></textarea>
            <button
              type="submit"
              class="submid-feed"
              onclick="SendFeedback(13);"
            >
              GỬI
            </button>
            <div class="loader"></div>
          </div>
        </div>
        <div class="result"></div>
        <div class="profile">
          <h3>Thông tin cá nhân</h3>
          <div>
            <span th:class="${member.gender} ? 'active' : ''"
              ><i></i><b>Anh</b></span
            >
            <span th:class="${member.gender} ? '' : 'active'"
              ><i></i><b>Chị</b></span
            >
            <input type="hidden" name="hdGender" value="1" />
          </div>
          <input th:value="${member.fullname}" />
          <input
            th:value="${#phoneNumber.format(member.phone, 'VN', 'NATIONAL')}"
          />
          <h3>Địa chỉ nhận hàng</h3>
          <span
            id="add35810907"
            data-id="35810907"
            class="address active"
            th:each="profile : ${profileMember}"
          >
            <i></i>
            <span
              th:utext="${profile.address} + ', ' + ${profile.ward.name} + ', ' + ${profile.ward.district.name} + ', ' + ${profile.ward.district.province.name}"
              >116/8, Phường Tây Thạnh, Quận Tân Phú, Hồ Chí Minh</span
            ><br />
            <a class="edit"><i class="iconlsmh-edit"></i>Sửa</a>
            <a href="javascript:AddressDelete(35810907, true)"
              ><i class="iconlsmh-delete"></i>Xóa</a
            >
          </span>
          <form id="frmAddressUpdate" class="address">
            <select
              class="inline form-select form-select-sm"
              id="cityu"
              aria-label="Default select example"
            >
              <option value="" selected>Chọn tỉnh thành</option>
            </select>

            <select
              class="inline form-select form-select-sm"
              id="districtu"
              aria-label="Default select example"
            >
              <option value="" selected>Chọn quận huyện</option>
            </select>

            <select
              class="inline form-select form-select-sm"
              id="wardu"
              aria-label="Default select example"
            >
              <option value="" selected>Chọn phường xã</option>
            </select>
            <input type="text" class="inline" placeholder="Số nhà, tên đường" />
            <p class="frmAddress_error"></p>
            <span class="">
              <i></i>
              <b>Đặt làm địa chỉ mặc định</b>
              <input type="hidden" name="hdIsDefault" value="false" />
            </span>
          </form>
          <a class="add"><i class="iconlsmh-add"></i>Thêm địa chỉ nhận hàng</a>
          <form id="frmAddress" class="address">
            <select
              class="inline form-select form-select-sm"
              id="city"
              aria-label="Default select example"
            >
              <option value="" selected>Chọn tỉnh thành</option>
            </select>

            <select
              class="inline form-select form-select-sm"
              id="district"
              aria-label="Default select example"
            >
              <option value="" selected>Chọn quận huyện</option>
            </select>

            <select
              class="inline form-select form-select-sm"
              id="ward"
              aria-label="Default select example"
            >
              <option value="" selected>Chọn phường xã</option>
            </select>
            <input type="text" class="inline" placeholder="Số nhà, tên đường" />
            <p class="frmAddress_error"></p>
            <span class="">
              <i></i>
              <b>Đặt làm địa chỉ mặc định</b>
              <input type="hidden" name="hdIsDefault" value="false" />
            </span>
          </form>
          <a class="button">CẬP NHẬT</a>
          <input type="hidden" name="hdAddressId" value="-1" />
          <input
            name="__RequestVerificationToken"
            type="hidden"
            value="CfDJ8NWrZ30VhyxJm_fyyCNlLpJkFEHluJ6WgWXtQngBU_Z5pbQMje9YgENhyq_CygAYmCIPNblyKF9jPnHYgMMf5E-LcJDCNAXUxSgDWK64Uz9jO9yuB_6g71j32w8A7Wf32H8r02I0QHpUqYoP5vjpuuqvxll9gFda6zLCndrkfXJW_pAGyxAdVAzs1KI0RD-8vg"
          />
        </div>
      </div>
    </div>
  </section>
  <script th:src="@{/js/profiles/profiles.js}"></script>
  <!-- End -->
</html>
