<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{pc-may-in.html}"
>
  <head> </head>
  <body>
    <!-- Top Banner PC Máy In -->
    <div th:fragment="banner-top-pc-may-in" class="top-banner">
      <section>
        <div class="slider-bannertop owl-carousel owl-theme">
          <div class="item">
            <a
              aria-label="slide"
              data-cate="9738,5697,5698"
              data-place="1554"
              href="may-tinh-de-ban-apple.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55219&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                src="../cdn.tgdd.vn/2022/05/banner/imac-800-200-800x200.png"
                alt="đh"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="5693,9738,1262"
              data-place="1554"
              href="may-in-hp.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=53863&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-75.png"
                alt="máy in"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="5697,9738,5698"
              data-place="1554"
              href="man-hinh-may-tinh.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=52483&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/03/banner/aiohp-800-200-800x200.png"
                alt="đh"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="5698,9738,5697"
              data-place="1554"
              href="may-tinh-de-ban-asus.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=47165&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-212.png"
                alt="lap"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="9738,5697,5698"
              data-place="1554"
              href="man-hinh-may-tinh.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=53865&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/04/banner/720-180-720x180-3.png"
                alt="đh"
            /></a>
          </div>
        </div>
        <div class="promote-banner">
          <a href="%c4%91t.html" class="promote-item">
            <a
              aria-label="slide"
              data-cate="1262,5697,9738,5693,5698"
              data-place="1555"
              href="may-tinh-de-ban-lenovo.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55222&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                src="../cdn.tgdd.vn/2022/05/banner/lenovo-may-tinh390-97-390x97.png"
                alt="đh"
            /></a>
          </a>
          <a href="%c4%91t.html" class="promote-item">
            <a
              aria-label="slide"
              data-cate="5697,9738,5693,5698,1262"
              data-place="1555"
              href="laptop-gia-soc.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55225&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                src="../cdn.tgdd.vn/2022/06/banner/Xa-hang-Laptop-2-390x97-2.png"
                alt="đh"
            /></a>
          </a>
        </div>
      </section>
    </div>
    <!-- End -->
  </body>
</html>
