<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{pc-may-in.html}"
>
  <head> </head>
  <body>
    <!-- Box Filter -->
    <div th:fragment="filter-pc-may-in" class="bg-quickfilter show-bg">
      <div class="quickfilter">
        <a href="may-in.html" class="" data-isRelate="False" data-order="1">
          <img
            src="../cdn.tgdd.vn/Category/5693/Mayin2x-80x80-9.png"
            alt="M&#xE1;y in"
          />
          <span>M&#xE1;y in</span>
        </a>
        <a href="muc-in.html" class="" data-isRelate="False" data-order="2">
          <img
            src="../cdn.tgdd.vn/Category/1262/Mucin2x-80x80.png"
            alt="M&#x1EF1;c In"
          />
          <span>M&#x1EF1;c In</span>
        </a>
        <a
          href="man-hinh-may-tinh.html"
          class=""
          data-isRelate="False"
          data-order="3"
        >
          <img
            src="../cdn.tgdd.vn/Category/5697/manhinh-80x80.png"
            alt="M&#xE0;n h&#xEC;nh m&#xE1;y t&#xED;nh"
          />
          <span>M&#xE0;n h&#xEC;nh m&#xE1;y t&#xED;nh</span>
        </a>
        <a
          href="may-tinh-de-ban.html"
          class=""
          data-isRelate="False"
          data-order="4"
        >
          <img
            src="../cdn.tgdd.vn/Category/5698/maytinhbo-80x80.png"
            alt="M&#xE1;y t&#xED;nh &#x111;&#x1EC3; b&#xE0;n"
          />
          <span>M&#xE1;y t&#xED;nh &#x111;&#x1EC3; b&#xE0;n</span>
        </a>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
