.cate .list {
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.cate .list > b {
  font-size: 20px;
  padding-bottom: 10px;
  display: block;
}
.cate .list aside.h-date {
  overflow: hidden;
}
.cate .list aside.h-date i {
  display: inline-block;
  vertical-align: top;
  margin: 1px 5px 10px 0;
  border: 1px solid #288ad6;
  width: 20px;

  padding: 3px;
  overflow: hidden;
  line-height: 10px;
  border-radius: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  color: #288ad6;
  font-style: normal;
}
.cate .list aside.h-date span {
  float: right;
  width: calc(100% - 25px);
}
.cate .list table {
  width: 100%;
  word-break: break-word;
}
.cate .list table tr.nobdt td {
  border-top: 0;
  padding-top: 0;
}
.cate .list table tr.btnview td a {
  display: block;
  top: unset;
  margin: 20px auto;
  width: 300px;
  float: unset;
}
.cate .list table .btnview td {
  border-top: unset;
}
.cate .list table th {
  color: #818181;
  padding: 10px 5px;
  font-weight: normal;
  text-align: left;
}
.cate .list table td {
  border-top: 1px solid #e3e3e3;
  padding: 10px 5px;
  vertical-align: top;
  color: #818181;
  position: relative;
}
.cate .list table td:first-child {
  width: 12%;
  vertical-align: middle;
}
.cate .list table td:nth-child(2) {
  width: 47%;
}
.cate .list table td:nth-child(3) {
  width: 100px;
}
.cate .list table td:nth-child(4) {
  width: 14%;
}
.cate .list table td > a {
  width: 50px;
  float: left;
}
.cate .list table td:first-child > a {
  width: auto;
  position: relative;
  color: #288ad6;
  top: 0;
}
.cate .list table td > a > img {
  display: block;
  max-width: 100%;
}
.cate .list table td > a > img.small {
  max-width: 70%;
  margin: auto;
}
.cate .list table td > div {
  margin-left: 55px;
  min-height: 50px;
}
.cate .list table td > div > * {
  display: block;
  margin-bottom: 3px;
}
.cate .list table td > div .deliverytime {
  font-size: 13px;
}
.cate .list table td > div > a {
  color: #333;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.cate .list table td i {
  font-style: normal;
  display: block;
}
.cate .list table td > div > i {
  font-size: 12px;
  color: #666;
  font-style: normal;
}
.cate .list table td i.success {
  color: #289666;
}
.cate .list table td i.fail {
  color: #d0021b;
}
.cate .list table td > div > div {
  margin-top: 5px;
}
.cate .list table td > div > div > a {
  display: inline-block;
  vertical-align: top;
  color: #288ad6;
  font-size: 13px;
  padding-right: 20px;
}
.cate .list table td > b {
  font-weight: normal;
  color: #d0021b;
}
.cate .list a.viewmore {
  color: #288ad6;
  text-align: center;
  display: block;
  width: 300px;
  border: 1px solid #288ad6;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 25px auto;
}
.cate .list a.viewmore:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid #288ad6;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

/* =================================================================*/

* {
  margin: 0;
  padding: 0;
}
body,
input,
button,
option,
textarea,
label,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font: 14px/18px Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans,
    sans-serif;
  color: #333;
  outline: none;
}
img {
  border: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.clr {
  clear: both;
}
.hide {
  display: none !important;
}
.none {
  display: none;
}
.show {
  display: block !important;
}
img {
  background: none;
  height: auto;
}
img.lazy {
  opacity: 1 !important;
  background: none;
  height: auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hidden {
  overflow: hidden;
}
#imgtrack {
  display: none;
}
#back-top span:before {
  cursor: pointer;
  background: #fdd504;
  width: 40px;
  position: fixed;
  right: 20px;
  bottom: 45px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -transition: all 0.2s linear;
  color: #000;
  content: "▲";
  opacity: 0.7;
  z-index: 8;
}
.ps-scrollbar-y-rail {
  right: 10px !important;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #333;
}
.fixbody {
  overflow: hidden;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@font-face {
  font-family: "ROBOTO LIGHT";
  src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "ROBOTO BOLD";
  src: url("../../fonts/Roboto-Bold.ttf");
}
.iconlsmh-add {
  width: 18px;
  height: 18px;
  background: transparent url("../../images/icon-add.png") no-repeat center top;
  background-size: 18px 18px !important;
}
.iconlsmh-addressnew {
  width: 16px;
  height: 15px;
  background: transparent url(../../images/icon-address.png) no-repeat center
    top;
  background-size: 16px 15px !important;
}
.iconlsmh-atm {
  width: 39px;
  height: 21px;
  background: transparent url(../../images/icon-atm.png) no-repeat center top;
  background-size: 39px 21px !important;
}
.icon-close {
  width: 19px;
  height: 19px;
  background: transparent url(../../images/icon-close.png) no-repeat center top;
  background-size: 19px 19px !important;
}
.iconlsmh-delete {
  width: 11px;
  height: 13px;
  background: transparent
    url(https://cdn.tgdd.vn/mwgcart/orderhistory/images/icon-delete.png)
    no-repeat center top;
  background-size: 11px 13px !important;
}
.iconlsmh-edit {
  width: 13px;
  height: 13px;
  background: transparent url(../../images/icon-edit.png) no-repeat center top;
  background-size: 13px 13px !important;
}
.icon-lock {
  width: 16px;
  height: 17px;
  background: transparent url(../../images/icon-lock.png) no-repeat center top;
  background-size: 16px 17px !important;
}
.icon-phone-blue {
  width: 14px;
  height: 21px;
  background: transparent url(../../images/icon-phone-blue.png) no-repeat center
    top;
  background-size: 14px 21px !important;
}
.iconlsmh-phone-gray {
  width: 10px;
  height: 20px;
  background: transparent url(../../images/icon-phone-gray.png) no-repeat center
    top;
  line-height: normal !important;
  background-size: 10px 20px !important;
}
.icon-sim {
  width: 34px;
  height: 34px;
  background: transparent url(../../images/icon-sim.png) no-repeat center top;
  background-size: 34px 34px !important;
}
.iconlsmh-user {
  width: 14px;
  height: 15px;
  background: transparent url(../../images/icon-user.png) no-repeat center top;
  line-height: normal !important;
  background-size: 14px 15px !important;
}
.iconlsmh-visa {
  width: 90px;
  height: 20px;
  background: transparent url(../../images/icon-visa.png) no-repeat center top;
  background-size: 90px 20px !important;
}
.btn {
  background-image: linear-gradient(-106deg, #51beed 2%, #288ad6 100%);
  box-shadow: 0 2px 6px 0 #9ed4ec;
  border-radius: 100px;
  width: 302px;
  height: 50px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  max-width: 100%;
}
#dlding {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100vh;
  z-index: 99;
  display: none;
}
#dlding > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#dlding .csdot {
  width: 8px;
  height: 8px;
  border: 1px solid #288ad6;
  background: #288ad6;
  border-radius: 50%;
  float: left;
  margin: 0 2px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: fx 1000ms ease infinite 0ms;
  animation: fx 1000ms ease infinite 0ms;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
#dlding .csdot:nth-child(2) {
  -webkit-animation: fx 1000ms ease infinite 300ms;
  animation: fx 1000ms ease infinite 300ms;
}
#dlding .csdot:nth-child(3) {
  -webkit-animation: fx 1000ms ease infinite 600ms;
  animation: fx 1000ms ease infinite 600ms;
}
@keyframes fx {
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#list_order.sploading {
  height: 300px;
}
.alert_box {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
.alert_box .alert_box__container {
  width: 280px;
  background-color: #fff;
  padding: 25px 15px 15px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
}
.alert_box .alert_box__container > i {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 2;
}
.texterror {
  display: none;
  font-size: 12px;
  color: #dd4b39;
}
.alert_box .alert_box__container a.button {
  width: 50%;
  margin: auto;
  color: #fff;
  border: 1px solid #288ad6;
  background-color: #288ad6;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  display: block;
  margin-top: 10px;
}
.pop-delete > div > i.icon-close,
.popup-signin > div > i.icon-close,
.alert_box .alert_box__container > i.icon-close {
  width: 19px;
  height: 19px;
  background: transparent url(../../images/icon-close.png) no-repeat center top;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
  background: rgba(255, 255, 255, 0.6);
}
#overlay_black {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
  background: #00000094;
}
#list_order.sploading .momo_aoao,
#list_order.sploading .lds-roller {
  display: block;
}
.momo_aoao {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}
.lds-roller {
  top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  width: 80px;
  height: 80px;
  z-index: 100;
  display: none;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #288ad6;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popupbox_alert .icon-close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 19px;
  height: 19px;
  background: transparent url(../../images/icon-close.png) no-repeat center top;
  cursor: pointer;
  display: none;
}
.popupbox_alert {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 280px;
  height: max-content;
  background: #fff;
  z-index: 100;
  margin: auto;
  border-radius: 8px;
  padding: 20px 40px;
}
.popupbox_alert img {
  width: 40px;
  height: 40px;
  display: none;
  overflow: hidden;
  margin: auto;
}
.popupbox_alert h2 {
  display: none;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
.popupbox_alert .popupbox_alert-content {
  font-size: 14px;
  color: #00253a;
  padding: 10px 0;
  display: none;
  text-align: center;
}
.popupbox_alert .popupbox_alert-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.popupbox_alert .popupbox_alert-btn a {
  border: 1px solid #288ad6;
  padding: 10px 15px;
  border-radius: 4px;
  width: 48%;
  text-align: center;
  margin-right: 5%;
}
.popupbox_alert .popupbox_alert-btn a:last-child {
  margin-right: 0;
}
.popupbox_alert .popupbox_alert-btn a.popupbox_alert-btnconfirm {
  display: none;
  background: #288ad6;
  color: #fff;
}
.popupbox_alert .auto-close {
  color: #e10c00;
  text-align: center;
}
.notfound_list {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 40px 0;
}
.notfound_list > img {
  width: auto;
  height: auto;
  margin-left: -15px;
}
.notfound_list > p {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}
.notfound_list a {
  color: #288ad6;
}
.notfound_list > a.button_direct {
  border: 1px solid #288ad6;
  padding: 10px;
  display: block;
  margin: 0 auto 10px;
  width: 22%;
  border-radius: 4px;
}
.pop-delete {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none;
}
.pop-delete > div {
  width: 300px;
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 125px;
}
.pop-delete > div > * {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
.pop-delete > div > i {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 2;
}
.pop-delete > div > b {
  font-size: 18px;
}
.pop-delete > div > em {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
}
.pop-delete > div > a {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
}
.pop-delete > div > a.fl {
  color: #288ad6;
  border: 1px solid #288ad6;
  margin-left: 7%;
}
.pop-delete > div > a.fr {
  color: #fff;
  border: 1px solid #288ad6;
  margin-right: 7%;
  background-color: #288ad6;
}
.detailshortlink .pop-delete.order,
.payment .pop-delete.order {
  display: none;
}
.pop-delete.order {
  display: block;
}
.pop-delete.order > div {
  height: max-content;
}
.pop-delete.order > div > a {
  width: 48%;
  margin: auto;
}
.pop-delete.order > div > p {
  text-align: left;
}
.pop-delete.order > div > em {
  margin-top: -15px;
}
.pop-delete > div.reason-cancel > * {
  margin-bottom: 15px;
}
.pop-delete > div.reason-cancel > .note-reason {
  margin-bottom: 15px;
  text-align: left;
  padding: 0;
}
.reason-cancel .note-reason label a {
  color: #333;
}
.reason-cancel .note-reason label .iconcheck {
  background-position: -380px -30px;
  width: 16px;
  height: 16px;
  background-image: url("../../images/icondesktop2022@1x_edit.png");
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.reason-cancel .note-reason label.check .iconcheck {
  background-position: -400px -30px;
}
.pop-delete.order > div.reason-cancel > em {
  margin-top: 68px;
  text-align: center;
}
#txtEditorReason {
  display: block;
  overflow: hidden;
  width: 97%;
  background: #fff;
  min-height: 100px !important;
  border: 1px solid #dadada;
  border-radius: 4px;
  padding: 10px 1.5%;
  font-size: 14px;
  color: #333;
  outline: none;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #288ad6;
  font-size: 10px;
  margin: 80px auto;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  margin: 0 auto 40px;
  z-index: 9999;
  display: none;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -2.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 2.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.transfer {
  width: 500px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  border-radius: 4px;
  z-index: 9999;
  height: max-content;
  padding: 10px;
  box-sizing: border-box;
  max-width: 90%;
}
.transfer img.close-p {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 9px;
  height: 9px;
}
.transfer a {
  margin-left: 10px;
}
.transfer h2 {
  font-weight: bold;
  color: #2f80ed;
  padding: 5px 10px 10px 0;
  border-bottom: 1px dashed #ccc;
}
.transfer aside div {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.transfer aside {
  padding-top: 10px;
}
.transfer aside div:last-child {
  padding-bottom: 0;
}
.transfer aside div span {
  margin-right: 10px;
  color: #666;
  min-width: 90px;
}
.transfer aside div p {
  color: #000;
}
.pay > a img {
  width: auto;
  height: 27px;
  margin-left: 5px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
.boxTransfer_logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.boxTransfer_logo img {
  width: 140px;
  height: auto;
}
.boxTransfer_logo a {
  margin-left: 0;
  margin-right: 10px;
}
.boxTransfer_logo a.active {
  border: 1px solid #288ad6;
  border-radius: 4px;
}
.boxTransfer_logo a img {
  display: block;
}
.box_payment {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.box_payment a {
  background: #288ad6;
  border-radius: 3px;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 5px;
  line-height: 20px;
  min-height: 53px;
  border: 1px solid transparent;
  width: calc(50% - 6px);
  margin: 3px;
  box-sizing: border-box;
}
.box_payment a.cancel {
  background: #fff;
  color: #288ad6;
  border-color: #288ad6;
}
.box_payment a i {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.box_payment a img {
  margin-left: 5px;
  height: 27px;
  width: auto;
}
.box_payment a span {
  display: block;
  margin: auto;
  width: 100%;
  font-size: 12px;
  clear: both;
}
.box_payment a b {
  margin-left: 5px;
}
[class^="cartnew-"],
[class*="cartnew-"] {
  background-image: url("https://staging.dienmayxanh.com/cart/vue-dev/css/img/cart-mobile-1.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 133px 305px;
}
.cartnew-atm {
  background-position: 0 -73px;
  width: 38px;
  height: 20px;
  margin-left: 10px;
}
.cartnew-visa {
  background-position: -43px -74px;
  width: 23px;
  height: 18px;
}
.cartnew-mastercard {
  background-position: -70px -74px;
  width: 23px;
  height: 18px;
}
.cartnew-jcb {
  background-position: -98px -74px;
  width: 23px;
  height: 18px;
}
.cartnew-qrcode {
  background-position: -95px -25px;
  width: 30px;
  height: 30px;
}
.cartnew-moca {
  background-position: -82px -263px;
  width: 30px;
  height: 30px;
}
.cartnew-empty {
  background-position: 0 -98px;
  width: 70px;
  height: 55px;
}
.cartnew-momo {
  background-image: url("../../images/2022/logopayment/logo_momo.png") !important;
  width: 27px;
  height: 27px;
  margin-left: 10px;
  background-size: 100% 100%;
  border-radius: 4px;
}
.right {
  float: right;
  width: 75%;
  padding: 25px 0;
}
.left {
  float: left;
  width: 23%;
  padding: 25px 0;
}
.left > a {
  display: block;
  margin-bottom: 10px;
  color: #333;
  padding: 10px;
  line-height: 22px;
}
.left > a.active {
  background-color: #e8f0ff;
  color: #288ad6;
  font-weight: bold;
  border-radius: 0 20px 20px 0;
}
.left > a:before {
  content: "";
  width: 25px;
  height: 22px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 22px;
}
.left > a:first-child:before {
  background-image: url("https://cdn.tgdd.vn/mwgcart/orderhistory/images/icon-list.png");
}
.left > a:nth-child(2):before {
  background-image: url("https://cdn.tgdd.vn/mwgcart/orderhistory/images/icon-user-large.png");
}
.user {
  font-size: 15px;
  margin-bottom: 20px;
}
.user > a {
  float: right;
  color: #288ad6;
}
.user > a.logout-h {
  font-weight: 600;
}
.user > a.about-s {
  padding: 0 20px;
}
.user > a.feed-back {
  cursor: pointer;
}
#overbackgroud {
  display: none;
  background: #000;
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}
.feed-back-detail {
  line-height: 30px;
  padding: 10px;
  position: fixed;
  background: #fff;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 5px;
  display: none;
}
.feed-back-detail .close-p {
  position: absolute;
  right: 5px;
  top: 7px;
  cursor: pointer;
}
.feed-back-detail h2 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c4c4c4;
  text-transform: uppercase;
  line-height: 25px;
  padding-right: 10px;
}
.feed-back-detail .infor-user {
  font-size: 16px;
  padding-top: 10px;
}
.feed-back-detail h3 {
  font-size: 16px;
  text-align: left;
}
.feed-back-detail .feed-user {
  text-align: center;
}
.feed-back-detail textarea {
  width: 100%;
  height: 120px;
  padding: 12px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #f1f1f1;
  resize: none;
  border: 0;
  margin-top: 10px;
}
.feed-back-detail button {
  color: #333;
  background: #f1f1f1;
  border: 0;
  padding: 10px 40px;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.feed-back-detail .feed-back-suscess {
  text-align: center;
  width: 100%;
  margin: auto;
}
.feed-back-detail .feed-back-suscess h2 {
  border: 0;
  color: #1f9654;
}
.feed-back-detail .feed-back-suscess .close-p {
  display: block;
  position: unset;
  margin: auto;
}

.iconlsmh-edit {
  width: 13px;
  height: 13px;
  background: transparent
    url("https://cdn.tgdd.vn/mwgcart/orderhistory/images/icon-edit.png")
    no-repeat center top;
  background-size: 13px 13px !important;
}
.iconlsmh-add {
  width: 18px;
  height: 18px;
  background: transparent
    url("https://cdn.tgdd.vn/mwgcart/orderhistory/images/icon-add.png")
    no-repeat center top;
  background-size: 18px 18px !important;
}
.profile {
  border: 1px solid #e4e4e4;
  padding: 25px 50px;
  border-radius: 3px;
}
.profile > a.button {
  width: 250px;
  margin: 25px auto 15px auto;
  display: block;
  background-color: #288ad6;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
.profile > a.add {
  display: block;
  margin-top: 10px;
  padding: 10px 0 5px 0;
  border-top: 1px solid #ccc;
  color: #288ad6;
  cursor: pointer;
}
.profile > a.add > i {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.profile > span {
  display: block;
  margin-top: 12px;
  padding: 12px 0 0 25px;
  border-top: 1px solid #ccc;
  position: relative;
  cursor: pointer;
  line-height: 1.6;
}
.profile > span.gray {
  color: #999;
}
.profile > span.gray.line {
  color: #333;
}
.profile > span > i {
  border: 1px solid #ccc;
  width: 8px;
  height: 8px;
  padding: 3px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 17px;
}
.profile > span.active > i {
  border-color: #ef7e37;
}
.profile > span.active > i:before {
  content: "";
  display: block;
  border-radius: 50%;
  height: 100%;
  background-color: #ef7e37;
}
.profile > span > em {
  display: inline-block;
  padding: 1px 10px;
  font-style: normal;
  background-color: #f99406;
  color: #fff;
  margin: 2px 0 3px 0;
  font-size: 12px;
  border-radius: 2px;
}
.profile > span > a {
  display: inline-block;
  vertical-align: top;
  color: #288ad6;
  font-size: 13px;
  text-decoration: none;
}
.profile > span > a > i {
  display: inline-block;
  vertical-align: top;
  margin: 3px 5px 0 0;
}
.profile > div > * {
  display: inline-block;
  vertical-align: top;
}
.profile > div > span {
  margin-right: 15px;
  font-size: 15px;
  cursor: pointer;
}
.profile > div > span > i {
  display: inline-block;
  vertical-align: top;
  margin: 1px 5px 10px 0;
  border: 1px solid #ccc;
  width: 8px;
  height: 8px;
  padding: 3px;
  border-radius: 50%;
  background-color: #fff;
}
.profile > div > span.active > i {
  border-color: #ef7e37;
}
.profile > div > span.active > i:before {
  content: "";
  display: block;
  border-radius: 50%;
  height: 100%;
  background-color: #ef7e37;
}
.profile > div > span > b {
  font-weight: normal;
}
.profile > h3 {
  font-size: 20px;
}
.profile > h3:first-child {
  margin-bottom: 15px;
}
.profile > input {
  width: 46.5%;
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}
.profile > input:nth-child(4) {
  float: right;
}
.profile > form {
  padding: 15px;
  background-color: #f1f1f1;
  margin-top: 10px;
  position: relative;
}
.profile > form span {
  display: flex;
  cursor: pointer;
}
.profile > form > span.active > i {
  background-color: #288ad6;
}
.profile > form > span.active > i:after {
  content: "";
  display: block;
  width: 3px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  background: none;
  margin: 1px 0 0 6px;
  border-radius: 0;
}
.profile > form > span > b {
  font-weight: normal;
}
.profile > form > span > * {
  display: inline-block;
  vertical-align: top;
}
.profile > form > span > i {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-right: 5px;
  background-color: #fff;
  cursor: pointer;
}
.profile > form > input {
  height: 31.2px;
  line-height: 38px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 49%;
  padding: 0 1.5%;
  vertical-align: top;
  box-sizing: border-box;
}
.profile > form:before,
.profile > form:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 40px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #f1f1f1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.profile > form > div.inline,
.profile > form > select.inline {
  width: 49%;
  margin: 0 0 10px 0;
  position: relative;
  z-index: 2;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  color: #288ad6;
  cursor: pointer;
}
.profile > form div.province {
  z-index: 4;
}
.profile > form > div.inline > span {
  color: #288ad6;
  padding: 0 15px 0 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: block;
  height: 38px;
  line-height: 38px;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}
.profile > form > div.inline > span:after {
  content: "";
  width: 0;
  right: 0;
  border-top: 6px solid #288ad6;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  vertical-align: middle;
  margin: 17px 10px 0 0;
  float: right;
  position: absolute;
}
.profile > form div.select {
  position: absolute;
  width: calc(96% - 2px);
  padding: 10px 2%;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  top: 44px;
  display: none;
  z-index: 9;
}
.profile > form div.select > * {
  display: block;
}
.profile > form div.select > .o-search {
  position: relative;
}
.profile > form div.select:before,
.profile > form div.select:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.profile > form div.select:after {
  border-width: 9px;
  margin-left: 1px;
  border-bottom-color: #fff;
}
.profile > form div.select > .o-search > input {
  height: 30px;
  line-height: 30px;
  padding: 0 4% 0 2%;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: calc(94% - 2px);
}
.profile > form div.select > .o-search > button {
  border: none;
  width: 30px;
  height: 32px;
  margin-left: -30px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.profile > form div.select > .list {
  position: relative;
  max-height: 150px;
  overflow: hidden;
  overflow-y: scroll;
}
.profile > form div.select > .list > div.item {
  width: 47%;
  float: left;
}
.profile > form div.select > .list > div.item > a {
  display: block;
  padding: 10px 0 0 0;
  color: #288ad6;
}
.profile > form div.district {
  z-index: 3;
}
.profile > form p.frmAddress_error {
  display: none;
  padding: 0 0 10px 0;
  color: #f00;
}
.profile > form > div.inline.error > span,
.profile > form > input.error {
  border-color: #f00;
}
@media screen and (max-width: 640px) {
  .profile {
    padding: 10px;
  }
  .profile > input {
    width: 42%;
  }
  .profile > form > div.inline > span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .profile > form > div.inline > span:after {
    float: unset;
    position: absolute;
    top: 17px;
    right: 10px;
    bottom: 0;
    margin: auto;
    display: block;
  }
  .profile > form div.select > .list > div.item {
    box-sizing: border-box;
    padding: 0 5px;
  }
  .profile > form div.select {
    width: calc(200% - 2px);
  }
  .profile form #ddlDistrict div.select {
    left: unset;
    right: 0;
  }
  .profile form #ddlDistrict div.select:before,
  .profile form #ddlDistrict div.select:after {
    left: unset;
    right: 50px;
  }
  .profile > a.link {
    text-align: center;
    padding: 10px 0;
    color: #288ad6;
    display: block;
    margin-top: 15px;
  }
}

.detail {
  padding: 25px 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.detail .title {
  padding-bottom: 10px;
  display: block;
  font-size: 20px;
  font-weight: normal;
}
.detail .title > p {
  text-transform: uppercase;
}
.detail .title > span {
  float: right;
  font-size: 14px;
  color: #666;
}
.detail .title > p {
  margin-bottom: 5px;
}
.detail .item {
  overflow: hidden;
  border-top: 1px solid #e6e6e6;
  padding: 15px 10px 10px;
}
.detail .item > a.fl {
  width: 10%;
  margin: 3px 2% 0 0;
}
.detail .item > a.fl > img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.detail .item > div.fl {
  width: 70%;
}
.detail .item > div.fl > * {
  display: block;
  margin-bottom: 5px;
}
.detail .item > div.fl > a {
  max-height: 36px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}
.detail .item > div.fl > p {
  font-size: 12px;
  color: #666;
  margin-bottom: 3px;
  padding-left: 10px;
  position: relative;
  line-height: 1.5;
}
.detail .item > div.fl > p:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #d8d8d8;
  left: 0;
  top: 6px;
  position: absolute;
}
.detail .item > div.fl > p > a {
  color: #288ad6;
}
.detail .item > div.fl > aside label {
  cursor: pointer;
  color: #288ad6;
  font-size: 12px;
  position: relative;
}
.detail .item > div.fl > aside label::after {
  content: "";
  width: 0;
  right: -20px;
  border-top: 6px solid #288ad6;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  vertical-align: middle;
  float: right;
  position: absolute;
  top: 5px;
}
.detail .item > div.fl > aside p {
  display: none;
  font-size: 12px;
  color: #666;
  margin-bottom: 3px;
  padding-left: 10px;
  position: relative;
  line-height: 1.5;
}
.detail .item > div.fl > aside p:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #d8d8d8;
  left: 0;
  top: 6px;
  position: absolute;
}
.detail .item > div.fl > aside p > a {
  color: #288ad6;
}
.detail .item > div.fl > i {
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
  margin: 7px 10px 0 0;
  font-style: normal;
  font-size: 13px;
  color: #666;
}
.detail .item > div.fl > i > b {
  color: #333;
  font-weight: normal;
}
.detail .item > div.fr {
  width: 15%;
}
.detail .item > div.fr > * {
  display: block;
  text-align: right;
  margin-bottom: 5px;
  font-size: 14px;
}
.detail .item > div.fr > b {
  color: #f30c28;
  font-weight: normal;
}
.detail .item > div.fr > em {
  font-style: normal;
  text-decoration: line-through;
}
.detail .bill {
  padding: 25px 10px;
}
.detail .bill > img {
  display: block;
  margin: auto;
  max-width: 60px;
}
.detail .bill > span {
  display: block;
  text-align: center;
  margin: 15px 0;
}
.detail .bill > p {
  text-align: left;
  width: 370px;
  margin: 0 auto 15px auto;
}
.detail .bill > p > * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.detail .bill > p > *:first-child {
  width: 120px;
  margin-right: 20px;
}
.detail .bill > p > *:nth-child(2) {
  max-width: calc(100% - 145px);
  min-width: 40%;
}
.detail .bill > p > strong {
  color: #f30c28;
}
.detail .airtime > p > *:nth-child(2) {
  min-width: 100px;
}
.detail .card {
  padding: 25px 10px;
}
.detail .card > img {
  display: block;
  margin: auto;
  max-width: 60px;
}
.detail .card > span {
  display: block;
  text-align: center;
  margin: 15px 0;
}
.detail .card > p {
  text-align: left;
  width: 370px;
  margin: 0 auto 15px auto;
}
.detail .card > p > * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.detail .card > p > *:first-child {
  width: 100px;
  padding-right: 10px;
}
.detail .card > p > *:nth-child(2) {
  max-width: calc(100% - 95px);
  min-width: 35%;
}
.detail .card > p > strong {
  color: #f30c28;
}
.detail .card > p.line > * {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}
.detail .card .confirm-otp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.detail .card .confirm-otp span {
  margin-bottom: 15px;
}
.detail .card #frmGetVerifyCode .btn {
  padding: 20px;
  display: flex;
  margin: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}
.detail .card #frmSubmitVerifyCode {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.detail .card #frmSubmitVerifyCode input {
  padding: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}
.detail .card #frmSubmitVerifyCode label,
.detail .card #frmGetVerifyCode label {
  margin-bottom: 10px;
  color: #f00;
}
.detail .card #frmSubmitVerifyCode a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail .card #frmGetVerifyCode {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.detail .sum {
  padding: 15px 10px 10px 500px;
  border-bottom: 2px solid #e6e6e6;
  border-top: 1px solid #d6dfe7;
}
.detail .sum > span {
  display: block;
  margin-bottom: 7px;
}
.detail .sum > span > *:not(strong) {
  float: right;
}
.detail .sum > span > *:first-child {
  display: inline-block;
  vertical-align: top;
  float: none;
}
.detail .sum > span > i {
  font-style: normal;
}
.detail .sum > span > b {
  font-size: 15px;
  color: #f30c28;
}
.detail .sum > span > strong.paid:before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background: transparent
    url("	https://cdn.tgdd.vn/mwgcart/orderhistory/images/success.png") no-repeat
    center top;
  background-size: 16px 16px;
  margin-right: 5px;
}
.detail .info {
  padding: 15px 0 3px 0;
  overflow: hidden;
}
.detail .info > * {
  display: block;
  padding: 0 10px;
  margin-bottom: 7px;
}
.detail .info > span {
  position: relative;
  padding-left: 20px;
  line-height: 1.5;
}
.detail .info > span.receiver {
  display: inline-block;
  text-transform: capitalize;
}
.detail .info > span:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #d8d8d8;
  left: 10px;
  top: 6px;
  position: absolute;
}
.detail .info > a {
  color: #288ad6;
  display: inline-block;
  padding: 0;
}
.detail .info > form {
  padding: 15px 0 15px 10px;
  background-color: #f3f3f3;
  position: relative;
  margin-top: 5px;
  display: none;
}
.detail .info > form:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 25px;
  border-bottom: 10px solid #f3f3f3;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.detail .info > form > * {
  display: inline-block;
  vertical-align: top;
}
.detail .info > form > span {
  margin-right: 5px;
  cursor: pointer;
}
.detail .info > form > span > i {
  display: inline-block;
  vertical-align: top;
  margin: 1px 5px 10px 0;
  border: 1px solid #ccc;
  width: 8px;
  height: 8px;
  padding: 3px;
  border-radius: 50%;
  background-color: #fff;
}
.detail .info > form > span.active > i {
  border-color: #ef7e37;
}
.detail .info > form > span.active > i:before {
  content: "";
  display: block;
  border-radius: 50%;
  height: 100%;
  background-color: #ef7e37;
}
.detail .info > form > .name_field,
.detail .info > form > .phone_field {
  width: 50%;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
}
.detail .info > form input {
  width: calc(100% - 20px);
  padding: 8px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.detail .info > form > button {
  background: #288ad6;
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
  border: none;
  color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  clear: both;
}
.detail .installment {
  padding: 15px 0 0 0;
  border-top: 2px solid #d6dfe7;
}
.detail .installment > * {
  display: block;
  margin-bottom: 8px;
  padding: 0 10px;
}
.detail .installment > div {
  border-bottom: 2px solid #d6dfe7;
  padding-top: 5px;
  margin-bottom: 10px;
}
.detail .installment > span {
  padding-left: 12px;
  position: relative;
}
.detail .installment > span:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d8d8d8;
  left: 0;
  top: 6px;
  position: absolute;
}
.detail .installment > span > b {
  color: #f30c28;
}
.detail .groupdelivery_header {
  padding: 10px;
  background: #ededed;
}
.detail .groupdelivery_header .gdheader_status {
  float: right;
  font-size: 14px;
  color: #666;
}
.detail .title > span > i,
.groupdelivery_header .gdheader_status > i {
  font-style: normal;
  color: #333;
}
.detail .title > span > i.fail,
.groupdelivery_header .gdheader_status > i.fail {
  color: #d0021b;
}
.detail .title > span > i.success,
.groupdelivery_header .gdheader_status > i.success {
  color: #289666;
}
.pay {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #d6dfe7;
}
.pay div.paycod {
  text-align: left;
  padding: 0 10px 10px;
}
.pay > h3 {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 0 10px 10px;
}
.pay div.paycod div.hd {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}
.pay div.paycod div > span {
  display: inline-block;
  margin-top: 5px;
}
.pay div.paycod div > span > label {
  cursor: pointer;
}
.pay div.paycod div > span > label.choose > i {
  border-color: #f89406;
}
.pay div.paycod div > span > label.choose > i:after {
  content: "";
  display: block;
  background-color: #f89406;
  border-radius: 50%;
  height: 100%;
}
.pay div.paycod div > span > label > i {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-right: 2px;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}
.pay div.paycod b {
  color: #c10017;
  vertical-align: top;
}
.popup-signin,
.popup-otp {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 99;
}
.popup-signin > div,
.popup-otp > div {
  width: 300px;
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: max-content;
}
.popup-signin > div.reason-cancel > *,
.popup-otp > div.reason-cancel > * {
  margin-bottom: 15px;
}
.popup-signin > div > i,
.popup-otp > div > i {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 2;
  background: transparent url("../../images/icon-close.png") no-repeat center;
}
.popup-signin > div > b,
.popup-otp > div > b {
  font-size: 18px;
}
.popup-signin > div > *,
.popup-otp > div > * {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
.popup-signin > div > a,
.popup-otp > div > a {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
  margin-bottom: 0 !important;
}
.popup-signin > div > a.fl,
.popup-otp > div > a.fl {
  color: #288ad6;
  border: 1px solid #288ad6;
  margin-left: 7%;
}
.popup-signin > div > a.fr,
.popup-otp > div > a.fr {
  color: #fff;
  border: 1px solid #288ad6;
  margin-right: 7%;
  background-color: #288ad6;
}
.popup-signin.order > div > a,
.popup-otp.order > div > a {
  width: 48%;
  margin: auto;
}
.popup-otp aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.popup-otp aside input {
  width: 60%;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  margin-right: 3%;
  box-sizing: border-box;
}
.popup-otp aside input.error {
  border-color: #f00;
}
.popup-otp aside a {
  width: 37%;
  padding: 10px;
  box-sizing: border-box;
  background: #fb6e2e;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.popup-otp p a {
  color: #288ad6;
}
.popup-otp > div {
  padding: 30px 10px 10px;
}
.popup-otp p.p-error {
  padding: 30px 10px 10px;
}
.popup-otp label.p-error {
  display: block;
  overflow: hidden;
  clear: both;
  color: #f00;
  font-size: 12px;
  text-align: center;
}
.popup-success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.popup-success h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  padding: 0 0 10px 0;
}
.popup-success p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.popup-success i {
  background: url("../images/icon_ok.png") no-repeat top center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  margin: 0 0 10px 0;
}
.alert_box .alert_box__container .popup-success a.button {
  background: #fff;
  border-color: #288ad6;
  color: #288ad6;
  padding: 10px;
  margin-top: 30px;
}
.insurance {
  padding: 15px 0 20px;
  border-top: 1px solid #e0e0e0;
  margin-top: 5px;
}
.insurance h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #333;
  padding-bottom: 20px;
}
.insurance ul {
  display: flex;
  flex-flow: column;
}
.insurance ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.insurance ul li span {
  min-width: 200px;
  padding-right: 20px;
  box-sizing: border-box;
}
.insurance .insurance_support {
  display: block;
  margin-top: 10px;
}
.insurance .insurance_support a {
  font-weight: bold;
}
