<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate=" ~{dtdd.html}"
>
  <head> </head>
  <body>
    <!-- Top Banner Phone-->
    <div th:fragment="top-banner" class="top-banner">
      <section>
        <div class="slider-bannertop owl-carousel owl-theme">
          <div class="item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1554"
              href="uu-dai-soc.html#dtdd"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55276&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                src="../cdn.tgdd.vn/2022/05/banner/xk-smart-800-200-800x200.png"
                alt="big xả kho"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1554"
              href="dtdd/samsung-galaxy-s22-ultra-5g-256gb-dac-biet.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=56002&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/s22-800-200-800x200-1.png"
                alt="S22"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1554"
              href="dtdd-apple-iphone-13-series.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55814&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-116.png"
                alt="iPhone 13"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1554"
              href="dtdd/poco-c40.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55955&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/poco40-800-200-800x200.png"
                alt="POCO"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1554"
              href="dtdd/vivo-y33s.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55460&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-24.png"
                alt="Vivo Y33s"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1554"
              href="dtdd/oppo-reno6-z-5g.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55270&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/xk-reno6-800-200-800x200.png"
                alt="Reno7"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1554"
              href="dtdd/nokia-c21-plus-32gb/index.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55927&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/800-200-800x200-105.png"
                alt="Nokia C21plus"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1554"
              href="khuyen-mai-soc/note-11-series.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55185&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/05/banner/xk-redmi11-800-200-800x200.png"
                alt="đt"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1554"
              href="dtdd-realme.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55308&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/05/banner/800-200-800x200-221.png"
                alt="Realme"
            /></a>
          </div>
          <div class="item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1554"
              href="dtdd-samsung-galaxy-a.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55220&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                width="800"
                height="200"
                loading="lazy"
                class="lazyload owl-lazy"
                data-src="//cdn.tgdd.vn/2022/06/banner/xk-aseri-800-200-800x200.png"
                alt="A series"
            /></a>
          </div>
        </div>
        <div class="promote-banner">
          <a href="Fold%20Flip.html" class="promote-item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1555"
              href="dtdd-samsung-galaxy-m.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55798&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                src="../cdn.tgdd.vn/2022/06/banner/Sticky-390x97-1.png"
                alt="Samsung"
            /></a>
          </a>
          <a href="dtdd-oppo.html" class="promote-item">
            <a
              aria-label="slide"
              data-cate="42"
              data-place="1555"
              href="dtdd/oppo-a95-4g.html"
              onclick="jQuery.ajax({ url: '/bannertracking?bid=55272&r='+ (new Date).getTime(), async: true, cache: false });"
              ><img
                src="../cdn.tgdd.vn/2022/05/banner/sticky-a95-390-97-390x97.png"
                alt="OPPO"
            /></a>
          </a>
        </div>
      </section>
    </div>
    <!-- End -->
  </body>
</html>
