<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head> </head>
  <body>
    <div th:fragment="big-banner" class="big-banner">
      <a
        aria-label="slide"
        data-cate="0"
        data-place="1998"
        href="uu-dai-soc6b46.html?itm_source=home_page&amp;itm_medium=&amp;itm_campaign=xa_hang_ton-kho&amp;itm_content="
        onclick="jQuery.ajax({ url: '/bannertracking?bid=55886&r='+ (new Date).getTime(), async: true, cache: false });"
        ><img
          width="1920"
          height="920"
          src="cdn.tgdd.vn/2022/06/banner/Banner-Big-1920x450-1920x450.jpg"
          alt="Banner Big Campaign"
      /></a>
    </div>
  </body>
</html>
