<!DOCTYPE html>
<html
  lang="vi-VN"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout-admin.html}"
>
  <!-- Main Content -->
  <div layout:fragment="content" class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Welcome Admin</h3>
            <h6 class="font-weight-normal mb-0">
              All systems are running smoothly!
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card-people mt-auto">
          <img th:src="@{/images/admin/dashboard/people-3.svg}" alt="people" />
        </div>
      </div>
      <div class="col-md-6 grid-margin transparent">
        <div class="row">
          <h1>Now, you can edit or upload to your website</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Content -->
</html>
